@use "../../../node_modules/@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

.search-bar {
  box-sizing: border-box;
  height: 40px;
  background-color: tokens.$color-bg-white;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  &.large {
    width: 362px;
  }

  &.closed {
    display: inline-flex;
    width: auto;
  }

  & .search-bar-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;

    & a {
      text-decoration: none;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      color: #0A8276;
      cursor: pointer;
    }

    & ifx-search-field {
      width: 100%;
    }

    // & a:hover { 
    //   cursor: pointer;
    //   color: #0A8276;
    // }
  }

  .search-bar__icon-wrapper {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & a {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: tokens.$color-text-black;
      text-decoration: none;
      display: flex;
      align-items: center;
      flex: none;
      order: 1;
      flex-grow: 0;
      padding-left: 11px;
    }

    & ifx-icon:hover {
      cursor: pointer;
    }
  }
}