@use "~@infineon/design-system-tokens/dist/tokens";

:host {
  width: 100%; //revert
  display: flex;
}

.search-bar {
  box-sizing: border-box;
  height: tokens.$ifxSize500;
  background-color: tokens.$ifxColorBaseWhite;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-family: var(--ifx-font-family); // tokens.$ifxFontFamilyBody;



  &.closed {
    display: flex;
    width: auto;
    justify-content: flex-start;
  }

  & .search-bar-wrapper {
    display: flex;
    align-items: center;
    gap: tokens.$ifxSpace200;
    width: 100%;

    & a {
      
      text-decoration: none;
      font-size: tokens.$ifxFontSizeM;
      font-style: normal;
      font-weight: tokens.$ifxFontWeightSemibold;
      line-height: tokens.$ifxLineHeightM;
      color: tokens.$ifxColorOcean500;
      cursor: pointer;
      &:focus{
    outline: none;
      box-shadow: 0 0 0 2px tokens.$ifxColorBaseWhite, 0 0 0 4px tokens.$ifxColorOcean500;
    }

  }
    & ifx-search-field {
      width: 100%;
    }
  }

  .search-bar__icon-wrapper {
    display: none;
    flex-direction: row;
    align-items: center;

    & ifx-icon:hover {
      cursor: pointer;
    }
  }

  &.closed {
    .search-bar__icon-wrapper {
      display: flex;
    }

    .search-bar-wrapper {
      display: none;
    }
  }
}