@use "~@infineon/design-system-tokens/dist/tokens";

:host {
  display: inline-flex;
}

.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-family: var(--ifx-font-family); // tokens.$ifxFontFamilyBody;
  flex-wrap: wrap;

  & .items__per-page-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;

    & .items__per-page-label {
      color: #1D1D1D;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
    }

    & .items__per-page-field {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & ifx-select {
        width: 92px;
      }
    }
  }

  & .items__total-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    & .items__total-button {
      display: flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      border: 1px solid #BFBBBB;
      background: #FFF;
    }

    & .page__numbers-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;

      & .page__number-item {
        display: flex;
        padding: 6px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 100px;

        &.active {
          background-color: #0A8276;

          & span {
            color: #fff;
          }
        }

        &:hover {
          cursor: pointer;
        }

        &:hover:not(.active) {
          background-color: #ddd;

        }

        &:active:not(.active) {
          background-color: #575352;
        }

        & span {
          display: flex;
          width: 16px;
          height: 16px;
          flex-direction: column;
          justify-content: center;
          color: #1D1D1D;
          text-align: center;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }
  }
}


.pagination {
  display: flex;

  & ifx-icon-button:first-of-type {
    margin-right: 12px;
  }

  & ifx-icon-button:last-of-type {
    margin-left: 12px;
  }
}

.page__button {
  padding: 8px;
  border-radius: 100px;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;

  &:hover:not(.active) {
    & page__button {
      background-color: #EEEDED;
    }
  }

  &:active:not(.active) {
    & .page__button {
      background-color: #575352;
      color: #fff;
    }
  }

  &.active {
    background-color: #0A8276;

    & .page__button {
      color: #fff;
    }
  }

  &:hover {
    cursor: pointer;
  }

  & .page__button {
    text-decoration: none;
    display: flex;
    width: 16px;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    color: #1D1D1D;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    align-items: center;
  }
}

.prev,
.next {
  &.disabled {
    cursor: default;

    &:hover {
      cursor: default;
      text-decoration: none;
    }
  }
}

.prev {
  margin-right: 2.5px;
}

.next {
  margin-left: 2.5px;
}

@media (max-width: tokens.$ifxBreakpointM) {
  .container {
    gap: tokens.$ifxSpace200;
    justify-content: left;

    .items__total-wrapper {
      .pagination {
        ol {
          gap: tokens.$ifxSpace150;
        }
      }
    }
  }
}

@media (max-width: 374px) {
  .pagination {
    .ellipsis + .active {
      margin-left: tokens.$ifxSpace100;
    }

    .active + .ellipsis {
      margin-left: tokens.$ifxSpace100;
    }
  }
}
