@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

.alert {
  display: flex;
  border: 1px solid tokens.$color-default-500;
  border-radius: 1px;
  color: tokens.$color-text-black;
  background-color: tokens.$color-bg-white;

  & .close-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
  
    & a {
      line-height: 0;
      color: tokens.$color-text-black;
    }
  }

  & .icon-wrapper {
    position: relative;
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tokens.$color-default-500;
  }

  & .alert-text {
    font-size: 16px;
    width: 100%;
    padding: 12px 0px 12px 12px;
    color: tokens.$color-text-black;
  
    white-space: pre-wrap;
    /* wraps text at spaces and within words */
    word-wrap: break-word;
    /* breaks text within a word if necessary */
    overflow-wrap: anywhere;
    /* breaks text at arbitrary points when needed */
  }

  &.primary { 
    border: 1px solid tokens.$color-default-500;

    & .icon-wrapper {
      background-color: tokens.$color-default-500;
      color: tokens.$color-text-white;
    }
  }

  &.secondary {
    border: 1px solid tokens.$color-highlight-500;

    & .icon-wrapper {
      background-color: tokens.$color-highlight-500;
      color: tokens.$color-text-white;
    }
  }

  &.success { 
    border: 1px solid tokens.$color-success-500;

    & .icon-wrapper {
      background-color: tokens.$color-success-500;
      color: tokens.$color-text-white;
    }
  }

  &.danger {
    border: 1px solid tokens.$color-danger-500;
  
    & .icon-wrapper {
      background-color: tokens.$color-danger-500;
      color: tokens.$color-text-white;
    }
  }

  &.warning {
    border: 1px solid tokens.$color-warning-500;
  
    & .icon-wrapper {
      background-color: tokens.$color-warning-500;
      color: tokens.$color-text-white;
    }
  }
}
