@use "~@infineon/design-system-tokens/dist/tokens";

:host {
  display: block;
}

.alert__info-wrapper {
  display: flex;
  padding: 16px 24px;
  font-family: var(--ifx-font-family); // tokens.$ifxFontFamilyBody;


  box-shadow: 0px 6px 9px 0px #1D1D1D1A;

  & .info__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: tokens.$ifxSpace100;
    width: 100%;

    & .info__headline-wrapper {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & .info__headline-wrapper,
    .info__description-wrapper {
      color: #1D1D1D;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;

      ::slotted(p) {
        padding: 0;
        margin: 0;
      }
    }

    & .info__description-wrapper {
      font-weight: 400;
    }
  }

  & .close-icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    //min-width: tokens.$ifxSize500;

    & button {
      all: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      color: tokens.$ifxColorBaseBlack;
      height: tokens.$ifxSize300;
      width: tokens.$ifxSize300;


      &:focus {
        outline: 2px solid tokens.$ifxColorOcean500;
        outline-offset: 2px;
      }
    }
  }
}

.alert {
  display: flex;
  border: 1px solid tokens.$ifxColorOcean500;
  border-radius: tokens.$ifxBorderRadius12;
  color: tokens.$ifxColorBaseBlack;
  background-color: tokens.$ifxColorBaseWhite;
  font-family: var(--ifx-font-family); // tokens.$ifxFontFamilyBody;


  box-shadow: 0px 6px 9px 0px #1D1D1D1A;


  & .close-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: tokens.$ifxSize500;

    & button {
      all: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      color: tokens.$ifxColorBaseBlack;
      height: tokens.$ifxSize300;
      width: tokens.$ifxSize300;

      &:focus {
        outline: 2px solid tokens.$ifxColorOcean500;
        outline-offset: 2px;
      }
    }
  }

  & .icon-wrapper {
    position: relative;
    min-width: tokens.$ifxSize600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tokens.$ifxColorOcean500;
  }

  & .alert-text {
    font-size: 16px;
    width: 100%;
    padding: 12px 0px 12px 12px;
    color: tokens.$ifxColorBaseBlack;

    white-space: pre-wrap;
    /* wraps text at spaces and within words */
    word-wrap: break-word;
    /* breaks text within a word if necessary */
    overflow-wrap: anywhere;
    /* breaks text at arbitrary points when needed */
  }

  &.primary {
    border: 1px solid tokens.$ifxColorOcean500;

    & .icon-wrapper {
      background-color: tokens.$ifxColorOcean500;
      color: tokens.$ifxColorBaseWhite;
    }
  }

  &.success {
    border: 1px solid tokens.$ifxColorGreen500;

    & .icon-wrapper {
      background-color: tokens.$ifxColorGreen500;
      color: tokens.$ifxColorBaseWhite;
    }
  }

  &.danger {
    border: 1px solid tokens.$ifxColorRed500;

    & .icon-wrapper {
      background-color: tokens.$ifxColorRed500;
      color: tokens.$ifxColorBaseWhite;
    }
  }

  &.warning {
    border: 1px solid tokens.$ifxColorOrange500;

    & .icon-wrapper {
      background-color: tokens.$ifxColorOrange500;
      color: tokens.$ifxColorBaseWhite;
    }
  }
}

.close-icon-wrapper {
  & ifx-icon {
    &:hover {
      cursor: pointer;
    }
  }
}