@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host { 
  display: block;
}

.alert {
  display: flex;
  border: 1px solid tokens.$ifxColorOcean500;
  border-radius: tokens.$ifxBorderRadius12;
  color: tokens.$ifxColorBaseBlack;
  background-color: tokens.$ifxColorBaseWhite;

  & .close-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: tokens.$ifxSize500;

    & a {
      line-height: 0;
      color: tokens.$ifxColorBaseBlack;
    }
  }

  & .icon-wrapper {
    position: relative;
    min-width: tokens.$ifxSize600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tokens.$ifxColorOcean500;
  }

  & .alert-text {
    font-size: 16px;
    width: 100%;
    padding: 12px 0px 12px 12px;
    color: tokens.$ifxColorBaseBlack;

    white-space: pre-wrap;
    /* wraps text at spaces and within words */
    word-wrap: break-word;
    /* breaks text within a word if necessary */
    overflow-wrap: anywhere;
    /* breaks text at arbitrary points when needed */
  }

  &.primary {
    border: 1px solid tokens.$ifxColorOcean500;

    & .icon-wrapper {
      background-color: tokens.$ifxColorOcean500;
      color: tokens.$ifxColorBaseWhite;
    }
  }

  &.secondary {
    border: 1px solid tokens.$ifxColorBerry500;

    & .icon-wrapper {
      background-color: tokens.$ifxColorBerry500;
      color: tokens.$ifxColorBaseWhite;
    }
  }

  &.danger {
    border: 1px solid tokens.$ifxColorRed500;

    & .icon-wrapper {
      background-color: tokens.$ifxColorRed500;
      color: tokens.$ifxColorBaseWhite;
    }
  }

  &.warning {
    border: 1px solid tokens.$ifxColorOrange500;

    & .icon-wrapper {
      background-color: tokens.$ifxColorOrange500;
      color: tokens.$ifxColorBaseWhite;
    }
  }
}