@use "~@infineon/design-system-tokens/dist/tokens";

:host {
  z-index: 1000;
}

.navbar-menu {
  display: flex;
  visibility: visible;
  flex-direction: column;
  width: 224px;
  max-height: 289px;
  min-width: 224px;
  overflow-y: auto;
  background: tokens.$ifxColorBaseWhite;
  box-shadow: 0px 6px 9px 0px #1d1d1d1a;
  border: 1px solid tokens.$ifxColorEngineering200;
  padding: 8px 0px;
  font-family: var(--ifx-font-family);

}