@use "~@infineon/design-system-tokens/dist/tokens";

.navbar__container-left-content-navigation-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px;
  gap: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;

  &.hideElement { 
    display: none;
  }

  &:hover { 
    color: tokens.$ifxColorOcean500;
    & a { 
      color: tokens.$ifxColorOcean500;
    }
  }

  &.remove {
    display: none;
  }

  & a {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    //line-height: 24px;
    color: tokens.$ifxColorBaseBlack;
    text-decoration: none;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &.removeLabel {
    & a {
      display: none;
    }
  }

  & .navbar__container-right-content-navigation-item-icon-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;

    &.removeWrapper {
      display: none;
    }

    &.hide {
      display: none;
    }
  }

  & .navbar__container-right-content-navigation-item-navigation-profile {
    position: relative;
    width: 24px;
    height: 24px;
    background: tokens.$ifxColorOcean500;
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: none;

    &.show {
      display: flex;
    }

    & a {
      position: absolute;
      width: 22px;
      height: 20px;
      left: calc(50% - 22px/2);
      top: calc(50% - 20px/2);
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: tokens.$ifxColorBaseWhite;
    }
  }
}


// @media screen and (min-width: 720px) {  
//   .navbar__container-left-content-navigation-item { 
//     & a { 
//       display: none;
//     }
//   }
// }

// @media screen and (min-width: 1024px) { 
//   .navbar__container-left-content-navigation-item { 
//     & a { 
//       display: flex;
//     }
//   }
// }