@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

.navbar__menu-item {
  text-decoration: none;
  color: tokens.$ifxColorBaseBlack;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;

  &.hide {
    display: none;
  }

  & span {
    color: tokens.$ifxColorBaseBlack;
    font-family: var(--ifx-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
  }

  &:hover {
    cursor: pointer;
    background-color: tokens.$ifxColorEngineering200;
  }

  &:active {
    background-color: tokens.$ifxColorEngineering300;
  }
}

.icon {
  margin-right: 4px;
}