:host { 
  flex-shrink: 0;
}

.multiSelectInput__item-container { 
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  border: 1px solid;
  border-radius: 4px;
  padding: 0 8px;
  flex-shrink: 0;

  & .multiSelectInput__item-content { 
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  & .multiSelectInput__item-icon { 
    display: flex;
    align-items: center;

    & ifx-icon svg { 
      width: 10px;
    }
  }
}