@use "~@infineon/design-system-tokens/dist/tokens";

:host {
  height: 100%;
  display: inline-flex;
}

.sidebar__container {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  background-color: tokens.$ifxColorBaseWhite;
  border-right: 1px solid #EEEDED;
  width: 264px;
  height: 100%;
  font-family: var(--ifx-font-family); // tokens.$ifxFontFamilyBody;

  &--collapsed {
    width: tokens.$ifxSize600;

    .sidebar__hide-menu,
    .sidebar__nav-bar,
    .sidebar__nav-container {
      padding: tokens.$ifxSpace150 tokens.$ifxSpace100 !important;
    }


    .sidebar__nav-bar-logo-text,
    .sidebar__hide-menu-text {
      display: none !important;
    }

    .sidebar__footer-container {
      display: none !important;
    }

    .sidebar__nav-bar {

      .sidebar__nav-bar-logo {
        svg {
          width: tokens.$ifxSize400 !important;
          height: auto !important;
        }

        .sidebar__nav-bar-logo-text {
          display: none !important;
        }
      }
    }

    .sidebar__hide-menu {
      padding: tokens.$ifxSpace150 tokens.$ifxSpace200;
      justify-content: center;
    }
  }

  & .sidebar__top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    flex: 1 1 auto;
    order: 0;
    z-index: 0;
    width: 100%;
    overflow-y: auto;

    //max-height: 440px;
    //overflow-y: auto;

    & .sidebar__nav-bar {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 12px 32px;
      background-color: tokens.$ifxColorBaseWhite;
      flex: none;
      order: 0;
      flex-grow: 0;
      width: 100%;

      & .sidebar__nav-bar-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: tokens.$ifxSpace200;
        flex: none;
        order: 0;
        flex-grow: 0;

        & .sidebar__nav-bar-logo-img {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0px;
          flex: none;
          order: 0;
          flex-grow: 0;

          & svg {
            width: 91px;
            height: tokens.$ifxSize500;
          }
        }

        & .sidebar__nav-bar-logo-text {
          font-style: normal;
          font-weight: tokens.$ifxFontWeightSemibold;
          font-size: tokens.$ifxFontSizeM;
          line-height: tokens.$ifxLineHeightM;
          display: flex;
          align-items: center;
          color: tokens.$ifxColorBaseBlack;
          flex: none;
          order: 1;
          flex-grow: 0;
          white-space: pre-wrap;
          word-wrap: break-word;
          overflow-wrap: anywhere;
        }
      }
    }

    & .sidebar__nav-container {
      scrollbar-gutter: stable;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 12px 32px;
      flex: 1 1 auto;
      order: 1;
      width: 100%;
      // overflow-y: auto;

      & ::slotted(*) {
        width: 100%;
      }
    }
  }

  & .sidebar__footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 32px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    z-index: 1;

    & .sidebar__footer-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 24px 0px;
      gap: tokens.$ifxSpace200;
      border-top: 1px solid #EEEDED;
      flex: none;
      order: 0;
      flex-grow: 0;
      width: 100%;


      & .sidebar__footer-wrapper-top-links {
        display: flex;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        flex-wrap: wrap;

        & a {
          font: tokens.$ifxBodyBody04;
          display: flex;
          text-decoration: none;
          align-items: center;
          color: tokens.$ifxColorBaseBlack;
          flex: none;
          flex-grow: 0;

          &:hover {
            color: #08665C;
          }

          &:focus {
            outline: none;
            color: #08665C;
          }
        }
      }

      & .sidebar__footer-wrapper-bottom-links {
        display: flex;
        flex-direction: column;
        align-items: center;

        & span {
          font: tokens.$ifxBodyBody04;
          text-decoration: none;
          color: tokens.$ifxColorEngineering500;
          flex: none;
          order: 1;
          flex-grow: 0;
          white-space: pre-wrap;
          word-wrap: break-word;
          overflow-wrap: anywhere;

          &:hover {
            cursor: initial;
          }
        }
      }
    }
  }

  .sidebar__hide-menu {
    display: flex;
    align-items: center;
    padding: tokens.$ifxSpace150 tokens.$ifxSpace400;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    border-top: tokens.$ifxBorderWidth12 solid tokens.$ifxColorEngineering200;
    border-bottom: tokens.$ifxBorderWidth12 solid tokens.$ifxColorEngineering200;
    background-color: tokens.$ifxColorBaseWhite;
    gap: tokens.$ifxSpace200;

    &:hover {
      background-color: tokens.$ifxColorEngineering100;
    }

    &:focus {
      outline: tokens.$ifxBorderWidth25 solid tokens.$ifxColorOcean500;
      outline-offset: - tokens.$ifxBorderWidth25;
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: tokens.$ifxSize300;
      height: tokens.$ifxSize300;
      flex-shrink: 0;

      ifx-icon {
        width: tokens.$ifxSize200;
        height: tokens.$ifxSize200;
        color: tokens.$ifxColorBaseBlack;
      }
    }

    &-text {
      font-style: normal;
      font-weight: tokens.$ifxFontWeightRegular;
      font-size: tokens.$ifxFontSizeM;
      line-height: tokens.$ifxLineHeightM;
      color: tokens.$ifxColorBaseBlack;
    }
  }
}
