@use "~@infineon/design-system-tokens/dist/tokens";

:host {
    position: relative;
    display: var(--ifx-sidebar-title-display, block);
}

:host([data-show-in-collapsed="true"]) {
    display: var(--ifx-sidebar-title-show-in-collapsed-display, block);
}

.sidebar__title {
    width: 100%;
    height: fit-content;
    border-top: 1px solid tokens.$ifxColorEngineering200;
    padding: var(--ifx-sidebar-title-padding, tokens.$ifxSpace150 0);

    &.no-top-border {
        border-top: none;
    }
}

.sidebar__title-label {
    height: 20px;
    font: tokens.$ifxEyebrowEyebrow02;
    text-transform: uppercase;
    color: tokens.$ifxColorEngineering500;
    letter-spacing: 3px;
    display: var(--ifx-sidebar-title-label-display, block);
}
