@use '~@infineon/design-system-tokens/dist/tokens';

.date__picker-container {
  display: flex;
  flex-direction: column;

  & .label__wrapper {
    color: tokens.$ifxColorBaseBlack;
    font: tokens.$ifxBodyBody03;

    & .asterisk { 
      display: none;
      &.required {
        display: inline;
        margin-left: 4px;
        
        &.error {
          color: tokens.$ifxColorRed500;
        }
      }
    }

  }

  &.disabled {
    .label__wrapper {
      color: tokens.$ifxColorEngineering300;
    }
  }

  &.error {
    .caption__wrapper {
      color: tokens.$ifxColorRed500;
    }
  }

  &.disabled {
    .caption__wrapper {
      color: tokens.$ifxColorEngineering300;
    }
  }

  & .caption__wrapper {
    margin-top: tokens.$ifxSpace50;
    color: tokens.$ifxColorBaseBlack;
    font: tokens.$ifxBodyBody05;
  }
}

.date__picker-input {
  box-sizing: border-box;
  font-family: 'Source Sans 3';
  outline: none;
  width: 100%;
  cursor: pointer;
  border-radius: 1px;
  border: 1px solid tokens.$ifxColorEngineering400;
  height: 100%;

  &.firefox__classes {
    padding: 0px 14px;
    box-sizing: border-box;
    color: tokens.$ifxColorEngineering400;
    font-size: 16px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;

    &:disabled {
      color: tokens.$ifxColorBaseWhite;
    }
  }

  &:focus:not(.error, .success) {
    border-color: tokens.$ifxColorOcean500;
  }

  &:hover:not(:disabled, :focus, .error, .success) {
    border-color: tokens.$ifxColorEngineering500;
  }

  &:disabled {
    border-color: tokens.$ifxColorEngineering300;
    background-color: tokens.$ifxColorEngineering300;
    cursor: default;
  }

  &.error {
    border-color: tokens.$ifxColorRed500;
  }

  &.success:not(.error) {
    border-color: tokens.$ifxColorGreen500;
  }

  &::-webkit-datetime-edit-text {
    color: tokens.$ifxColorEngineering400;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  &:disabled::-webkit-datetime-edit,
  &:disabled::-webkit-datetime-edit-text {
    color: tokens.$ifxColorBaseWhite;
  }

  &.has-value::-webkit-datetime-edit-text {
    color: tokens.$ifxColorBaseBlack;
  }

  &.has-value::-webkit-datetime-edit {
    color: tokens.$ifxColorBaseBlack;
  }
}

::-webkit-datetime-edit {
  color: tokens.$ifxColorEngineering400;
  font-size: 16px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

::-webkit-datetime-edit-fields-wrapper {
  padding: 8px 16px;
  padding-bottom: 9px;
  transform: translateY(1px);
}

::-webkit-inner-spin-button {
  display: none;
}

::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 15px;
  font-size: 19px;
  cursor: pointer;
  border-radius: 1px;
  &:focus-within {
    outline: 2px solid tokens.$ifxColorOcean500;
    outline-offset: 2px;
  }
}

.input__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: tokens.$ifxColorBaseWhite;
  position: relative;
  &.large {
    height: 40px;
  }

  &.small {
    height: 36px;
  }

  &.disabled {
    & .icon__wrapper {
      background: none;
      color: tokens.$ifxColorBaseWhite;
      &.firefox__classes { 
        display: none;
      }
    }
    & .icon__wrapper { 
      background-color: tokens.$ifxColorEngineering300;
      color: tokens.$ifxColorBaseWhite;
    }
  }
}

.icon__wrapper {
  position: absolute;
  right: 17px;
  padding: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  pointer-events: none;
  z-index: 100;
  background-color: tokens.$ifxColorBaseWhite;
  line-height: 16px;

  & ifx-icon {
    vertical-align: middle;
    z-index: 1;
  }

  &.firefox__classes {
    &:focus-visible::after {
      content: '';
      position: absolute;
      top: -4px;
      left: -4px;
      right: -4px;
      bottom: -4px;
      border: 2px solid tokens.$ifxColorOcean500;
      border-radius: 15%;
    }

    &::before {
      content: '';
      position: absolute;
      inset: -4px;
      background-color: tokens.$ifxColorBaseWhite;
    }
  }
}