@use "~@infineon/design-system-tokens/dist/tokens";

.action-list {
  background: tokens.$ifxColorBaseWhite;
  border-radius: tokens.$ifxBorderRadiusNone;
  border: tokens.$ifxBorderWidth12 solid tokens.$ifxColorEngineering200;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}