
.card__text-wrapper { 
  padding-bottom: 0px;
  &.hasBtn { 
    padding-bottom: 16px;
  }
}

.card-text { 
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  white-space: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}