@use "~@infineon/design-system-tokens/dist/tokens";

.ifx-content-switcher-item {
    all: unset;

    height: tokens.$ifxSize450;
    box-sizing: border-box;
    border-radius: tokens.$ifxBorderRadiusRound;
    border: 3px solid transparent; // avoid jumping around
    padding: 7px tokens.$ifxSize250;

    font-family: var(--ifx-font-family); // tokens.$ifxFontFamilyBody;


    font-weight: tokens.$ifxFontWeightSemibold;
    font-size: tokens.$ifxSize175;
    line-height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: tokens.$ifxSpace100;
    background-color: transparent;

    &.selected {
        color: tokens.$ifxColorOcean500;
        background-color: tokens.$ifxColorBaseWhite;
        border: 3px solid tokens.$ifxColorOcean500;
    }

    &:hover {
        color: tokens.$ifxColorOcean600;
        background-color: tokens.$ifxColorBaseWhite;
        border: 3px solid tokens.$ifxColorOcean600;
        cursor: pointer;
    }

    &:active {
        color: tokens.$ifxColorOcean600;
        background-color: tokens.$ifxColorBaseWhite;
        border: 3px solid tokens.$ifxColorOcean700;
    }

    &:focus {
        color: tokens.$ifxColorOcean600;
        background-color: tokens.$ifxColorBaseWhite;
        border: 3px solid tokens.$ifxColorOcean600;
    }
}
