// @import '~choices.js/public/assets/styles/choices.css';
@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../../global/font.scss";

/*===============================
=            Choices            =
===============================*/


.ifx-select-container {
  background-color: tokens.$ifxColorBaseWhite;
  box-sizing: border-box;
  font-family: var(--ifx-font-family);

  &.small-select {
    height: 36px;
  }

  &.medium-select {
    height: 40px;
  }

  &:hover {
    cursor: pointer;
  }

  .ifx-label-wrapper {
    font-size: 16px;
    line-height: 24px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    max-width: 100%;
    overflow: hidden;
  }

  .ifx-error-message-wrapper {
    color: #CD002F;
    font-size: 12px;
    line-height: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    max-width: 100%;
    overflow: hidden;
  }

  .ifx-choices__wrapper {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0 1px tokens.$ifxColorEngineering400;
    border-radius: 1px;
    font-weight: 400;
    font-style: normal;

    &.small-select {
      height: 36px;
      line-height: 20px;
      padding: 8px 12px;
      font-size: 14px;
    }

    &.medium-select {
      height: 40px;
      line-height: 24px;
      padding: 8px 16px;
      font-size: 16px;
    }

    &.disabled {
      background: #EEEDED;
      color: #575352;
      border-color: #575352;
      cursor: not-allowed;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &.error {
      border-color: #CD002F;
    }

    &:hover:not(.focus, :focus) {
      border-color: #8D8786;
    }

    &.active {
      box-shadow: 0 0 0 1px #0A8276 !important; // Active border color

      & .ifx-choices__icon-wrapper-up {
        display: flex;
        align-items: center;
        justify-content: center;

      }

      & .ifx-choices__icon-wrapper-down {
        display: none
      }
    }

    &:focus-visible:not(.active):not(:active) {
      outline: none;

      &::before {
        content: '';
        position: absolute;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid #0A8276;
        border-radius: 2px;
      }
    }

    &:focus:not(.active, :active) {
      &:not(.disabled)::before {
        content: '';
        position: absolute;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }


    & .ifx-choices__icon-wrapper-up {
      display: none;

      &:hover {
        cursor: pointer;
      }
    }

    & .ifx-choices__icon-wrapper-down {
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }
    }

  }


  /*
START Select options: item alignment
*/
  // .choice-container {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  // }

  // .choice-label {
  //   /* Additional styles for label if necessary */
  // }

  // .choice-icon {
  //   /* Additional styles for icon if necessary */
  // }

  /*
END Select options: item alignment
*/

  .choices {
    width: 100%;
  }

  .choices:focus {
    outline: none;
  }

  .choices &.is-focused {
    outline: none;
  }

  .choices:last-child {
    margin-bottom: 0;
  }

  .choices.is-disabled .choices__inner,
  .choices.is-disabled .choices__input {
    background-color: #eaeaea;
    cursor: not-allowed;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .choices.is-disabled .choices__item {
    cursor: not-allowed;
    color: #575352;
  }

  .choices [hidden] {
    display: none !important;
  }

  .choices[data-type*='select-one'] {
    cursor: pointer;
  }

  .choices[data-type*='select-one'] .choices__inner {
    // padding-bottom: 7.5px;
  }

  .choices[data-type*='select-one'] .choices__input {
    display: block;
    width: 100%;
    padding: 8px 16px;
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
    margin: 0;
    font-style: normal;
    font-weight: 400;

    &.small-select {
      line-height: 20px;
      font-size: 14px;
    }

    &.medium-select {
      line-height: 24px;
      font-size: 16px;
    }

  }

  .choices[data-type*='select-one'] .choices__single-button {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
    padding: 0;
    background-size: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
    margin-right: 25px;
    height: 20px;
    width: 20px;
    border-radius: 10em;
    opacity: 0.5;
  }

  .choices[data-type*='select-one'] .choices__single-button:hover,
  .choices[data-type*='select-one'] .choices__single-button:focus {
    opacity: 1;
  }

  .choices[data-type*='select-one'] .choices__single-button:focus {
    box-shadow: 0px 0px 0px 2px tokens.$ifxColorOcean500;
  }

  .choices[data-type*='select-one'] .choices__item[data-value=''] .choices__single-button {
    display: none;
  }

  // .choices[data-type*='select-one']:after {
  //   content: '';
  //   height: 0;
  //   width: 0;
  //   border-style: solid;
  //   border-color: #333333 transparent transparent transparent;
  //   border-width: 5px;
  //   position: absolute;
  //   right: 11.5px;
  //   top: 50%;
  //   margin-top: -2.5px;
  //   pointer-events: none;
  // }

  .choices[data-type*='select-one'].is-open:after {
    // border-color: transparent transparent #333333 transparent;
    margin-top: -7.5px;
  }

  .choices[data-type*='select-one'][dir='rtl']:after {
    left: 11.5px;
    right: auto;
  }

  .choices[data-type*='select-one'][dir='rtl'] .choices__single-button {
    right: auto;
    left: 0;
    margin-left: 25px;
    margin-right: 0;
  }

  .choices[data-type*='select-multiple'] {
    cursor: pointer;
  }

  .choices[data-type*='select-multiple'] .choices__input {
    display: block;
    width: 100%;
    margin: 0;
  }

  .choices[data-type*='select-multiple'] .choices__inner,
  .choices[data-type*='text'] .choices__inner {
    cursor: text;
  }

  .choices[data-type*='select-multiple'] .choices__button,
  .choices[data-type*='text'] .choices__button {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-right: -4px;
    margin-bottom: 0;
    margin-left: 8px;
    padding-left: 16px;
    border-left: 1px solid tokens.$ifxColorOcean500;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
    background-size: 8px;
    width: 8px;
    line-height: 1;
    opacity: 0.75;
    border-radius: 0;
  }

  .choices[data-type*='select-multiple'] .choices__button:hover,
  .choices[data-type*='select-multiple'] .choices__button:focus,
  .choices[data-type*='text'] .choices__button:hover,
  .choices[data-type*='text'] .choices__button:focus {
    opacity: 1;
  }

  .choices__inner {
    overflow: hidden;

  }

  .is-focused .choices__inner,
  .is-open .choices__inner {
    border-color: #b7b7b7;
  }


  .is-open .choices__inner {
    border-radius: 2.5px 2.5px 0 0;
  }

  .is-flipped.is-open .choices__inner {
    border-radius: 0 0 2.5px 2.5px;
  }

  .choices__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  .choices__list--single {
    // display: inline-block;
    // padding: 4px 16px 4px 4px;
    // width: 100%;
  }

  [dir='rtl'] .choices__list--single {
    // padding-right: 4px;
    // padding-left: 16px;
  }

  .choices__list--single .choices__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }


  .disabled>.choices__list--single .choices__item[data-value=''] {
    color: #8D8786;
    /* Placeholder font color */

  }

  .choices__list--multiple {
    // display: inline;
  }

  .choices__list--multiple .choices__item {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 3.75px;
    margin-bottom: 3.75px;
    background-color: tokens.$ifxColorOcean500;
    border: 1px solid tokens.$ifxColorOcean500;
    color: tokens.$ifxColorBaseWhite;
    word-break: break-all;
    box-sizing: border-box;
  }

  .choices__list--multiple .choices__item[data-deletable] {
    padding-right: 5px;
  }


  [dir='rtl'] .choices__list--multiple .choices__item {
    margin-right: 0;
    margin-left: 3.75px;
  }

  .choices__list--multiple .choices__item.is-highlighted {
    background-color: tokens.$ifxColorEngineering200;
    border: 1px solid tokens.$ifxColorOcean500;
  }


  .choices__list--dropdown {
    visibility: hidden;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 100%;
    margin-top: -1px;

    overflow: hidden;
    word-break: break-all;
    will-change: visibility;
    box-shadow: 0px 0px 16px rgba(29, 29, 29, 0.12);
    border-radius: 1px;
    margin-top: 8px;
    z-index: 1000;
    left: 0;
  }

  .choices__list--dropdown.is-active {
    visibility: visible;
  }

  .is-open .choices__list--dropdown {
    border-color: #b7b7b7;
  }

  .is-flipped .choices__list--dropdown {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: -1px;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  .choices__list--dropdown .choices__list {
    position: relative;
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
  }

  .choices__list--dropdown .choices__item {
    position: relative;
    padding: 8px 16px;
    gap: 8px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;

    &.small-select {
      line-height: 20px;
      font-size: 14px;
    }

    &.medium-select {
      line-height: 24px;
      font-size: 16px;
    }

    &.selected {
      color: #0A8276;
    }
  }


  [dir='rtl'] .choices__list--dropdown .choices__item {
    text-align: right;
  }


  @media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable {
      // padding-right: 100px; remove padding so the checkmark can be aligned at the very right
    }

    .choices__list--dropdown .choices__item--selectable:after {
      // content: attr(data-select-text); #press to select text next to select option
      font-size: 12px;
      opacity: 0;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    [dir='rtl'] .choices__list--dropdown .choices__item--selectable {
      text-align: right;
      padding-left: 100px;
      padding-right: 10px;
    }

    [dir='rtl'] .choices__list--dropdown .choices__item--selectable:after {
      right: auto;
      left: 10px;
    }
  }


  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #EEEDED;

    &.selected {
      color: #0A8276;
    }
  }

  .choices__list--dropdown .choices__item--selectable:hover {
    background-color: #EEEDED;

    &.selected {
      color: #0A8276;
    }
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted:after {
    opacity: 0.5;
  }

  .choices__item {
    cursor: default;
  }

  .choices__item--selectable {
    cursor: pointer;
  }

  .choices__item--disabled {
    cursor: not-allowed;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.5;
  }

  // .choices[data-type*='select-one'] .choices__item .choices__item--choice {

  // }

  .choices__heading {
    font-weight: 600;
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
    color: tokens.$ifxColorBaseBlack
  }

  .choices__button {
    //default button for removing items
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    // visibility: hidden; //hide remove button on select menu 

  }

  .choices__button:focus {
    outline: none;
  }

  .choices__single-button {
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    visibility: hidden; //hide remove button on select menu 
  }

  .choices__single-button:focus {
    outline: none;
  }

  .choices__input {
    display: inline-block;
    vertical-align: baseline;
    background-color: #f9f9f9;
    font-size: 14px;
    margin-bottom: 5px;
    border: 0;
    border-radius: 0;
    max-width: 100%;
  }


  .choices__input--cloned {
    background-color: transparent;
  }

  /* clears the 'X' for the input type=search from Internet Explorer */
  .choices__input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  .choices__input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the 'X' for the input type=search from Chrome */
  .choices__input::-webkit-search-decoration,
  .choices__input::-webkit-search-cancel-button,
  .choices__input::-webkit-search-results-button,
  .choices__input::-webkit-search-results-decoration {
    display: none;
  }


  .choices__input:focus {
    outline: 0;
  }

  [dir='rtl'] .choices__input {
    padding-right: 2px;
    padding-left: 0;
  }

  .choices__placeholder {
    opacity: 0.5;
  }

  /*=====  End of Choices  ======*/


}