//ifxTabs.scss
@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
  display: flex;
}

.tabs {
  display: flex;
  font-family: var(--ifx-font-family);
}

.tabs.horizontal {
  flex-direction: column;
}

.tabs.vertical {
  flex-direction: row;
}

.tabs-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  font-weight: tokens.$ifxFontWeightSemibold;
}

.tabs-list:focus-within .active-border {
  display: none;
}

.active-border {
  content: "";
  position: absolute;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out, top 0.3s ease-in-out, height 0.3s ease-in-out;
}

.tabs.horizontal .active-border {
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: tokens.$ifxColorOcean500;
}

.tabs.vertical .tabs-list {
  flex-direction: column;
  border-bottom: none;
}

.tabs.vertical .tab-content {
  padding-top: 0px;
  padding-left: 32px;
}

.tab-item {
  // Reduced padding values
  display: flex;
  align-items: center;
  gap: 8px;
  padding: tokens.$ifxSpace100 tokens.$ifxSpace200;
  cursor: pointer;
  position: relative;
  
  &.icon__right {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  
  &:hover {
    color: tokens.$ifxColorOcean500;
  }
  
  &:active,
  &.active {
    color: tokens.$ifxColorOcean500;
  }

  &:focus,
  &.focus {
    outline: none;
    border-radius: 1px;
    box-shadow: 0 0 0 2px tokens.$ifxColorBaseWhite, 0 0 0 4px tokens.$ifxColorOcean500;
    
    // Assuming .active-border is a sibling of .tab-item
    +.active-border {
      display: none; // Hide the active border when the tab is in focus
    }
  }
  
  &.disabled {
    color: tokens.$ifxColorEngineering300;
    pointer-events: none;
  }
}

.tabs.vertical .tab-item {
  border-right: 2px solid transparent;
  min-width: 7em;
}

.tabs.vertical .active-border {
  left: 0;
  top: 0;
  width: 2px;
  background-color: tokens.$ifxColorOcean500;
}


.tab-content {
  padding-top: 24px;
  padding-left: 0px;
  flex-grow: 1;
}

.tabs.small .tab-item {
  font-size: tokens.$ifxFontSizeS;
}