@use "~@infineon/design-system-tokens/dist/tokens";

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  text-align: inherit;
  white-space: nowrap;
  border: 0;
  padding: 8px 16px;
  text-decoration: none;
  color: tokens.$ifxColorBaseBlack;

  &.primary {
    input[type=checkbox] {
      accent-color: tokens.$ifxColorOcean500;
    }
  }

  &.secondary {
    input[type=checkbox] {
      accent-color: tokens.$ifxColorBerry500;
    }
  }

  &.success {
    input[type=checkbox] {
      accent-color: tokens.$ifxColorGreen500;
    }
  }

  &.danger {
    input[type=checkbox] {
      accent-color: tokens.$ifxColorRed500;
    }
  }

  &.warning {
    input[type=checkbox] {
      accent-color: tokens.$ifxColorOrange500;
    }
  }



  & .form-check-label {
    &:hover {
      cursor: pointer;
    }
  }

  & .form-check-input {
    border-radius: 1px;
  }



  &:hover {
    font-weight: 600;
    background-color: tokens.$ifxColorEngineering200;


    & svg {
      color: tokens.$ifxColorBaseBlack;

    }
  }

  &.active,
  &:active {
    font-weight: 600;
    background-color: transparent;
    color: tokens.$ifxColorOcean500;

    & svg {
      color: tokens.$ifxColorOcean500;
      fill: none;
    }
  }
}

// ifx-icon:empty { 
//   display: none;
// }