@use "../../../node_modules/@infineon/design-system-tokens/dist/tokens";


.progress-bar {
  height: 16px;
  border-radius: 1px;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;

  .label {
    height: 17px;
    border-radius: 1px 0px 0px 1px;

  }

  &.s {
    height: 4px;
  }

  .progress {
    height: 100%;
    background-color: #0A8276;
    position: relative;


    &:after {
      content: '';
      background-color: #EEEDED;
      height: 100%;
      position: absolute;
    }

  }

  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: tokens.$font-family-body;
    color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}