@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

.sidebar__nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0px 4px 0px 0px;
  gap: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  color: tokens.$ifxColorBaseBlack;

  & .sidebar__nav-item-icon-wrapper {
    display: flex;
    width: tokens.$ifxSize300;
    height: tokens.$ifxSize300;
    justify-content: center;
    align-items: center;
    gap: tokens.$ifxSpace100;
    flex-shrink: 0;

    &.noIcon {
      display: none;
    }

    & ifx-icon {
      width: tokens.$ifxSize200;
      height: tokens.$ifxSize200;
    }
  }

  & .sidebar__nav-item-label {
    font-style: normal;
    font-weight: 400;
    font-size: tokens.$ifxFontSizeM;
    line-height: tokens.$ifxLineHeightM;
    display: flex;
    align-items: center;
    color: tokens.$ifxColorBaseBlack;
    flex: none;
    order: 1;
    flex-grow: 1;
    cursor: pointer;

    //flex-direction: column;
  }

  & .sidebar__nav-item-arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }
}

 
.expandable__submenu { 
  display: none;
  list-style-type: none;
  //padding-left: 12px;
  //display: flex;
  flex-direction: column;
  gap: tokens.$ifxSpace100;
  
  &.open { 
    display: flex;
  }
}
  