@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
  height: 100%;
  display: inline-flex;
}

.sidebar__container {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  background-color: tokens.$ifxColorBaseWhite;
  border-right: 1px solid #EEEDED;
  width: 264px;
  height: 100%;
  font-family: var(--ifx-font-family);

  & .sidebar__top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    flex: 1 1 auto;
    order: 0;
    z-index: 0;
    width: 100%;
    overflow-y: auto;

    //max-height: 440px;
    //overflow-y: auto;

    & .sidebar__nav-bar {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 12px 32px;
      background-color: tokens.$ifxColorBaseWhite;
      flex: none;
      order: 0;
      flex-grow: 0;
      width: 100%;

      & .sidebar__nav-bar-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: tokens.$ifxSpace200;
        flex: none;
        order: 0;
        flex-grow: 0;

        & .sidebar__nav-bar-logo-img {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0px;
          flex: none;
          order: 0;
          flex-grow: 0;

          & svg {
            width: 91px;
            height: tokens.$ifxSize500;
          }
        }

        & .sidebar__nav-bar-logo-text {
          font-style: normal;
          font-weight: tokens.$ifxFontWeightSemibold;
          font-size: tokens.$ifxFontSizeM;
          line-height: tokens.$ifxLineHeightM;
          display: flex;
          align-items: center;
          color: tokens.$ifxColorBaseBlack;
          flex: none;
          order: 1;
          flex-grow: 0;
          white-space: pre-wrap;
          word-wrap: break-word;
          overflow-wrap: anywhere;
        }
      }
    }

    & .sidebar__nav-container {
      scrollbar-gutter: stable;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 12px 32px;
      flex: 1 1 auto;
      order: 1;
      width: 100%;
      overflow-y: auto;

      & ::slotted(*) {
        width: 100%;
      }
    }
  }

  & .sidebar__footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 32px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    z-index: 1;

    & .sidebar__footer-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 12px 0px;
      gap: tokens.$ifxSpace150;
      border-top: 1px solid #EEEDED;
      flex: none;
      order: 0;
      flex-grow: 0;

      & .sidebar__footer-wrapper-top-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 4px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        & .sidebar__footer-wrapper-top-line,
        & .sidebar__footer-wrapper-bottom-line {
          & a {
            font-style: normal;
            font-weight: 400;
            font-size: tokens.$ifxFontSizeS;
            line-height: tokens.$ifxLineHeightS;
            display: flex;
            text-decoration: none;
            align-items: center;
            color: tokens.$ifxColorBaseBlack;
            flex: none;
            order: 0;
            flex-grow: 0;

            &:hover {
              color: #08665C;
            }

            &:focus {
              outline: none;
              color: #08665C;
            }
          }
        }

        & .sidebar__footer-wrapper-top-line {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 0px;
          gap: tokens.$ifxSpace200;
          flex: none;
          order: 0;
          align-self: stretch;
          flex-grow: 0;
        }

        & .sidebar__footer-wrapper-bottom-line {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 0px;
          flex: none;
          order: 1;
          flex-grow: 0;
        }
      }

      & .sidebar__footer-wrapper-bottom-links {
        display: flex;
        flex-direction: column;
        align-items: center;

        & a {
          font-style: normal;
          font-weight: 400;
          font-size: tokens.$ifxFontSizeS;
          line-height: tokens.$ifxLineHeightS;
          text-decoration: none;
          color: #575352;
          flex: none;
          order: 1;
          flex-grow: 0;

          &:hover {
            cursor: initial;
          }

          &:focus {
            outline: none;
            color: #08665C;
          }
        }
      }
    }
  }
}