@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
  position: relative;
}

.sidebar__nav-item,
.sidebar__nav-item.header__section {
  &:focus {
    outline: none;

    & .sidebar__nav-item-icon-wrapper {
      color: tokens.$ifxColorOcean600;
    }

    & .sidebar__nav-item-label {
      outline: none;
      color: tokens.$ifxColorOcean600;
    }

    & .sidebar__nav-item-indicator {
      & .item__arrow-wrapper {
        & ifx-icon {
          color: tokens.$ifxColorOcean600;
        }
      }
    }
  }

  &:hover {
    outline: none;
    background-color: red;
    & .sidebar__nav-item-icon-wrapper {
      color: tokens.$ifxColorOcean600;
    }

    & .sidebar__nav-item-label {
      outline: none;
      color: tokens.$ifxColorOcean600;
    }

    & .sidebar__nav-item-indicator {
      & .item__arrow-wrapper {
        & ifx-icon {
          color: tokens.$ifxColorOcean600;
        }
      }
    }
  }
}

.sidebar__nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 8px 0px;
  gap: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  color: tokens.$ifxColorBaseBlack;
  cursor: pointer;
  font-family: var(--ifx-font-family);

  &.active {
    color: tokens.$ifxColorOcean500;
  }

  &.active-section {
    &::before {
      content: "";
      position: absolute;
      left: -44px;
      height: 40px;
      width: 2px;
      background: tokens.$ifxColorOcean500;
    }
  }


  &.open {
    & .sidebar__nav-item-label {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    & .sidebar__nav-item-indicator {
      & .item__arrow-wrapper {
        & ifx-icon {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &.header__section {
    box-sizing: padding-box;
    border-top: 1px solid tokens.$ifxColorEngineering200;
    padding: 20px 0px;
    display: -webkit-flex;
    -webkit-line-clamp: 1;
    -webkit-box-orient: horizontal;
    overflow: hidden;
    text-overflow: ellipsis;

    &.active-section {
      &::before {
        content: "";
        position: absolute;
        left: -32px;
        height: 40px;
        width: 2px;
        background: tokens.$ifxColorOcean500;
      }
    }

    &.open {
      & .sidebar__nav-item-indicator {
        & .item__arrow-wrapper {
          & ifx-icon {
            transform: rotate(-180deg);
          }
        }
      }
    }

    & .sidebar__nav-item-label {
      color: tokens.$ifxColorBaseBlack;
      font-family: Source Sans 3;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }
  }

  & .sidebar__nav-item-icon-wrapper {
    display: flex;
    width: tokens.$ifxSize300;
    height: tokens.$ifxSize300;
    justify-content: center;
    align-items: center;
    gap: tokens.$ifxSpace100;
    flex-shrink: 0;

    &.noIcon {
      display: none;
    }

    & ifx-icon {
      width: tokens.$ifxSize200;
      height: tokens.$ifxSize200;
    }
  }

  & .sidebar__nav-item-label {
    font-style: normal;
    font-weight: 400;
    font-size: tokens.$ifxFontSizeM;
    line-height: tokens.$ifxLineHeightM;
    display: flex;
    align-items: center;
    flex: none;
    order: 1;
    flex-grow: 1;
    cursor: pointer;
  }

  & .sidebar__nav-item-indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }
}

.expandable__submenu {
  display: none;
  list-style-type: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
  padding-left: 12px;

  &.open {
    display: flex;
  }
}