@use "~@infineon/design-system-tokens/dist/tokens";

.list-group-notification {
  width: 350px;
  height: 88px;
  padding: 16px;
  margin-bottom: 8px;
  background-color: tokens.$ifxColorBaseWhite;
  border: 1px solid tokens.$ifxColorEngineering200;
  font-family: var(--ifx-font-family);

  & .description__section {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.flush {
    border: none;
    border-bottom: 1px solid tokens.$ifxColorEngineering200;
  }

  & .heading__section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: tokens.$ifxColorOcean500;
  }

  & .heading__section-title {
    flex: 1;
    margin: 0;
    font-weight: tokens.$ifxFontWeightSemibold;
    line-height: 1.2;
    font-size: tokens.$ifxFontSizeM;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .heading__section-time {
    flex: none;
    margin-left: 2px;
    font-size: tokens.$ifxFontSizeS;
    line-height: tokens.$ifxLineHeightS;
    font-weight: 400;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}