@use '~@infineon/design-system-tokens/dist/tokens';
@use '../../global/styles/index.scss';

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 145px;
  width: 100%;
  height: 100%;

  &,
  * {
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: unset;
  }

  &__image {
    display: flex;
    flex: 1;
    justify-content: center;
    max-width: 422px;

    @media (max-width: 768px) {
      width: 100%;
      min-width: 263px;
      margin-bottom: 1.5rem;
      padding: 2rem 3.5rem 0 3.5rem;
    }

    img {
      width: 100%;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 644px;
    overflow-wrap: anywhere;

    @media (max-width: 768px) {
      width: 100%;
      max-width: 100%;
      padding: 1rem;
    }
  }

  &__type {
    font: tokens.$ifxEyebrowEyebrow01;
    margin-bottom: 2rem;
    letter-spacing: 3.2px;
    text-transform: uppercase;

    @media (max-width: 768px) {
      margin-bottom: 1.5rem;
    }
  }

  &__headline {
    font: tokens.$ifxHeadingDisplay03;
    margin: 0 0 1rem 0;

    @media (max-width: 768px) {
      margin-bottom: 0.5rem;
    }
  }

  &__body {
    font: tokens.$ifxBodyBody01;
    margin: 0 0 2rem 0;

    @media (max-width: 768px) {
      margin-bottom: 1.5rem;
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 100%;

    @media (max-width: 768px) {
      ::slotted(*) {
        flex: 1 1 calc(50% - 0.5rem);
      }
    }
  }
}
