# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Build Outputs
output-file.txt
a-different-file.txt
dist

# Debug
dist/
stencil-components/
www/
loader/
*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

*.txt

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
$RECYCLE.BIN/
src/*/_*-tokens.scss
storybook-static
.storybook/fonts
tmp/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store

# Stencil
stencil-generated

# MCP
packages/mcp/assets/

# Angular
**/.angular/cache

# Environment Files
.env
