@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
  display: inline-block;
}

.container {
  display: flex;
  min-height: 1.25em;
  align-items: center;
  padding: tokens.$ifxSpace25 tokens.$ifxSpace200;
  border-radius: tokens.$ifxBorderRadiusRound;
}

.text {
  margin: 0;
  padding-left: 5px;
  font-style: normal;
  font-weight: tokens.$ifxFontWeightSemibold;
  font-size: tokens.$ifxFontSizeM;
  line-height: 1.25rem;
  display: inline;
  color: tokens.$ifxColorBaseBlack;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: tokens.$ifxBorderRadiusRound;
}

.container {
  &.border-orange {
    border: tokens.$ifxBorderWidth25 solid tokens.$ifxColorOrange500;

  }

  &.border-ocean {
    border: tokens.$ifxBorderWidth25 solid tokens.$ifxColorOcean500;
  }

  &.border-grey {
    border: tokens.$ifxBorderWidth25 solid tokens.$ifxColorEngineering500;
  }

  &.border-grey-200 {
    border: tokens.$ifxBorderWidth25 solid tokens.$ifxColorEngineering200;
  }

  &.border-red {
    border: tokens.$ifxBorderWidth25 solid tokens.$ifxColorRed500;
  }

  &.border-green {
    border: tokens.$ifxBorderWidth25 solid tokens.$ifxColorGreen500;
  }

  &.border-berry {
    border: tokens.$ifxBorderWidth25 solid tokens.$ifxColorBerry500;
  }
}

.dot {
  &.orange {
    background-color: tokens.$ifxColorOrange500;
  }

  &.ocean {
    background-color: tokens.$ifxColorOcean500;
  }

  &.grey {
    background-color: tokens.$ifxColorEngineering500;
  }

  &.grey-200 {
    background-color: tokens.$ifxColorEngineering200;
  }

  &.red {
    background-color: tokens.$ifxColorRed500;
  }

  &.green {
    background-color: tokens.$ifxColorGreen500;
  }

  &.berry {
    background-color: tokens.$ifxColorBerry500;
  }
}