@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
  display: inline-block;
}

.container {
  display: flex;
  min-height: 1.25em;
  align-items: center;
  padding: 0 tokens.$ifxSpace100;
  border-radius: tokens.$ifxBorderRadiusRound;

  &.no-border {
    padding: 0; // Remove padding when border is not present
  }

  &.border-orange {
    border: tokens.$ifxBorderWidth12 solid tokens.$ifxColorOrange500;
  }

  &.border-ocean {
    border: tokens.$ifxBorderWidth12 solid tokens.$ifxColorOcean500;
  }

  &.border-grey {
    border: tokens.$ifxBorderWidth12 solid tokens.$ifxColorEngineering500;
  }

  &.border-light-grey {
    border: tokens.$ifxBorderWidth12 solid tokens.$ifxColorEngineering300;
  }

  &.border-red {
    border: tokens.$ifxBorderWidth12 solid tokens.$ifxColorRed500;
  }

  &.border-green {
    border: tokens.$ifxBorderWidth12 solid tokens.$ifxColorGreen500;
  }

  &.border-berry {
    border: tokens.$ifxBorderWidth12 solid tokens.$ifxColorBerry500;
  }


}

.text {
  margin: 0;
  padding-left: tokens.$ifxSpace50;
  font-style: normal;
  font-weight: tokens.$ifxFontWeightSemibold;
  font-size: tokens.$ifxFontSizeM;
  line-height: tokens.$ifxLineHeightS;
  display: inline;
  color: tokens.$ifxColorBaseBlack;
}

.dot {
  display: inline-block;
  width: tokens.$ifxSize100;
  height: tokens.$ifxSize100;
  border-radius: tokens.$ifxBorderRadiusRound;
}


.dot {
  &.orange {
    background-color: tokens.$ifxColorOrange500;
  }

  &.ocean {
    background-color: tokens.$ifxColorOcean500;
  }

  &.grey {
    background-color: tokens.$ifxColorEngineering500;
  }

  &.light-grey {
    background-color: tokens.$ifxColorEngineering300;
  }

  &.red {
    background-color: tokens.$ifxColorRed500;
  }

  &.green {
    background-color: tokens.$ifxColorGreen500;
  }

  &.berry {
    background-color: tokens.$ifxColorBerry500;
  }
}