@use "~@infineon/design-system-tokens/dist/tokens";

:host {
  display: inline-block;
}

.rotate {
  transition: transform 0.2s ease-in-out;
  transform: rotate(-180deg);
  margin-top: 0em;
}

.icon {
  margin-top: 0em;
  transition: transform 0.2s ease-in-out;
}
