@use "../../../node_modules/@infineon/design-system-tokens/dist/tokens";

:host {
  --spacing-icon-x: 2px;
  --spacing-icon-x-small: 2px;
  --spacing-x-icon-only: 2px --spacing-x-icon-only-small: 2px;
  --spacing-icon-x-small: 2px;
  --font-size-small: 12px;
  line-height: 10px;
  min-height: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.btn {
  font-family: tokens.$font-family-body;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: tokens.$font-size-l;
  font-weight: tokens.$font-weight-regular;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:not(.disabled) {
  cursor: pointer;
}

.btn.btn--primary {
  color: tokens.$color-text-white;
  background-color: tokens.$color-default-500;
  border-color: tokens.$color-default-500;
}

.btn.btn--outline-primary {
  background-color: tokens.$color-bg-white;
  color: tokens.$color-default-500;
  border-color: tokens.$color-default-500;
}

.btn.btn--secondary {
  color: tokens.$color-text-white;
  background-color: tokens.$color-highlight-500;
  border-color: tokens.$color-highlight-500;
}

.btn.btn--outline-secondary {
  background-color: tokens.$color-bg-white;
  color: tokens.$color-highlight-500;
  border-color: tokens.$color-highlight-500;
}

.btn.btn--success {
  color: tokens.$color-text-black;
  background-color: tokens.$color-success-500;
  border-color: tokens.$color-success-500;
}

.btn.btn--outline-success {
  background-color: tokens.$color-bg-white;
  border-color: tokens.$color-success-500;
}

.btn.btn--danger {
  color: tokens.$color-text-white;
  background-color: tokens.$color-danger-500;
  border-color: tokens.$color-danger-500;
}

.btn.btn--outline-danger {
  background-color: tokens.$color-bg-white;
  color: tokens.$color-danger-500;
  border-color: tokens.$color-danger-500;
}

.btn.btn--warning {
  color: tokens.$color-text-black;
  background-color: tokens.$color-warning-500;
  border-color: tokens.$color-warning-500;
}

.btn.btn--outline-warning {
  background-color: tokens.$color-bg-white;
  border-color: tokens.$color-warning-500;
}

.btn.btn--size-small {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  min-height: var(--min-height-small);
  padding-left: var(--spacing-x-left-small);
  padding-right: var(--spacing-x-right-small);
}

.btn.btn--icon-before:not(.btn--icon-only) ::slotted(*) {
  margin-right: var(--spacing-icon-x);
  margin-left: calc(var(--spacing-icon-x) * -1);
}

.btn.btn--icon-before:not(.btn--icon-only).btn--size-small ::slotted(*) {
  margin-right: var(--spacing-icon-x-small);
  margin-left: calc(var(--spacing-icon-x) * -0.5);
}

.btn.btn--icon-after:not(.btn--icon-only) ::slotted(*) {
  margin-left: var(--spacing-icon-x);
  margin-right: calc(var(--spacing-icon-x) * -1);
}

.btn.btn--icon-after:not(.btn--icon-only).btn--size-small ::slotted(*) {
  margin-left: var(--spacing-icon-x-small);
  margin-right: calc(var(--spacing-icon-x) * -0.5);
}