.react__template-wrapper { 
  display: flex;
  width: 300px;
  height: 200px;
  border-radius: 4px;
  border: 1px solid;

  &.hide { 
    display: none;
  }
  
  &:hover { 
    cursor: pointer;
  }
}

