@use "~@infineon/design-system-tokens/dist/tokens";

.checkbox-group-container {
    display: flex;
    flex-direction: column;
}

.checkbox-group {
    display: flex;
    gap: tokens.$ifxSpace100;

    &.horizontal {
        flex-direction: row;
        column-gap: tokens.$ifxSpace150;
    }

    &.vertical {
        flex-direction: column;
        row-gap: tokens.$ifxSpace150;
    }
}

.group-label {
    font-size: tokens.$ifxFontSizeM;
    color: tokens.$ifxColorBaseBlack;
    line-height: tokens.$ifxLineHeightM;
    font-weight: tokens.$ifxFontWeightRegular;
    margin-bottom: tokens.$ifxSpace100;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.group-label .required {
    color: tokens.$ifxColorEngineering500;
    margin-left: tokens.$ifxSpace50;
}

.group-label .required.error {
    color: tokens.$ifxColorRed500;
}

.caption {
    margin-top: tokens.$ifxSpace100;
    align-self: flex-start;
    display: flex;
    width: 100%;
    column-gap: tokens.$ifxSpace100;
    justify-content: space-between;
    align-items: center;

    &.default {
        color: tokens.$ifxColorBaseBlack;
    }

    &.error {
        color: tokens.$ifxColorRed500;
    }
}

.caption-text {
    font-weight: tokens.$ifxFontWeightRegular;
    font-size: tokens.$ifxFontSizeXs;
    line-height: tokens.$ifxLineHeightXs;
    flex: 1;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.caption-icon {
    flex:0;
    display: flex;
}