@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

.checkbox-group {
    display: flex;
    font-family: var(--ifx-font-family);




    &.checkbox-group.horizontal {
        flex-direction: row;
        column-gap: tokens.$ifxSpace150;
        display: inline-block;
    }

    &.checkbox-group.vertical {
        flex-direction: column;
        row-gap: tokens.$ifxSpace150;
    }

    &.show-group-label {
        font-family: Source Sans 3;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    &.show-caption {
        font-family: Source Sans 3;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        &.default {
            color: tokens.$ifxColorBaseBlack;
        }

        &.error {
            color: tokens.$ifxColorRed500;
        }
    }
}