// ifxAccordion.scss
@use "~@infineon/design-system-tokens/dist/tokens";

:host {
  display: block;
}

.accordion-wrapper {
  display: flex;
  flex-direction: column;
  gap: tokens.$ifxSpace100;
  font-family:  var(--ifx-font-family) // tokens.$ifxFontFamilyBody;
}