@use "~@infineon/design-system-tokens/dist/tokens";


.accordion-item {
  border-radius: 3px;
  transition: all 0.3s;
  font-family: var(--ifx-font-family) // tokens.$ifxFontFamilyBody;

}

.accordion-title:focus {
  outline: none;
}

// workaround to add corner radius to outline
.accordion-title:focus::after {
  content: '';
  display: block;
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  border-radius: 5px;
  border: 2px solid tokens.$ifxColorOcean500;
  box-sizing: border-box;
}

.accordion-title:hover {
  border: 1px solid tokens.$ifxColorEngineering200;
  color: tokens.$ifxColorOcean600;
}

.accordion-title {
  display: flex;
  align-items: center;
  position: relative;
  padding: tokens.$ifxSpace150 tokens.$ifxSpace200;
  gap: tokens.$ifxSpace150;
  color: tokens.$ifxColorOcean500;
  background-color: tokens.$ifxColorBaseWhite;
  border: 1px solid tokens.$ifxColorEngineering200;
  cursor: pointer;
  margin: 4px;
}

.accordion-caption {
  font-weight: tokens.$ifxFontWeightSemibold;
  font-size: tokens.$ifxFontSizeL;
}

.accordion-content {
  gap: tokens.$ifxSpace100;
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
  line-height: 24px;
  font-size: tokens.$ifxFontSizeM;
  font-weight: 400;
}

.inner-content {
  background-color: tokens.$ifxColorBaseWhite;
  padding: tokens.$ifxSpace200;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  align-self: stretch;
  margin: 0 4px 4px;
  border: 1px solid transparent;
  border-top: 1px solid transparent;
}

.accordion-icon {
  font-weight: bold;
  display: flex;
  transition: transform 0.3s;

  &:hover {
    color: tokens.$ifxColorOcean600;

  }
}


.accordion-item.open .accordion-content {
  max-height: auto;
}

.accordion-item.open .accordion-icon {
  transform: rotate(-180deg);
}

.accordion-item.open .inner-content {
  border-color: tokens.$ifxColorEngineering200;
  border-top-color: transparent;
  transition: border-color 0s; 
}

.accordion-item:not(.open) .inner-content {
  transition: border-color 0s 0.3s; 
}

.inner-content {
  &.no-content { 
    border: none;
    padding: 0;
    margin: 0;
  }
}