// ifxAccordionItem.scss
@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

// :host {
//   display: block;
// }

.accordion-item {
  border-radius: 3px;
  overflow: hidden;
  transition: all 0.3s;
}

.accordion-title:hover {
  border: 1px solid tokens.$ifxColorEngineering200;
  color: tokens.$ifxColorOcean600;
}

.accordion-title {
  display: flex;
  align-items: center;
  padding: tokens.$ifxSpace150 tokens.$ifxSpace200;
  gap: tokens.$ifxSpace150;
  color: tokens.$ifxColorOcean500;
  background-color: tokens.$ifxColorBaseWhite;
  border: 1px solid tokens.$ifxColorEngineering200;
  cursor: pointer;
}

.accordion-caption {
  font-weight: tokens.$ifxFontWeightSemibold;
  font-size: tokens.$ifxFontSizeL;
}

.accordion-content {
  gap: tokens.$ifxSpace100;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  line-height: 24px;
  font-size: tokens.$ifxFontSizeM;
  font-weight: 400;
  font-family: var(--ifx-font-family);
}

.inner-content {
  background-color: tokens.$ifxColorBaseWhite;
  padding: tokens.$ifxSpace300;
  // white-space: pre-wrap;
  /* wraps text at spaces and within words */
  word-wrap: break-word;
  /* breaks text within a word if necessary */
  overflow-wrap: anywhere;
  align-self: stretch;

  /* breaks text at arbitrary points when needed */
}

.accordion-icon {
  font-weight: bold;
  display: inline-block;
  transition: transform 0.3s;

  &:hover {
    color: tokens.$ifxColorOcean600;

  }
}



.accordion-item.open .accordion-icon {
  transform: rotate(-180deg);
}