// ifxAccordion.scss
@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
  display: block;
}

.accordion-wrapper {
  display: flex;
  flex-direction: column;
  gap: tokens.$ifxSpace100;
  font-family: var(--ifx-font-family);

}