@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
  display: inline-flex;
}

.numberIndicator__container {
  height: 16px;
  display: inline-flex;
  padding: 0; // Remove fixed padding
  min-width: 16px; // Ensure minimum size for small numbers
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: tokens.$ifxColorOcean500;

  & span {
    padding: 0 4px;
    color: tokens.$ifxColorBaseWhite;
    text-align: center;
    font-size: tokens.$ifxFontSizeS;
    font-style: normal;
    font-weight: tokens.$ifxFontWeightSemibold;
    line-height: 16px;
  }

  &.inverted {
    background-color: tokens.$ifxColorBaseWhite;

    & span {
      color: tokens.$ifxColorOcean500;
    }
  }
}

.content-wrapper { 
  display: none;
}