@use "../../../node_modules/@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

.numberIndicator__container { 
  display: inline-flex;
  padding: 0px 4px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: tokens.$color-default-500;
 
  & span { 
    color: tokens.$color-text-white;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
  }

  &.inverted { 
    background-color: tokens.$color-bg-white;
    & span { 
      color: tokens.$color-default-500;
    }
  }
}