@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
  display: inline-flex;
}

.numberIndicator__container {
  display: inline-flex;
  padding: 0px 4px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: tokens.$ifxColorOcean500;
  font-family: var(--ifx-font-family);

  & span {
    color: tokens.$ifxColorBaseWhite;
    text-align: center;
    font-size: tokens.$ifxFontSizeS;
    font-style: normal;
    font-weight: tokens.$ifxFontWeightSemibold;
    line-height: 15px;
  }

  &.inverted {
    background-color: tokens.$ifxColorBaseWhite;

    & span {
      color: tokens.$ifxColorOcean500;
    }
  }
}