@use "~@infineon/design-system-tokens/dist/tokens";


:host {
  display: flex;
}

.filter-type-group {
  width: 260px;
  align-items: flex-start;
  gap: tokens.$ifxSpace100;
}

.filter-type-group > ::slotted(*) {
  margin-bottom: 8px;
}

