@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
  display: inline-flex;
}

.container {
  display: inline-flex;
  align-items: center;
  padding: tokens.$ifxSpace50 tokens.$ifxSpace200;
  border: 1px solid tokens.$ifxColorEngineering300;
  border-radius: tokens.$ifxBorderRadiusRound;
  background-color: tokens.$ifxColorBaseWhite;
  gap: tokens.$ifxSpace100;
  font-family: var(--ifx-font-family);

  &:hover {
    cursor: pointer;
    border-color: tokens.$ifxColorEngineering400;
  }

  &:active,
  &.active {
    border-color: tokens.$ifxColorBaseBlack;
  }

  &:focus:not(:active, .active) {
    outline: none;
    border-color: tokens.$ifxColorBaseBlack;
  }

  .label-wrapper {
    text-decoration: none;

    .label {
      margin: 0;
      font-weight: tokens.$ifxFontWeightRegular;
      font-size: tokens.$ifxFontSizeM;
      line-height: 20px;
      color: tokens.$ifxColorBaseBlack;
    }
  }
}