@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

.container {
  display: inline-flex;
  align-items: center;
  padding: tokens.$ifxSpace25 tokens.$ifxSpace200;
  border: 1px solid tokens.$ifxColorEngineering300;
  border-radius: tokens.$ifxBorderRadiusRound;
  text-decoration: none;

  &:hover {
    border-color: tokens.$ifxColorBaseBlack;
  }

  :active {
    border-color: tokens.$ifxColorBaseBlack;
    background-color: tokens.$ifxColorEngineering100;
  }

  & .label {
    margin: 0;
    font-weight: tokens.$ifxFontWeightRegular;
    font-size: tokens.$ifxFontSizeM;
    line-height: 1.5rem;
    color: tokens.$ifxColorBaseBlack;
  }
}