@use "../../../node_modules/@infineon/design-system-tokens/dist/tokens";

.radioButton__container {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    cursor: pointer;

    &.m .radioButton__wrapper {
        width: 24px;
        height: 24px;
    }

    .radioButton__wrapper {
        width: 20px;
        height: 20px;
        position: relative;
        display: block;
        border-radius: 50%;
        background-color: tokens.$color-bg-white;
        border: 1px solid #575352;

        &:focus {
            outline: none;

            &::before {
                content: '';
                position: absolute;
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 2px solid #0A8276;
                border-radius: 50%;
            }
        }

        .radioButton__wrapper-mark {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #0A8276;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-color: transparent;
        }

        &:hover {
            border-color: #0A8276;
        }

        &.disabled {
            background-color: #BFBBBB;
            border-color: #BFBBBB;

            &.error { 
                &:hover,
                &:focus-visible {
                    border-color: #CD002F;
                }
            }
        }

        &.checked {
            border-color: #0A8276;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 10px;
                height: 10px;
                background-color: #0A8276;
                border-radius: 50%;
            }

            &.disabled::after {
                background-color: #BFBBBB;
            }


            &:hover {
                border-color: #08665C;

                & .radioButton__wrapper-mark {
                    background-color: #08665C;
                }
            }

            &.disabled {
                background-color: tokens.$color-bg-white;
                border-color: #BFBBBB;

                &.disabled::after {
                    background-color: #BFBBBB;
                }

                & .radioButton__wrapper-mark {
                    background-color: #BFBBBB;
                }
            }
        }

        &.error:not(.disabled) {
            border-color: #CD002F;

            &:hover,
            &:focus-visible {
                border-color: #CD002F;
            }
        }
    }

    .label {
        display: flex;
        align-items: center;
        width: 25px;
        height: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: tokens.$color-text-black;
        flex: none;
        order: 1;
        flex-grow: 0;

        &.disabled {
            color: #BFBBBB;
        }

        &.error {
            color: #CD002F;
        }

        &:hover {
            cursor: pointer;
        }
    }
}