@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
    display: inline-flex;
}

.radioButton__container {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: tokens.$ifxSpace100;
    cursor: pointer;

    &.m .radioButton__wrapper {
        width: tokens.$ifxSize300;
        height: tokens.$ifxSize300;
    }

    .radioButton__wrapper {
        width: tokens.$ifxSize250;
        height: tokens.$ifxSize250;
        position: relative;
        display: block;
        border-radius: 50%;
        background-color: tokens.$ifxColorBaseWhite;
        border: 1px solid #575352;

        &:focus {
            outline: none;

            &::before {
                content: '';
                position: absolute;
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 2px solid tokens.$ifxColorOcean500;
                border-radius: 50%;
            }
        }

        .radioButton__wrapper-mark {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #0A8276;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-color: tokens.$ifxColorBaseTransparent;
        }

        &:hover {
            background-color: tokens.$ifxColorEngineering200;
        }

        &.disabled {
            background-color: #BFBBBB;
            border-color: #BFBBBB;

            &.error {

                &:hover,
                &:focus-visible {
                    border-color: #CD002F;
                }
            }
        }

        &.checked {
            border-color: #0A8276;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 10px;
                height: 10px;
                background-color: #0A8276;
                border-radius: 50%;
            }

            &.disabled::after {
                background-color: #BFBBBB;
            }


            &:hover {
                border-color: tokens.$ifxColorOcean600;

                & .radioButton__wrapper-mark {
                    background-color: tokens.$ifxColorOcean600;
                }
            }

            &.disabled {
                background-color: tokens.$ifxColorBaseWhite;
                border-color: #BFBBBB;

                &.disabled::after {
                    background-color: #BFBBBB;
                }

                & .radioButton__wrapper-mark {
                    background-color: #BFBBBB;
                }
            }
        }

        &.error:not(.disabled) {
            border-color: #CD002F;

            &:hover,
            &:focus-visible {
                border-color: #CD002F;
            }
        }
    }

    .label {
        display: flex;
        align-items: center;
        height: tokens.$ifxSize250;
        font-style: normal;
        font-weight: 400;
        font-size: tokens.$ifxFontSizeS;
        line-height: tokens.$ifxLineHeightS;
        color: tokens.$ifxColorBaseBlack;
        flex: none;
        order: 1;
        flex-grow: 0;

        &.label-m {
            height: tokens.$ifxSize300;
            font-size: tokens.$ifxFontSizeM;
            line-height: tokens.$ifxLineHeightM;
        }

        &.disabled {
            color: #BFBBBB;
        }



        &:hover {
            cursor: pointer;
        }
    }
}