@use "~@infineon/design-system-tokens/dist/tokens";

:host {
  display: inline-flex;
  --_ifx-fallback-display: none !important;
}

._ifx-radiobutton-fallback {
  display: var(--_ifx-fallback-display);
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

.radioButton__container {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: tokens.$ifxSpace100;
  cursor: pointer;
  font-family: var(--ifx-font-family);
  outline: none;

  &.disabled {
    cursor: default;
    
    .radioButton__wrapper {
      background-color: tokens.$ifxColorEngineering300;
      border-color: tokens.$ifxColorEngineering300;
      
      &:hover {
        background-color: tokens.$ifxColorEngineering300;
      }
      
      &.checked {
        background-color: tokens.$ifxColorBaseWhite;
        border-color: tokens.$ifxColorEngineering300;
        
        &::after {
          background-color: tokens.$ifxColorEngineering300;
        }
        
        .radioButton__wrapper-mark {
          background-color: tokens.$ifxColorEngineering300;
        }
        
        &:hover {
          border-color: tokens.$ifxColorEngineering300;
          
          .radioButton__wrapper-mark {
            background-color: tokens.$ifxColorEngineering300;
          }
        }
      }
    }
    
    .label {
      color: tokens.$ifxColorEngineering300;
    }
  }

  &:not(.disabled) .radioButton__wrapper {
    &.error {
      border-color: tokens.$ifxColorRed500;
      
      &:hover,
      &:focus-visible {
        border-color: tokens.$ifxColorRed500;
      }
      
      &.checked::after {
        border-color: tokens.$ifxColorRed500;
        background-color: tokens.$ifxColorRed500;
      }
    }
  }

  &:focus:not(.disabled) .radioButton__wrapper {
    &::before {
      content: '';
      position: absolute;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid tokens.$ifxColorOcean500;
      border-radius: 50%;
    }
  }

  &.m .radioButton__wrapper {
    width: tokens.$ifxSize300;
    height: tokens.$ifxSize300;
  }

  .radioButton__wrapper {
    width: tokens.$ifxSize250;
    height: tokens.$ifxSize250;
    position: relative;
    display: block;
    border-radius: 50%;
    background-color: tokens.$ifxColorBaseWhite;
    border: 1px solid tokens.$ifxColorEngineering500;

    .radioButton__wrapper-mark {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: tokens.$ifxColorOcean500;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-color: tokens.$ifxColorBaseTransparent;
    }

    &:hover {
      background-color: tokens.$ifxColorEngineering200;
    }

    &.checked {
      border-color: tokens.$ifxColorOcean500;
      
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        background-color: tokens.$ifxColorOcean500;
        border-radius: 50%;
      }

      &:hover {
        border-color: tokens.$ifxColorOcean600;
        
        .radioButton__wrapper-mark {
          background-color: tokens.$ifxColorOcean600;
        }
      }
    }
  }

  .label {
    display: flex;
    align-items: center;
    height: tokens.$ifxSize250;
    font-style: normal;
    font-weight: 400;
    font-size: tokens.$ifxFontSizeS;
    line-height: tokens.$ifxLineHeightS;
    color: tokens.$ifxColorBaseBlack;
    flex: none;
    order: 1;
    flex-grow: 0;

    &.label-m {
      height: tokens.$ifxSize300;
      font-size: tokens.$ifxFontSizeM;
      line-height: tokens.$ifxLineHeightM;
    }
  }
}