@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
  display: block;
  width: 100%;
}

.footer__container {
  //width: 100%;
  padding: 0px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: tokens.$ifxColorBaseWhite;
  font-family: var(--ifx-font-family);

  & .footer__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    & .footer__logo_top {
      svg {
        display: none; // Logo (when variant=large) is hidden by default

        @media (max-width: 768px) {
          display: inline; // Logo is shown (when variant=large) on mobile screens
        }
      }
    }


    & .large {
      display: flex;
      align-items: flex-start;
      width: 100%;
      justify-content: space-between;


      @media (max-width: 768px) {
        // Adjust this value to the breakpoint you want
        flex-wrap: wrap;
        justify-content: space-between; // Ensures that there is space between the columns if the width allows it
      }


      & ::slotted([slot=col]) {
        display: flex;
        gap: tokens.$ifxSpace400;

        @media (max-width: 768px) {
          // Adjust this value according to your design breakpoints
          flex-wrap: wrap;
          margin-top: tokens.$ifxSpace300;
        }
      }
    }


    & .default {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 24px 0;
      border-bottom: 1px solid #BFBBBB;
      margin-top: tokens.$ifxSpace600;

      & .footer__logo_btm {
        svg {
          display: inline; // Logo is shown at the bottom (when variant=large) on mobile screens 
          vertical-align: bottom;

          @media (max-width: 768px) {
            display: none; // Logo at the bottom (when variant=large) is hidden by default

          }
        }
      }

      @media (max-width: 768px) {
        // Adjust this value according to your design breakpoints
        margin-top: tokens.$ifxSpace300;
        flex-direction: column;
        align-items: flex-start;
      }

      ::slotted([slot=socials]) {
        display: flex;
        gap: tokens.$ifxSpace400;

        @media (max-width: 768px) {
          // Adjust this value according to your design breakpoints
          flex-wrap: wrap;
          margin-top: tokens.$ifxSpace300;
        }
      }
    }

    & .medium {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 24px 0;
      border-bottom: 1px solid #BFBBBB;



      & .footer__logo_default {
        & svg {
          vertical-align: bottom;
        }
      }

      @media (max-width: 768px) {
        // Adjust this value according to your design breakpoints
        flex-direction: column;
        align-items: flex-start;
      }

      ::slotted([slot=socials]) {
        display: flex;
        gap: tokens.$ifxSpace400;

        @media (max-width: 768px) {
          // Adjust this value according to your design breakpoints
          flex-wrap: wrap;
          margin-top: tokens.$ifxSpace300;
        }
      }
    }



    & .footer__base {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 28px 0;

      & .footer__brand {
        font-style: normal;
        font-weight: 400;
        font-size: tokens.$ifxFontSizeM;
        line-height: tokens.$ifxLineHeightM;
        color: tokens.$ifxColorBaseBlack;
        flex-grow: 1;

      }

      & .footer__buttons > ::slotted([slot=buttons]) {
        display: flex;
        gap: tokens.$ifxSpace300;
        padding-right: tokens.$ifxSpace200;
        justify-content: flex-end;
        flex-grow: 1;

        a {
          font-style: normal;
          font-weight: 400;
          font-size: tokens.$ifxFontSizeM;
          line-height: tokens.$ifxLineHeightM;
          text-decoration: none;
        }

        @media (max-width: 768px) {
          // Adjust this value according to your design breakpoints
          justify-content: flex-start;
          flex-wrap: wrap;
          gap: tokens.$ifxSpace150 tokens.$ifxSpace200;
        }
      }

      @media (max-width: 768px) {
        // Adjust this value according to your design breakpoints
        flex-direction: column-reverse;

        .footer__brand {
          margin-top: tokens.$ifxSpace200;
        }
      }
    }
  }
}