@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";


.col {
  display: flex;
  flex-direction: column;
  gap: tokens.$ifxSpace150;
  color: tokens.$ifxColorBaseBlack;

  & ::slotted([slot=title]) {
    box-sizing: border-box;
    font-weight: tokens.$ifxFontWeightSemibold;
    font-size: tokens.$ifxFontSizeM;
    line-height: tokens.$ifxLineHeightM;
    margin: 0;
    padding: 0;
  }

  & span { 
    display: flex;
    flex-direction: column;
    gap: tokens.$ifxSpace150;
    color: tokens.$ifxColorBaseBlack;
    
    & ::slotted([slot=link]) {
      box-sizing: border-box;
      font-weight: 400;
      font-size: tokens.$ifxFontSizeM;
      line-height: tokens.$ifxLineHeightM;
    }
  }
}