@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
  display: block;
  width: 100%;
}

.footer__container {
  //width: 100%;
  padding: 0px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: tokens.$ifxColorBaseWhite;
  font-family: var(--ifx-font-family);

  & .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    //width: 80%;
    width: 100%;

    & .large {
      display: flex;
      align-items: flex-start;
      width: 100%;
      padding: 24px 0;

      & ::slotted([slot=col]) {
        width: 276px;
        min-height: 168px;
      }
    }

    & .medium {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 24px 0;
      border-bottom: 1px solid #BFBBBB;

      & .footer__logo {
        & svg {
          vertical-align: bottom;
        }
      }

      & ::slotted([slot=socials]) {
        display: flex;
        gap: tokens.$ifxSpace400;
      }
    }

    & .footer__base {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 28px 0;

      & .footer__brand {
        font-style: normal;
        font-weight: 400;
        font-size: tokens.$ifxFontSizeM;
        line-height: tokens.$ifxLineHeightM;
        color: tokens.$ifxColorBaseBlack;
      }

      & .footer__buttons {
        display: flex;
        gap: tokens.$ifxSpace300;
        padding-right: 8px;

        & a {
          font-style: normal;
          font-weight: 400;
          font-size: tokens.$ifxFontSizeM;
          line-height: tokens.$ifxLineHeightM;
          color: tokens.$ifxColorBaseBlack;
          text-decoration: none;
        }
      }
    }
  }
}