<div>
  <h1>Using Stencil web components in an Angular application</h1>
  <h2>Button</h2>
  <div>
    <ifx-button variant="solid" href="" target="_blank" color="primary" size="m" [disabled]="false" [icon]="false">
      Button
    </ifx-button>
  </div>
  <br />
  <h2>Progress bar</h2>
  <ifx-progress-bar [value]="progressValue" size="m" show-label="true"></ifx-progress-bar>
  <div>
    <br />
    <ifx-button variant="solid" icon="" position="left" href="" target="_blank" color="primary" size="m"
      [disabled]="false" (click)="updateProgressOnClick()">
      Update progress
    </ifx-button>
  </div>
  <br />

  <h2>Checkbox</h2>

  <form (ngSubmit)="handleSubmit()">
    <ifx-checkbox [disabled]="checkboxDisabled" [value]="checkboxChecked" [error]="checkboxError" name="name"
      (ifxChange)="toggleCheckboxValue()">label</ifx-checkbox>
    <br />

    <ifx-button type="submit">Submit</ifx-button>
  </form>

  <ifx-button variant="outline" (click)="toggleCheckboxDisabled()">Toggle Disabled</ifx-button>
  <ifx-button variant="outline" (click)="toggleCheckboxError()">Toggle Error</ifx-button>
  <ifx-button variant="outline" (click)="toggleCheckboxValue()">Toggle Value</ifx-button>

  <span>Disabled: {{ checkboxDisabled }} </span>
  <span>Error: {{ checkboxError }} </span>
  <span>Value: {{ checkboxChecked }}</span>


  <h2>Text Input</h2>
  <form (ngSubmit)="handleSubmit()">
    <ifx-text-input (ifxInput)="handleIfxInput($event)" [error]="false" [disabled]="false" [success]="false"
      placeholder="Placeholder" [errorMessage]="">Text
      field</ifx-text-input>
    <br />

    <ifx-button type="submit">Submit</ifx-button>
  </form>
  <span>Text field value: {{ textFieldValue }}</span>
  <br />

  <h2>Radio Button</h2>
  <form>
    <ifx-radio-button [error]="radioError" [disabled]="radioDisabled" [value]="radioChecked"
      (ifxChange)="handleRadioButtonChange($event)">
      Text
    </ifx-radio-button>
  </form>
  <ifx-button variant="outline" (click)="toggleRadioBtnDisabled()">Toggle Disabled</ifx-button>
  <ifx-button variant="outline" (click)="toggleRadioBtnError()">Toggle Error</ifx-button>
  <ifx-button variant="outline" (click)="toggleRadioBtnValue()">Toggle Value</ifx-button>
  <span>Disabled: {{ radioDisabled }} </span>
  <span>Error: {{ radioError }} </span>
  <span>Value: {{ radioChecked }}</span>
  <span>Radio button value: {{ radioButtonValue }}</span>
  <br />

  <h2>Spinner</h2>
  <ifx-spinner variant="semiconductor" size="m"></ifx-spinner>
  <br />

  <h2>Link</h2>
  <ifx-link color="primary" href="" target="_blank" underline="false">
    Link
  </ifx-link>
  <br />

  <h2>Number indicator</h2>
  <ifx-number-indicator inverted='false'> {{ numberIndicator }}</ifx-number-indicator>
  <button (click)="increaseNumber()">+</button>
  <button (click)="decreaseNumber()">-</button>
  <br />

</div>