<div>
  <ifx-navbar application-name="Application name" fixed="false">
    <ifx-navbar-menu-item slot="left-menu-item">Menu Item</ifx-navbar-menu-item>
    <ifx-navbar-menu-item slot="left-menu-item">Menu Item</ifx-navbar-menu-item>

    <ifx-dropdown-menu slot="dropdown-menu">
      <ifx-dropdown-item>Menu Item</ifx-dropdown-item>
      <ifx-dropdown-item>Menu Item</ifx-dropdown-item>
      <ifx-dropdown-item>Menu Item</ifx-dropdown-item>
    </ifx-dropdown-menu>

    <ifx-search-bar size="default" slot="search-bar-right" is-open="false" show-close-button="true"></ifx-search-bar>

    <ifx-navbar-menu-item hide-label="false" slot="right-menu-item">Right One</ifx-navbar-menu-item>
    <ifx-navbar-menu-item hide-label="false" slot="right-menu-item">Right Two</ifx-navbar-menu-item>
    <ifx-navbar-menu-item hide-label="false" slot="right-menu-profile-item">Tisho</ifx-navbar-menu-item>
  </ifx-navbar>


  <h1>Using Stencil web components in an Angular application</h1>

  <h2>Alert</h2>
  <ifx-alert color="primary" icon="c-info-24">Attention! This is an alert message — check it out!</ifx-alert>
  <br />

  <h2>Tabs</h2>
  <ifx-tabs orientation="horizontal">
    <ifx-tab header="tab header 1">tab 1 content</ifx-tab>
    <ifx-tab header="tab header 2">tab 2 content</ifx-tab>
    <ifx-tab header="tab header 3">tab 3 content</ifx-tab>
  </ifx-tabs>
  <br />

  <h2>Tag</h2>
  <ifx-tag>tag</ifx-tag>
  <br />

  <h2>Button</h2>
  <div>
    <ifx-button variant="solid" href="" target="_blank" color="primary" size="m" [disabled]="false" [icon]="false">
      Button
    </ifx-button>
  </div>
  <br />
  <h2>Progress bar</h2>
  <ifx-progress-bar [value]="progressValue" size="m" show-label="true"></ifx-progress-bar>
  <div>
    <br />
    <ifx-button variant="solid" icon="" position="left" href="" target="_blank" color="primary" size="m"
      [disabled]="false" (click)="updateProgressOnClick()">
      Update progress
    </ifx-button>
  </div>
  <br />

  <h2>Checkbox</h2>

  <form (ngSubmit)="handleSubmit()">
    <ifx-checkbox [disabled]="checkboxDisabled" [value]="checkboxChecked" [error]="checkboxError" name="name"
      (ifxChange)="toggleCheckboxValue()">label</ifx-checkbox>
    <br />

    <ifx-button type="submit">Submit</ifx-button>
  </form>

  <ifx-button variant="outline" (click)="toggleCheckboxDisabled()">Toggle Disabled</ifx-button>
  <ifx-button variant="outline" (click)="toggleCheckboxError()">Toggle Error</ifx-button>
  <ifx-button variant="outline" (click)="toggleCheckboxValue()">Toggle Value</ifx-button>

  <span>Disabled: {{ checkboxDisabled }} </span>
  <span>Error: {{ checkboxError }} </span>
  <span>Value: {{ checkboxChecked }}</span>
  <br />


  <h2>Text Field</h2>
  <form (ngSubmit)="handleSubmit()">
    <ifx-text-input (ifxInput)="handleIfxInput($event)" [error]="false" [disabled]="false" [success]="false"
      placeholder="Placeholder" [errorMessage]="">Text
      field</ifx-text-input>
    <br />

    <ifx-button type="submit">Submit</ifx-button>
  </form>
  <span>Text field value: {{ textFieldValue }}</span>
  <br />

  <h2>Radio Button</h2>
  <form>
    <ifx-radio-button [error]="radioError" [disabled]="radioDisabled" [value]="radioChecked"
      (ifxChange)="handleRadioButtonChange($event)">
      Text
    </ifx-radio-button>
  </form>
  <ifx-button variant="outline" (click)="toggleRadioBtnDisabled()">Toggle Disabled</ifx-button>
  <ifx-button variant="outline" (click)="toggleRadioBtnError()">Toggle Error</ifx-button>
  <ifx-button variant="outline" (click)="toggleRadioBtnValue()">Toggle Value</ifx-button>
  <span>Disabled: {{ radioDisabled }} </span>
  <span>Error: {{ radioError }} </span>
  <span>Value: {{ radioChecked }}</span>
  <span>Radio button value: {{ radioButtonValue }}</span>
  <br />

  <h2>Spinner</h2>
  <ifx-spinner variant="semiconductor" size="m"></ifx-spinner>
  <br />

  <h2>Link</h2>
  <ifx-link color="primary" href="" target="_blank" underline="false">
    Link
  </ifx-link>
  <br />

  <h2>Number indicator</h2>
  <ifx-number-indicator inverted='false'> {{ numberIndicator }}</ifx-number-indicator>
  <button (click)="increaseNumber()">+</button>
  <button (click)="decreaseNumber()">-</button>
  <br />

  <h2>Sidebar</h2>
  <ifx-sidebar application-name="Application Name">
    <ifx-sidebar-item href="http://google.com" target="_blank" icon="image-16">Item One</ifx-sidebar-item>
    <ifx-sidebar-item href="http://google.com" target="_blank" icon="image-16">Item Two</ifx-sidebar-item>
    <ifx-sidebar-item href="http://google.com" target="_blank" icon="image-16">Item Three</ifx-sidebar-item>
    <ifx-sidebar-item href="http://google.com" target="_blank" icon="image-16">Item Four</ifx-sidebar-item>
  </ifx-sidebar>
  <br />
</div>