@use "../../node_modules/@infineon/design-system-tokens/dist/tokens";
@use "../global/fonts.css";

* {
  box-sizing: border-box;
  line-height: tokens.$font-line-height-m;
  font-family: tokens.$font-family-body;
}