@use "../../node_modules/@infineon/design-system-tokens/dist/tokens";

:root {
  --color-primary: blue;
}

* {
  box-sizing: border-box;
  line-height: tokens.$font-line-height-m;
  font-family: tokens.$font-family-body;
}