@use "~@infineon/design-system-tokens/dist/tokens";

:host {
  pointer-events: none;
}

.card__text-wrapper {
  padding-bottom: 0px;

  &.hasBtn {
    padding-bottom: 16px;
  }
}

.card-text {
  line-height: tokens.$ifxLineHeightM;
  font-size: tokens.$ifxFontSizeM;
  font-weight: 400;
  white-space: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}