@use "~@infineon/design-system-tokens/dist/tokens";

.group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.group__label {
    font-size: tokens.$ifxFontSizeM;
    color: tokens.$ifxColorBaseBlack;
    line-height: tokens.$ifxLineHeightM;
    font-weight: tokens.$ifxFontWeightRegular;
    
    &:empty {
        display: none;
    }

    & .required {
        color: tokens.$ifxColorEngineering500;
        margin-left: tokens.$ifxSpace50;

        &.error {
            color: tokens.$ifxColorRed500;
        }
    }
}

.group__controls {
    display: flex;
    flex-wrap: wrap;
}

.group__controls ::slotted(*) {
    margin-left: -1px;
    margin-top: -1px;
}

.group__caption {
    margin-top: tokens.$ifxSpace50;
    display: flex;
    align-items: center;
    gap: tokens.$ifxSpace100;
    font-weight: tokens.$ifxFontWeightRegular;
    font-size: tokens.$ifxFontSizeXs;
    line-height: tokens.$ifxLineHeightXs;

    &.error {
            color: tokens.$ifxColorRed500;
        }
}
