@use "../../../node_modules/@infineon/design-system-tokens/dist/tokens";

.chip__container { 
  display: flex;
  flex-direction: column;
  

  & .chip__wrapper { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    position: absolute;
    width: 85px;
    height: 36px;
    left: 117px;
    top: 16px;

    background: #FFFFFF;

    border: 1px solid #575352;
    border-radius: 100px;

    & .chip__wrapper-label { 
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */

      display: flex;
      align-items: center;

      /* Color/Base/Black */

      color: #1D1D1D;


      /* Inside auto layout */

      flex: none;
      order: 0;
      flex-grow: 0;
    }

    & .chip__wrapper-close-button { 
        & ifx-icon { 
          width: 12px;
          height: 12px;
    
          flex: none;
          order: 1;
          flex-grow: 0;
        }
    }
  }

  // & .chip__dropdown-menu { 

  // }
}