@use "~@infineon/design-system-tokens/dist/tokens";

.dropdown-item {
  text-decoration: none;
  color: tokens.$ifxColorBaseBlack;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: tokens.$ifxSize100;
  font-family: var(--ifx-font-family); // tokens.$ifxFontFamilyBody;

  &:focus{
    outline: none;
    box-shadow: 0 0 0 2px tokens.$ifxColorBaseWhite, 0 0 0 4px tokens.$ifxColorOcean500;
  }

  &.hide {
    display: none;
  }

  & span {
    color: tokens.$ifxColorBaseBlack;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
  }

  &.small {
    & span {
      font-size: 14px;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: tokens.$ifxColorEngineering200;
  }

  &:active {
    background-color: tokens.$ifxColorEngineering300;
  }

  &.error {
    color: tokens.$ifxColorRed500;
    & span {
      color: tokens.$ifxColorRed500; 
    }
  }
}

.icon {
  margin-right: 4px;
}