// This is file included by all other components style files. 

// All design tokens could be forwarded here for easier access in other style files.
// However, for clarity, we import the design tokens directly where needed.
// @forward "~@infineon/design-system-tokens/dist/tokens";
