@use "@infineon/design-system-tokens/dist/tokens";

:host {
  pointer-events: none;
}

.card__headline-wrapper {
  padding-bottom: var(--card-headline-padding, 16px);

  &.withDesc {
    padding-bottom: 8px;
  }
}

.card-headline {
  margin-top: 0;
  padding-top: 0;
  font-family: var(--ifx-font-family); // tokens.$ifxFontFamilyBody;


  font-weight: tokens.$ifxFontWeightSemibold;
  font-size: tokens.$ifxFontSize3xl;
  line-height: tokens.$ifxLineHeight3xl;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  &.horizontal {
    font-size: var(--card-headline-font, tokens.$ifxFontSizeXl);
    line-height: var(--card-headline-line-height, 28px);
  }

}