@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../../global/font.scss";

:host {
  pointer-events: none;
}

.card__headline-wrapper {
  padding-bottom: 16px;

  &.withDesc {
    padding-bottom: 8px;
  }
}

.card-headline {
  margin-top: 0;
  padding-top: 0;
  font-family: var(--ifx-font-family);
  font-weight: tokens.$ifxFontWeightSemibold;
  font-size: tokens.$ifxFontSize3xl;
  line-height: tokens.$ifxLineHeight3xl;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  &.isHovered {
    color: #0A8276;
  }

  &.horizontal {
    font-size: tokens.$ifxFontSizeXl;
    line-height: 28px;
  }

}