@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

/* switch.css */
:host {
  display: inline-block;
  user-select: none;
}

.container {
  padding: tokens.$ifxSpace50;
  display: flex;
  align-items: center;
  position: relative;
  // gap: tokens.$ifxSpace200;4
  // Subtracting padding size from both height and width
  width: (tokens.$ifxSpace500)-8px;
  height: 16px;
  background-color: tokens.$ifxColorBaseWhite;
  border: 1px solid tokens.$ifxColorEngineering500;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;

  &:focus {
    outline: 4px solid tokens.$ifxColorOcean500;
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid tokens.$ifxColorOcean500;
    outline-offset: 2px;
  }

  &.disabled {
    cursor: default;
    border-color: tokens.$ifxColorEngineering300;
  }


}


.switch_label-wrapper {
  margin-left: 46px; //(container witdth - switch width) + label gap (label starts where switch class ends)
  
  & label { 
    &:hover { 
      cursor: pointer;
    }
  }

  &.disabled {
    color: tokens.$ifxColorEngineering300;
  }
}


.switch_checkbox-wrapper {

  .switch {
    // position: absolute;
    width: tokens.$ifxSpace200;
    height: tokens.$ifxSpace200;
    background-color: tokens.$ifxColorEngineering500;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;

    &.disabled {
      background-color: tokens.$ifxColorEngineering300;
      border-color: tokens.$ifxColorEngineering300;
      cursor: default;
    }
  }

  .switch.checked {
    transform: translateX(16px);
    background-color: tokens.$ifxColorBaseWhite;

    &.disabled {
      cursor: default;
    }

  }

}

.container:hover .toggle-switch {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}



.container.checked {
  background-color: tokens.$ifxColorOcean500;
  border-color: tokens.$ifxColorOcean500;

  &.disabled {
    background-color: tokens.$ifxColorEngineering300;
    border-color: tokens.$ifxColorEngineering300;
    cursor: default;
  }
}