// @import '~choices.js/public/assets/styles/choices.css';
@use "~@infineon/design-system-tokens/dist/tokens";

.ifx-multiselect-container {
  position: relative;
  box-sizing: border-box;
  font-family: var(--ifx-font-family);
  

  &.disabled {
    & .ifx-label-wrapper {
      color: tokens.$ifxColorEngineering300;
    }

    & .ifx-multiselect-wrapper {
      background: tokens.$ifxColorEngineering300;
      color: tokens.$ifxColorBaseWhite;
      border-color: tokens.$ifxColorEngineering300;
      cursor: default;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  &:hover {
    cursor: pointer;
  }

  .ifx-label-wrapper {
    font-size: tokens.$ifxFontSizeM;
    line-height: tokens.$ifxLineHeightM;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    max-width: 100%;

    & .required {
      margin-left: 4px;

      &.error {
        color: tokens.$ifxColorRed500;
      }
    }
  }

  .multi__select-caption {
    font-style: normal;
    font-weight: tokens.$ifxFontWeightRegular;
    font-size: tokens.$ifxFontSizeXs;
    line-height: tokens.$ifxLineHeightXs;
    color: tokens.$ifxColorBaseBlack;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    &.error {
      color: tokens.$ifxColorRed500;
    }

    &.disabled {
      color: tokens.$ifxColorEngineering300;
    }
  }

  .ifx-multiselect-wrapper {
    background-color: tokens.$ifxColorBaseWhite;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid tokens.$ifxColorEngineering400;
    border-radius: tokens.$ifxBorderRadius12;
    width: 100%;
    font-weight: 400;
    font-style: normal;
    height: 40px;
    line-height: 24px;
    padding: 8px 16px;
    font-size: tokens.$ifxFontSizeM;
    line-height: tokens.$ifxLineHeightM;

    &:focus-visible {
      outline: none;
    }

    &:focus-visible:not(.active):not(:active) {
      outline: none;

      &::before {
        content: '';
        position: absolute;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid tokens.$ifxColorOcean500;
        border-radius: 2px;
      }
    }

    &.error {
      border-color: tokens.$ifxColorRed500;
    }

    &.active {
      border-color: tokens.$ifxColorOcean500 !important; // Active border color

      & .icon-wrapper-up {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: tokens.$ifxSpace100;
      }

      & .icon-wrapper-down {
        display: none;
      }
    }

    & .icon-wrapper-up {
      display: none;
    }

    & .icon-wrapper-down {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: tokens.$ifxSpace100;
    }

    &.is-flipped {
      .ifx-multiselect-dropdown-menu {
        top: auto;
        bottom: 100%;
      }
    }
  }

  .ifx-multiselect-input {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.placeholder {
      opacity: 0.5;
    }
  }

  .ifx-multiselect-icon-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: tokens.$ifxSpace100;

    .ifx-multiselect-icon-container {
      display: flex;
    }

    .icon-wrapper {
      display: flex;
      align-items: center;
      transition: transform 0.2s ease-in-out;
    }

    .icon-wrapper--open {
      transform: rotate(180deg);
    }
  }

  .ifx-clear-button {
    display: flex;
    align-items: center;

    &.hide {
      display: none;
    }
  }

  .ifx-multiselect-dropdown-menu {
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: tokens.$ifxSpace50;
    padding-bottom: tokens.$ifxSpace100;
    border: 1px solid tokens.$ifxColorEngineering200;
    background-color: tokens.$ifxColorBaseWhite;
    box-shadow: 0px 6px 9px 0px rgba(29, 29, 29, 0.1);
    max-height: 300px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }

   &:not(.disabled) .ifx-multiselect-wrapper:hover:not(.focus, :focus) {
    border-color: tokens.$ifxColorEngineering500;
  }
}

.ifx-multiselect-dropdown-functions {
  padding: tokens.$ifxSpace150 tokens.$ifxSpace200;
  border-bottom: 1px solid tokens.$ifxColorEngineering200;
  flex-shrink: 0;
}

.ifx-multiselect-dropdown-search {
  margin-bottom: tokens.$ifxSpace150;
}

.ifx-multiselect-dropdown-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: tokens.$ifxSpace100;

  .select-all-wrapper {
    display: flex;
  }

  .expand-collapse-controls {
    display: flex;
    gap: tokens.$ifxSpace150;
  }

  .control-item {
    font-size: 16px;
    line-height: 24px;

    &:hover {
      color: tokens.$ifxColorOcean500;
    }

    &:active {
      color: tokens.$ifxColorOcean600;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid tokens.$ifxColorOcean500;
      outline-offset: 2px;
      border-radius: tokens.$ifxBorderRadius12;
    }
  }
}

.ifx-multiselect-options {
  flex: 1;
  overflow-y: auto;
  padding-top: tokens.$ifxSpace100;

  &.show-no-results {
    .ifx-multiselect-no-results {
      display: block;
    }
  }
}

.ifx-multiselect-no-results {
  padding-left: tokens.$ifxSpace200;
  padding-right: tokens.$ifxSpace200;
  display: none;
}
