@use "~@infineon/design-system-tokens/dist/tokens";

:host {
  display: block;
  width: 100%;
}

.option {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  list-style: none;

  &.option--expanded {
    position: relative;
  }

  &.option--has-children {
    position: relative;

    .option-item > .chevron-wrapper {
      display: flex;
    }
  }

  &--disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: tokens.$ifxColorEngineering300;
  }

  &--selected {
    // Additional styles for selected state if needed
    // .option-item {
    //   background: red;
    // }
  }

  &.search-hidden {
    display: none !important;
  }

  &.search-match {
    .option-item {
      .option-label {
        .search-highlight {
          font-weight: bold;
          // color: tokens.$ifxColorOcean400;
        }
      }
    }
  }
}

.option-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  min-height: tokens.$ifxSize250;
  padding: tokens.$ifxSize50 tokens.$ifxSpace200;
  background-color: tokens.$ifxColorBaseWhite;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: tokens.$ifxColorEngineering100;
  }

  .option--disabled & {
    &:hover {
      background-color: transparent;
    }
  }
}

.option-children {
  display: block;
}

.chevron-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: tokens.$ifxSpace100;
  width: tokens.$ifxSize250;
  height: tokens.$ifxSize250;
  flex-shrink: 0;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid tokens.$ifxColorOcean500;
    outline-offset: 2px;
    border-radius: tokens.$ifxBorderRadius12;
  }

  .option--has-children & {
    display: flex;
  }

  .chevron {
    transition: transform 0.2s ease-in-out;
    color: tokens.$ifxColorEngineering600;

    &.chevron--expanded {
      transform: rotate(90deg);
    }

    &.chevron--collapsed {
      transform: rotate(0deg);
    }
  }
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-right: tokens.$ifxSpace100;
  flex-shrink: 0;
}

.option-label {
  flex-grow: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: tokens.$ifxSpace25 0;
  font-size: tokens.$ifxFontSizeS;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid tokens.$ifxColorOcean500;
    outline-offset: 2px;
    border-radius: tokens.$ifxBorderRadius12;
  }

  .option--disabled & {
    cursor: not-allowed;
    color: tokens.$ifxColorEngineering300;
  }
}
