// @import '~choices.js/public/assets/styles/choices.css';
@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../../global/font.scss";

.ifx-multiselect-container {
  background-color: tokens.$ifxColorBaseWhite;
  position: relative;
  box-sizing: border-box;

  &.small-select {
    height: 36px;
  }

  &.medium-select {
    height: 40px;
  }

  &:hover {
    cursor: pointer;
  }


  .ifx-label-wrapper {
    font-size: 16px;
    line-height: 24px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    max-width: 100%;
  }

  .ifx-error-message-wrapper {
    color: #CD002F;
    font-size: 12px;
    line-height: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    max-width: 100%;
  }

  .ifx-multiselect-wrapper {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0 1px tokens.$ifxColorEngineering400;
    width: 100%;
    border-radius: 1px;
    font-weight: 400;
    font-style: normal;


    &.small-select {
      height: 36px;
      line-height: 20px;
      padding: 8px 12px;
      font-size: 14px;
    }

    &.medium-select {
      height: 40px;
      line-height: 24px;
      padding: 8px 16px;
      font-size: 16px;
    }

    &:focus-visible {
      outline: none;
    }

    &:focus-visible:not(.active):not(:active) {
      outline: none;

      &::before {
        content: '';
        position: absolute;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid tokens.$ifxColorOcean500;
        border-radius: 2px;

      }
    }

    &.disabled {
      background: tokens.$ifxColorEngineering200;
      color: #575352;
      border-color: #575352;
      cursor: not-allowed;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &.error {
      border-color: #CD002F;
    }

    &:hover:not(.focus, :focus) {
      border-color: #8D8786;
    }

    &.active {
      box-shadow: 0 0 0 1px #0A8276 !important; // Active border color

      & .icon-wrapper-up {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & .icon-wrapper-down {
        display: none
      }
    }


    & .icon-wrapper-up {
      display: none;
    }

    & .icon-wrapper-down {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.is-flipped {
      .ifx-multiselect-dropdown-menu {
        top: auto;
        bottom: 100%;
      }
    }
  }

  .ifx-multiselect-input {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.placeholder {
      opacity: 0.5;
    }

  }


  .ifx-multiselect-icon-container {
    margin-left: auto;
    align-items: center;
    display: flex;
  }


  .ifx-clear-button {
    margin-right: tokens.$ifxSpace100; // Space between clear button and icons
    display: flex;
  }

  .ifx-multiselect-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 2px;
    background-color: #fff;
    box-shadow: 0px 6px 9px 0px rgba(29, 29, 29, 0.10);
    max-height: 300px;
    /* Adjust based on your design */
    overflow-y: auto;
    z-index: var(--dynamic-z-index, 1); // Fallback to 1

    .search-input {
      // position: sticky;
      // top: 0;
      // z-index: 2;
      width: 100%;
      padding: 8px 16px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      box-sizing: border-box;
      background-color: tokens.$ifxColorBaseWhite;
      border: none;
      border-bottom: 2px solid #ccc;

      &:focus {
        outline: none;
        border: 1px solid tokens.$ifxColorOcean500;
      }

      // Optional: Placeholder style
      &::placeholder {
        color: #999;
      }
    }
  }

  .option {
    position: relative;
    padding: 8px 16px;
    gap: 8px;
    align-items: center;
    display: flex;
    font-style: normal;
    font-weight: 400;

    &.small-select {
      line-height: 20px;
      font-size: 14px;
    }

    &.medium-select {
      line-height: 24px;
      font-size: 16px;
    }

    &:hover {
      background-color: tokens.$ifxColorEngineering200;
    }

    &:focus {
      background-color: tokens.$ifxColorEngineering300;
      outline: none;
    }

    &.is-highlighted {
      background-color: tokens.$ifxColorEngineering200;
      ;
    }

    &.selected {
      // color: #0A8276;
    }

    &.sub-option {
      padding-left: 30px;
      /* or however much indentation you want */
    }
  }



}