@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
  display: flex;
}

.textInput__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  font-family: tokens.$ifxFontFamilyBody;


  &.disabled {
    & .textInput__top-wrapper {
      & label {
        color: tokens.$ifxColorEngineering500;
      }
    }

    & .textInput__bottom-wrapper {
      input {
        border: 1px solid tokens.$ifxColorEngineering500;
        background-color: tokens.$ifxColorEngineering200;

        &::placeholder {
          font-size: tokens.$ifxFontSizeS;
          color: tokens.$ifxColorEngineering500;
        }
      }
    }
  }

  & .textInput__top-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    & label {
      font-style: normal;
      font-weight: 400;
      font-size: tokens.$ifxFontSizeM;
      line-height: tokens.$ifxLineHeightM;
      display: flex;
      align-items: center;
      color: tokens.$ifxColorBaseBlack;
      flex: none;
      order: 0;
      flex-grow: 0;

      & .optional-required {
        margin-left: 4px;
      }

      & .optional {
        margin-left: 4px;
      }

      & .required {
        margin-left: 4px;
      }
    }
  }

  .input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }


  & .textInput__bottom-wrapper {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    & input {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: tokens.$ifxSpace100 tokens.$ifxSpace200;
      gap: tokens.$ifxSpace100;
      height: tokens.$ifxSize500;
      background-color: tokens.$ifxColorBaseWhite;
      color: tokens.$ifxColorBaseBlack;
      border: 1px solid tokens.$ifxColorEngineering400;
      border-radius: tokens.$ifxBorderRadius12;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;

      &.input-s {
        height: tokens.$ifxSize450;
      }

      &.icon {
        padding-left: tokens.$ifxSpace400;
      }

      &.error {
        border: 1px solid #CD002F;

        &:focus {
          outline: none;
        }
      }

      &.success {
        border: 1px solid #4CA460;

        &:focus {
          outline: none;
        }
      }


      &:focus:not(.error, .success) {
        outline: none;
        border: 1px solid tokens.$ifxColorOcean500
      }

      &:hover:not(:disabled, .error, .success) {
        border: 1px solid #3C3A39;
      }

      &::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: tokens.$ifxFontSizeS;
        line-height: tokens.$ifxLineHeightM;
        color: #8D8786;
        flex: none;
        order: 1;
        flex-grow: 1;
      }
    }

    & ifx-icon {
      // Position the icon within the icon container
      // Adjust the positioning as needed
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 8px;
      /* Adjust this value to control the icon's left offset */
      transition: .3s;
    }

    & .textInput__bottom-wrapper-caption {
      font-style: normal;
      font-weight: 400;
      font-size: tokens.$ifxFontSizeXs;
      line-height: tokens.$ifxLineHeightXs;
      letter-spacing: 0.2px;
      color: tokens.$ifxColorBaseBlack;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;

      &.error {
        color: #CD002F;

      }

      &.disabled {
        color: tokens.$ifxColorEngineering500;
      }
    }

  }
}