@use "~@infineon/design-system-tokens/dist/tokens";

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.html-wrapper {
  background: rgb(38, 38, 38);
  padding: 20px;
  color: white;
  font-family: monospace;
  position: relative;

  & button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.85);
    color: #C9CDCF;
    border: 0 none;
    padding: 4px 10px;
    font-size: tokens.$ifxFontSizeXs;
    font-family: "Nunito Sans";
    font-weight: 700;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-left: 1px solid rgba(255, 255, 255, .1);
    margin-left: -1px;
    border-radius: 4px 0 0 0;
    cursor: pointer;
  }

  & .component-name {
    color: #A8FF60;
  }

  & .attribute-name {
    color: rgb(150, 203, 254);
  }

  & .attribute-value {
    color: rgb(180, 116, 221);
  }


}

.preview__container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 2px;
  flex-wrap: wrap;
  gap: 4px;

  & .preview__container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f1f1f1;
    padding: 2px;
    width: 50px;
    height: 50px;
    position: relative;

    &:active {
      border-color: #378375;
    }

    &:hover {
      cursor: pointer;
    }

    &.copied {
      &::after {
        z-index: 1000;
        content: 'copied!';
        position: absolute;
        top: 0;
        left: 50px;
        background-color: #000;
        color: white;
        padding: 3px;
        border-radius: 4px;
      }
    }
  }
}