@use "~@infineon/design-system-tokens/dist/tokens";

.container {
  display: flex;
  align-items: center;
  gap: tokens.$ifxSpace250;
  flex-wrap: wrap;
  text-decoration: none;
  color: tokens.$ifxColorBaseBlack;
  padding: 0px 24px 24px 24px;

  /* wraps text at spaces and within words */
  word-wrap: break-word;
  /* breaks text within a word if necessary */
  overflow-wrap: anywhere;
  /* breaks text at arbitrary points when needed */

  &:hover {
    cursor: initial;
  }
}