@use "~@infineon/design-system-tokens/dist/tokens";

.stepper {
    display: flex;
    align-items: center;
    
    &.compact {
        align-items: center;
        gap: 8px;
        
        &.compact-right {
            flex-direction: row-reverse;
            text-align: left;
        }
        
        .stepper-wrapper{
            width: unset;
            flex-direction: column;
        }
    }

    &.vertical {
        height: 100%;

        .stepper-wrapper {
            flex-direction: column;
            width: unset;
            height: 100%;
        }
    }
}

.stepper-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.stepper-wrapper ::slotted(*){
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.stepper-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    font: tokens.$ifxBodyBodySemibold04;
    min-width: tokens.$ifxSize700;
    height: tokens.$ifxSize700;
    border-radius: tokens.$ifxBorderRadiusRound;
    background: conic-gradient(tokens.$ifxColorOcean500 var(--pb, 0%), tokens.$ifxColorEngineering300 0);
    
    .progress-detail {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: (tokens.$ifxSize700)-(tokens.$ifxSize100);
        height: (tokens.$ifxSize700)-(tokens.$ifxSize100);
        border-radius: tokens.$ifxBorderRadiusRound;
        background: white;
    }
}

