@use "../../../node_modules/@infineon/design-system-tokens/dist/tokens";

.breadcrumb {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  font-family: tokens.$font-family-body;
  font-size: tokens.$font-size-s;
  align-items: flex-start;
  //gap: 16px; //this is where the gap comes from

}

// .separator {
//   color: tokens.$color-gray-300;
//   margin: 0 16px;
// }
