@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

.breadcrumb-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: tokens.$ifxSpace150;

  &:hover {
    cursor: pointer;
  }

  & .breadcrumb-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: tokens.$ifxSpace100;
    position: relative;

    & .dropdown-menu {
      display: none;
      position: absolute;
      top: 20px;

      &.open {
        display: block;
      }
    }

    & a {
      text-decoration: none;
      color: tokens.$ifxColorBaseBlack;
      font-family: var(--ifx-font-family);
      font-style: normal;
      font-weight: 400;
      font-size: tokens.$ifxFontSizeS;
      line-height: tokens.$ifxLineHeightS;
      display: flex;
      align-items: center;
      color: tokens.$ifxColorBaseBlack;
      flex-direction: column;
      justify-content: center;
      padding: 0px;
      border-bottom: 1px solid #1D1D1D;
    }
  }

  & .breadcrumb-divider {
    width: 10px;
    height: tokens.$ifxSize200;
    color: tokens.$ifxColorEngineering200;
    line-height: 13px;
    font-size: tokens.$ifxFontSizeXl;

    margin-right: 12px;
  }
}