@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host { 
  display: flex;
}

.breadcrumb {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  font-family: tokens.$ifxFontFamilyBody;
  font-size: tokens.$ifxFontSizeS;
  align-items: flex-start;
  //gap: tokens.$ifxSpace200; //this is where the gap comes from

}

// .separator {
//   color: tokens.$ifxColorEngineering300;
//   margin: 0 16px;
// }