@use "~@infineon/design-system-tokens/dist/tokens";
@import "~@infineon/design-system-tokens/dist/_fonts.scss";

* {
  box-sizing: border-box;
  line-height: tokens.$ifxLineHeightXl;
  font-family: tokens.$ifxFontFamilyBody;
}

ifx-icon:empty {
  display: none;
}