/* @use "~@infineon/design-system-tokens/dist/tokens"; */
@use "~@infineon/design-system-tokens/dist/_fonts.scss";

/* * {
  box-sizing: border-box;
  line-height: tokens.$ifxLineHeightXl;
} */

ifx-icon:empty {
  display: none;
}