@use "~@infineon/design-system-tokens/dist/tokens";

.tree-item {
  position: relative;
  cursor: pointer;
  list-style: none;
  --tree-item-level: attr(data-level number, 0);
  overflow: hidden;

  &.tree-item--expanded {
    position: relative;
  }

  &__header {
    display: flex;
    align-items: center;
    height: 20px;
    padding-top: tokens.$ifxSpace50;
    padding-right: tokens.$ifxSpace100;
    padding-bottom: tokens.$ifxSpace50;
    padding-left: tokens.$ifxSpace100;

    &:hover {
      background-color: tokens.$ifxColorEngineering100;
    }

    &--disabled {
      color: var(--ifx-color-disabled, #aaa);
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  &__checkbox-container {
    display: flex;
    align-items: center;
    position: absolute;
    left: tokens.$ifxSpace50;
  }

  &__checkbox {
    cursor: pointer;
  }

  &__icon {
    margin-right: 8px;
  }

  &__chevron-container {
    display: none;
    margin-right: 8px;
    height: 16px;

    &::after {
      display: none;
      content: '';
      position: absolute;
      z-index: 99999;
      top: 24px;
      left: auto;
      margin-left: 7px; // todo: fix this
      width: 1px;
      height: calc(100% - 4px - 20px); // todo: fix this
      background-color: tokens.$ifxColorEngineering200;
    }
  }

  &.tree-item--has-children {
    position: relative;

    > .tree-item__header > .tree-item__chevron-container {
      display: inline-block;
    }

    &.tree-item--expanded {
      > .tree-item__header > .tree-item__chevron-container::after {
        display: block;
      }
    }
  }


  &__chevron {
    cursor: pointer;
    font-size: 16px;
  }

  &__children {
    display: none;
    padding-left: 0;

    .tree-item[aria-expanded="true"] > & {
      display: block;
    }
  }

  &__label {
    padding-left: tokens.$ifxSpace100;
  }
}

.tree-item__chevron.chevron-down {
  transform: rotate(90deg);
}

.tree-item__chevron.chevron-right {
  transform: rotate(0);
}

.tree-item__checkbox-container {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.tree-item__checkbox {
  cursor: pointer;
}
