@use "~@infineon/design-system-tokens/dist/tokens";

.tree-item {
  position: relative;
  cursor: pointer;
  list-style: none;
  --tree-item-level: attr(data-level number, 0);
  overflow: hidden;



  &.tree-item--expanded {
    position: relative;
  }

  &__header {
    padding-top: tokens.$ifxSpace50;
    padding-right: tokens.$ifxSpace100;
    padding-bottom: tokens.$ifxSpace50;
    padding-left: tokens.$ifxSpace100;

    display: flex;
    align-items: center;
    padding-left: 32px;

    &:hover {
      background-color: var(--ifx-color-hover, #f7f7f7);
    }

    &--disabled {
      color: var(--ifx-color-disabled, #aaa);
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  &__checkbox-container {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
  }

  &__checkbox {
    cursor: pointer;
  }

  &__icon {
    margin-right: 8px;
  }

  &__chevron-container {
    display: none;
    position: relative;
    align-items: center;
    margin-right: 8px;
    height: 16px;

    &::after {
      display: none;
      content: '';
      position: absolute;
      top: 100%;
      left: calc(50% - 1px);
      width: 1px;
      height: 100vh; // todo: fix this
      background-color: var(--ifx-color-border, #be1919);
    }
  }

  &.tree-item--has-children {
    .tree-item__header > .tree-item__chevron-container {
      display: inline-block;
    }

    &.tree-item--expanded {
      .tree-item__chevron-container::after {
        display: block;
      }
    }
  }


  &__chevron {
    cursor: pointer;
    font-size: 16px;
  }

  &__children {
    display: none;
    padding-left: 0;

    .tree-item[aria-expanded="true"] > & {
      display: block;
    }
  }

  &__label {
    padding-left: 4px;
  }
}

.tree-item__chevron.chevron-down {
  transform: rotate(90deg);
}

.tree-item__chevron.chevron-right {
  transform: rotate(0);
}

.tree-item__checkbox-container {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.tree-item__checkbox {
  cursor: pointer;
}
