@use "~@infineon/design-system-tokens/dist/tokens";


.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  min-height: tokens.$ifxSize500;
  padding: 0px 16px;
  gap: tokens.$ifxSpace100;
  color: tokens.$ifxColorBaseWhite;
  flex-direction: row;
  font-weight: tokens.$ifxFontWeightSemibold;
  border-radius: tokens.$ifxBorderRadius12;
  line-height: tokens.$ifxLineHeightM;
  outline: none;
  font-family: tokens.$ifxFontFamilyBody;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: tokens.$ifxFontSizeM;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:not(.disabled) {
  cursor: pointer;
}

.btn-primary {
  color: tokens.$ifxColorBaseWhite;
  background-color: tokens.$ifxColorOcean500;
  border-color: tokens.$ifxColorOcean500;

  & svg {
    stroke: tokens.$ifxColorBaseWhite;
  }

}

.btn-outline-primary {
  background-color: tokens.$ifxColorBaseWhite;
  color: tokens.$ifxColorOcean500;
  border-color: tokens.$ifxColorOcean500;

  & svg {
    stroke: tokens.$ifxColorOcean500;
  }
}

.btn-secondary {
  color: tokens.$ifxColorBaseWhite;
  background-color: tokens.$ifxColorBerry500;
  border-color: tokens.$ifxColorBerry500;

  & svg {
    stroke: tokens.$ifxColorBaseWhite;
  }
}

.btn-outline-secondary {
  background-color: tokens.$ifxColorBaseWhite;
  color: tokens.$ifxColorBerry500;
  border-color: tokens.$ifxColorBerry500;

  & svg {
    stroke: tokens.$ifxColorBerry500;
  }
}

.btn-success {
  color: tokens.$ifxColorBaseBlack;
  background-color: tokens.$ifxColorGreen500;
  border-color: tokens.$ifxColorGreen500;

  & svg {
    stroke: tokens.$ifxColorBaseBlack;
  }
}

.btn-outline-success {
  background-color: tokens.$ifxColorBaseWhite;
  border-color: tokens.$ifxColorGreen500;

  & svg {
    stroke: tokens.$ifxColorBaseBlack;
  }
}

.btn-danger {
  color: tokens.$ifxColorBaseWhite;
  background-color: tokens.$ifxColorRed500;
  border-color: tokens.$ifxColorRed500;

  & svg {
    stroke: tokens.$ifxColorBaseWhite;
  }
}

.btn-outline-danger {
  background-color: tokens.$ifxColorBaseWhite;
  color: tokens.$ifxColorRed500;
  border-color: tokens.$ifxColorRed500;

  & svg {
    stroke: tokens.$ifxColorRed500;
  }
}

.btn-warning {
  color: tokens.$ifxColorBaseBlack;
  background-color: tokens.$ifxColorOrange500;
  border-color: tokens.$ifxColorOrange500;

  & svg {
    stroke: tokens.$ifxColorBaseBlack;
  }
}

.btn-outline-warning {
  background-color: tokens.$ifxColorBaseWhite;
  border-color: tokens.$ifxColorOrange500;

  & svg {
    stroke: tokens.$ifxColorBaseBlack;
  }
}



.btn {

  &.btn-s {
    font-size: tokens.$ifxFontSizeS;
    min-width: 71px;
    min-height: tokens.$ifxSize400;
    line-height: tokens.$ifxLineHeightXs;
  }

  &.btn-primary,
  &.btn-outline-primary,
  &.btn-secondary,
  &.btn-outline-secondary,
  &.btn-success,
  &.btn-outline-success,
  &.btn-danger,
  &.btn-outline-danger,
  &.btn-warning,
  &.btn-outline-warning,
  &.btn-outline-text {
    &:focus {
      box-shadow: none;

    }
  }

  &.btn-primary,
  &.btn-outline-primary,
  &.btn-secondary,
  &.btn-outline-secondary,
  &.btn-success,
  &.btn-outline-success,
  &.btn-danger,
  &.btn-outline-danger,
  &.btn-warning,
  &.btn-outline-warning,
  &.btn-outline-text {
    &:focus-visible {
      box-shadow: 0 0 0 3px #B4DDD8;
    }
  }

  &:disabled,
  &.disabled {
    opacity: tokens.$ifxOpacity100;
    background-color: tokens.$ifxColorEngineering300;
    border-color: tokens.$ifxColorEngineering300;
    color: tokens.$ifxColorBaseWhite;
  }


  &.btn-primary:not(:disabled, .disabled) {
    &:focus {
      background-color: tokens.$ifxColorOcean500;
      border-color: tokens.$ifxColorOcean500;
    }

    &:hover {
      background-color: tokens.$ifxColorOcean600;
      border-color: tokens.$ifxColorOcean600;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorOcean700;
      border-color: tokens.$ifxColorOcean700;
    }
  }

  &.btn-outline-primary:not(:disabled, .disabled) {

    &:focus {
      background-color: tokens.$ifxColorBaseTransparent;
    }

    &:hover {
      color: tokens.$ifxColorBaseWhite;
      background-color: tokens.$ifxColorOcean600;
      border-color: tokens.$ifxColorOcean600;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorOcean700;
      border-color: tokens.$ifxColorOcean700;
    }
  }

  &.btn-secondary:not(:disabled, .disabled) {
    &:focus {
      background-color: tokens.$ifxColorBerry500;
      border-color: tokens.$ifxColorBerry500;
    }

    &:hover {
      background-color: tokens.$ifxColorBerry500;
      border-color: tokens.$ifxColorBerry500;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorBerry500;
      border-color: tokens.$ifxColorBerry500;
    }
  }

  &.btn-outline-secondary:not(:disabled, .disabled) {

    &:focus {
      background-color: tokens.$ifxColorBaseTransparent;
    }

    &:hover {
      color: tokens.$ifxColorBaseWhite;
      background-color: tokens.$ifxColorBerry500;
      border-color: tokens.$ifxColorBerry500;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorBerry500;
      border-color: tokens.$ifxColorBerry500;
    }
  }

  &.btn-success:not(:disabled, .disabled) {

    &:focus {
      background-color: tokens.$ifxColorGreen500;
      border-color: tokens.$ifxColorGreen500;
    }

    &:hover {
      background-color: tokens.$ifxColorGreen500;
      border-color: tokens.$ifxColorGreen500;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorGreen500;
      border-color: tokens.$ifxColorGreen500;
    }
  }

  &.btn-outline-success:not(:disabled, .disabled) {
    color: tokens.$ifxColorBaseBlack;

    &:focus {
      background-color: tokens.$ifxColorBaseTransparent;
    }

    &:hover {
      background-color: tokens.$ifxColorGreen500;
      border-color: tokens.$ifxColorGreen500;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorGreen500;
      border-color: tokens.$ifxColorGreen500;
    }
  }

  &.btn-danger:not(:disabled, .disabled) {
    &:focus {
      background-color: tokens.$ifxColorRed500;
      border-color: tokens.$ifxColorRed500;
    }

    &:hover {
      background-color: tokens.$ifxColorRed600;
      border-color: tokens.$ifxColorRed600;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorRed700;
      border-color: tokens.$ifxColorRed700;
    }
  }

  &.btn-outline-danger:not(:disabled, .disabled) {

    &:focus {
      background-color: tokens.$ifxColorBaseTransparent;
    }

    &:hover {
      color: tokens.$ifxColorBaseWhite;
      background-color: tokens.$ifxColorRed600;
      border-color: tokens.$ifxColorRed600;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorRed700;
      border-color: tokens.$ifxColorRed700;
    }
  }

  &.btn-warning:not(:disabled, .disabled) {

    &:focus {
      background-color: tokens.$ifxColorOrange500;
      border-color: tokens.$ifxColorOrange500;
    }

    &:hover {
      background-color: tokens.$ifxColorOrange500;
      border-color: tokens.$ifxColorOrange500;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorOrange500;
      border-color: tokens.$ifxColorOrange500;
    }
  }

  &.btn-outline-warning:not(:disabled, .disabled) {
    color: tokens.$ifxColorBaseBlack;

    &:focus {
      background-color: tokens.$ifxColorBaseTransparent;
    }

    &:hover {
      background-color: tokens.$ifxColorOrange500;
      border-color: tokens.$ifxColorOrange500;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorOrange500;
      border-color: tokens.$ifxColorOrange500;
    }
  }

  &.btn-primary-outline-text {
    background-color: tokens.$ifxColorBaseTransparent;
    color: tokens.$ifxColorOcean500;

    &:hover {
      color: tokens.$ifxColorOcean600;

      & svg {
        stroke: tokens.$ifxColorOcean600;
      }
    }

    &:active,
    &.active {
      color: tokens.$ifxColorOcean700;

      & svg {
        stroke: tokens.$ifxColorOcean700;
      }
    }

    &:disabled,
    &.disabled {
      opacity: tokens.$ifxOpacity100;
      background-color: tokens.$ifxColorBaseTransparent;
      border-color: tokens.$ifxColorBaseTransparent;
      color: tokens.$ifxColorEngineering300;

      & svg {
        stroke: tokens.$ifxColorEngineering300;
      }
    }

    & svg {
      stroke: tokens.$ifxColorOcean500;
    }
  }

  &.btn-secondary-outline-text {
    background-color: tokens.$ifxColorBaseTransparent;
    color: tokens.$ifxColorBerry500;

    &:hover {
      color: tokens.$ifxColorBerry500;

      & svg {
        stroke: tokens.$ifxColorBerry500;
      }
    }

    &:active,
    &.active {
      color: tokens.$ifxColorBerry500;

      & svg {
        stroke: tokens.$ifxColorBerry500;
      }
    }

    &:disabled,
    &.disabled {
      opacity: tokens.$ifxOpacity100;
      background-color: tokens.$ifxColorBaseTransparent;
      border-color: tokens.$ifxColorBaseTransparent;
      color: tokens.$ifxColorEngineering300;

      & svg {
        stroke: tokens.$ifxColorEngineering300;
      }
    }

    & svg {
      stroke: tokens.$ifxColorBerry500;
    }
  }

  &.btn-success-outline-text {
    background-color: tokens.$ifxColorBaseTransparent;
    color: tokens.$ifxColorGreen500;

    &:hover {
      color: tokens.$ifxColorGreen500;

      & svg {
        stroke: tokens.$ifxColorGreen500;
      }
    }

    &:active,
    &.active {
      color: tokens.$ifxColorGreen500;

      & svg {
        stroke: tokens.$ifxColorGreen500;
      }
    }

    &:disabled,
    &.disabled {
      opacity: tokens.$ifxOpacity100;
      background-color: tokens.$ifxColorBaseTransparent;
      border-color: tokens.$ifxColorBaseTransparent;
      color: tokens.$ifxColorEngineering300;

      & svg {
        stroke: tokens.$ifxColorEngineering300;
      }
    }

    & svg {
      stroke: tokens.$ifxColorGreen500;
    }
  }

  &.btn-danger-outline-text {
    background-color: tokens.$ifxColorBaseTransparent;
    color: tokens.$ifxColorRed500;

    &:hover {
      color: tokens.$ifxColorRed600;

      & svg {
        stroke: tokens.$ifxColorRed600;
      }
    }

    &:active,
    &.active {
      color: tokens.$ifxColorRed700;

      & svg {
        stroke: tokens.$ifxColorRed700;
      }
    }

    &:disabled,
    &.disabled {
      opacity: tokens.$ifxOpacity100;
      background-color: tokens.$ifxColorBaseTransparent;
      border-color: tokens.$ifxColorBaseTransparent;
      color: tokens.$ifxColorEngineering300;

      & svg {
        stroke: tokens.$ifxColorEngineering300;
      }
    }

    & svg {
      stroke: tokens.$ifxColorRed500;
    }
  }

  &.btn-warning-outline-text {
    background-color: tokens.$ifxColorBaseTransparent;
    color: tokens.$ifxColorOrange500;

    &:hover {
      color: tokens.$ifxColorOrange500;

      & svg {
        stroke: tokens.$ifxColorOrange500;
      }
    }

    &:active,
    &.active {
      color: tokens.$ifxColorOrange500;

      & svg {
        stroke: tokens.$ifxColorOrange500;
      }
    }

    &:disabled,
    &.disabled {
      opacity: tokens.$ifxOpacity100;
      background-color: tokens.$ifxColorBaseTransparent;
      border-color: tokens.$ifxColorBaseTransparent;
      color: tokens.$ifxColorEngineering300;

      & svg {
        stroke: tokens.$ifxColorEngineering300;
      }
    }

    & svg {
      stroke: tokens.$ifxColorOrange500;
    }
  }
}



.ifx {
  &__btn-icon {
    &--before {
      margin-right: 10px;
    }

    &--after {
      margin-left: 10px;
    }
  }
}