@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host { 
  display: inline-block;
}

.container {
  //display: inline-block;
  position: relative;

  & .wrapper {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: tokens.$ifxSpace100;

    background: tokens.$ifxColorBaseWhite;

    border: 1px solid #BFBBBB;
    border-radius: 100px;

    &:hover {
      cursor: pointer;
      border: 1px solid #575352;
    }

    &:active {
      border: 1px solid #0A8276;
    }

    & .wrapper-label {
      font-style: normal;
      font-weight: 400;
      font-size: tokens.$ifxFontSizeS;
      line-height: tokens.$ifxLineHeightS;
      display: flex;
      align-items: center;
      color: tokens.$ifxColorBaseBlack;
      flex: none;
      order: 0;
      flex-grow: 0;
    }

    & .wrapper-close-button {
      & ifx-icon {
        transition: .3s;
        width: 12px;
        height: 12px;
      }

      &.show {
        & ifx-icon {
          transition: .3s;
          transform: rotate(-180deg);
        }
      }
    }
  }
}