@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
  display: inline-block;
}

.container {
  //display: inline-block;
  position: relative;
  font-family: var(--ifx-font-family);

  & .wrapper {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: tokens.$ifxSpace100;

    background: tokens.$ifxColorBaseWhite;

    border: 1px solid  tokens.$ifxColorEngineering300;
    border-radius: 100px;

    &:hover {
      cursor: pointer;
      border: 1px solid tokens.$ifxColorEngineering500;
    }

    &.active {
      border: 1px solid tokens.$ifxColorOcean500;
      outline: none;
    }

    & .wrapper-label {
      font-style: normal;
      font-weight: 400;
      font-size: tokens.$ifxFontSizeS;
      line-height: tokens.$ifxLineHeightS;
      display: flex;
      align-items: center;
      color: tokens.$ifxColorBaseBlack;
      flex: none;
      order: 0;
      flex-grow: 0;
    }

    & .wrapper-close-button {
      display: flex;
      align-items: center;
      
      & ifx-icon {
        transition: .3s;
        width: 12px;
        height: 12px;
      }

      &.show {
        & ifx-icon {
          transition: transform .3s;
          transform: rotate(-180deg);
        }
      }
    }

    &.selected {
      border: 1px solid tokens.$ifxColorOcean500;
      outline: 2px solid tokens.$ifxColorOcean500;
      outline-offset: -3px;

      & .wrapper-label {
        font-style: normal;
        font-weight: 600;
        font-size: tokens.$ifxFontSizeS;
        line-height: tokens.$ifxLineHeightS;
        color: tokens.$ifxColorOcean500;
      }

      & ifx-icon {
        color: tokens.$ifxColorOcean500;
      }

      &:hover {
        border: 1px solid tokens.$ifxColorOcean600;
        outline: 2px solid tokens.$ifxColorOcean600;

        & ifx-icon,
        & .wrapper-label {
          color: tokens.$ifxColorOcean600;
        }
      }
    }
  }
}