@use "../../../node_modules/@infineon/design-system-tokens/dist/tokens";

.badge__container { 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
  border: 1px solid tokens.$color-gray-200;
  background-color: tokens.$color-gray-200;
  border-radius: 100px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: tokens.$color-text-black;
}