@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
  display: inline-flex;
}

.badge__container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: tokens.$ifxSpace100;
  border: 1px solid tokens.$ifxColorEngineering200;
  background-color: tokens.$ifxColorEngineering200;
  border-radius: 100px;
  font-family: var(--ifx-font-family);
  font-size: tokens.$ifxFontSizeS;
  line-height: tokens.$ifxLineHeightS;
  font-weight: 400;
  color: tokens.$ifxColorBaseBlack;
}