@use "~@infineon/design-system-tokens/dist/tokens";

:host {
    display: inline-block;
}

.chip {
    position: relative;
}

.chip__wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: tokens.$ifxSpace100;
    box-sizing: border-box;
    border-radius: tokens.$ifxBorderRadiusRound;
    background: tokens.$ifxColorBaseWhite;
    cursor: pointer;  
    transition: border 100ms ease;
    font: tokens.$ifxBodyBody04;

    & .icon__wrapper { 
        display: flex;
    }

    &.outlined, &.filled-dark, &.filled-light { 
        outline: 2px solid transparent;
        &:focus-visible {
            outline: 2px solid tokens.$ifxColorOcean500;
            outline-offset: 2px;
        }
        
        &.chip__wrapper--opened {
         .wrapper__open-button {
            transform: rotate(-180deg);
         }
        }

        &.chip__wrapper--selected {
        .wrapper__label {
            .label__selected-options {
                font: tokens.$ifxBodyBody04;
            }
        }
      }
    }

    &.filled-dark, &.filled-light { 
        &.chip__wrapper--selected:not(.read-only) {
        background-color: tokens.$ifxColorOcean500;
        color: white;
         &:hover { 
            background-color: tokens.$ifxColorOcean600;
         }

         &:hover.disabled { 
            background-color: tokens.$ifxColorOcean500;
         }
      }
    }
    
    &.outlined { 
        border: 1px solid tokens.$ifxColorEngineering400;
        &:hover:not(.read-only) {
            border-color: tokens.$ifxColorEngineering500;
            background-color: tokens.$ifxColorEngineering100;
        }

        &:active:not(.read-only) { 
            border-color: tokens.$ifxColorEngineering500;
            background-color: tokens.$ifxColorEngineering300;
        }

        &.chip__wrapper--opened {
            border: 1px solid tokens.$ifxColorOcean500;
        }

        &.chip__wrapper--selected {
        outline: 3px solid tokens.$ifxColorOcean500;
        border: 1px solid transparent;
        background-color: white;

        &:focus-visible {
            outline-offset: 0px;
        }
         &:hover:not(.read-only) { 
            outline-color: tokens.$ifxColorOcean600;
         }

         &.read-only { 
            outline: none;
            border: 1px solid black;
         }
      }

      &.disabled { 
        outline: none;
        color: tokens.$ifxColorEngineering300;
        border: 1px solid tokens.$ifxColorEngineering300;
        &:hover { 
            outline: none;
            border-color: tokens.$ifxColorEngineering300;
            background-color: white;
        }
      }

      &.read-only { 
        border: 1px solid black;
        &:focus-visible { 
            outline: 2px solid tokens.$ifxColorOcean500;
            outline-offset: 2px;
        }
      }
    }

    &.filled-dark { 
        background-color: tokens.$ifxColorEngineering600;
        color: white;

        &:hover:not(.chip__wrapper--selected, .disabled, .read-only) { 
        background-color: tokens.$ifxColorEngineering500;
        }

        &:active:not(.chip__wrapper--selected, .disabled, .read-only) { 
            background-color: tokens.$ifxColorEngineering400;
            color: black;
        }

      &.disabled { 
        outline: none;
        color: tokens.$ifxColorEngineering300;
        &:hover:not(.chip__wrapper--selected) { 
        background-color: tokens.$ifxColorEngineering600;
        }
      }

      &.chip__wrapper--selected { 
        &.read-only { 
            border: 1px solid tokens.$ifxColorEngineering400;
         }
      }

      &.read-only { 
        border: 1px solid tokens.$ifxColorEngineering400;
      }
    }

    &.filled-light { 
        background-color: tokens.$ifxColorEngineering200;

        &:hover:not(.read-only) { 
        background-color: tokens.$ifxColorEngineering300;
        }

        &:active:not(.read-only) { 
            background-color: tokens.$ifxColorEngineering400;
        }

      &.disabled { 
        outline: none;
        color: tokens.$ifxColorEngineering300;
        &:hover:not(.chip__wrapper--selected) { 
        background-color: tokens.$ifxColorEngineering200;
        }
      }

      &.chip__wrapper--selected { 
        &.read-only { 
            border: 1px solid black;
         }
      }

      &.read-only { 
        border: 1px solid black;
      }
    }
    
    &.chip__wrapper--small {
        padding: tokens.$ifxSpace50 tokens.$ifxSpace100;
        height: tokens.$ifxSize300;
    }

    &.chip__wrapper--medium {
        padding: tokens.$ifxSpace50 tokens.$ifxSpace150;
        height: tokens.$ifxSize350;
    }
    
    &.chip__wrapper--large {
        padding: tokens.$ifxSpace100 tokens.$ifxSpace150;
        height: tokens.$ifxSize450;
    }
}

.wrapper__label {
    display: inline-flex;
    align-items: center;
    gap: tokens.$ifxSpace50;

    .label__selected-options {
        font: tokens.$ifxBodyBodySemibold04;
    }
}

.wrapper__open-button {
    display:flex;
    align-items: center;
}

.wrapper__unselect-button {
    display:flex;
    align-items: center;
}

.chip__dropdown {
    position: absolute;
    z-index: 1;
    box-shadow: 0px 6px 9px 0px #1D1D1D1A;
    border: 1px solid tokens.$ifxColorEngineering200;
    border-radius: tokens.$ifxBorderRadius12;
    padding: tokens.$ifxSpace100 0;
    min-width: 222px;
    background-color: tokens.$ifxColorBaseWhite;
}
