@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
    display: inline-block;
}

.chip {
    position: relative;
}

.chip__wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: tokens.$ifxSpace100;

    box-sizing: border-box;
    border: 1px solid tokens.$ifxColorEngineering300;
    border-radius: tokens.$ifxBorderRadiusRound;
    
    background: tokens.$ifxColorBaseWhite;
    
    cursor: pointer;  
    
    transition: border 100ms ease;

    font: tokens.$ifxBodyBody04;
    
    &:hover, &:focus-visible {
        outline: none;
        border: 1px solid tokens.$ifxColorEngineering500;
    }

    &:focus {
        border: 1px solid tokens.$ifxColorOcean500;
    }
    
    &.chip__wrapper--small {
        padding: tokens.$ifxSpace50 tokens.$ifxSpace100;
        height: tokens.$ifxSize300;
    }

    &.chip__wrapper--medium {
        padding: tokens.$ifxSpace50 tokens.$ifxSpace100;
        height: tokens.$ifxSize350;
    }
    
    &.chip__wrapper--large {
        padding: tokens.$ifxSpace100 tokens.$ifxSpace150;
        height: tokens.$ifxSize450;
    }
    
    &.chip__wrapper--opened {
        border: 1px solid tokens.$ifxColorOcean500;
        
        .wrapper__open-button {
            transform: rotate(-180deg);
        }
    }
    
    &.chip__wrapper--selected {
        outline: 3px solid tokens.$ifxColorOcean500;
        outline-offset: -3px;
        
        color: tokens.$ifxColorOcean500;
        
        &:hover, &:focus-visible {
            outline: 3px solid tokens.$ifxColorOcean600;
            
            color: tokens.$ifxColorOcean600;
        }
    }
}

.wrapper__label {
    display: inline-flex;
    align-items: center;
    gap: tokens.$ifxSpace50;

    font: tokens.$ifxBodyBody04;
    
    .label__selected-options {
        font: tokens.$ifxBodyBodySemibold04;
    }
}

.wrapper__open-button {
    display:flex;
    align-items: center;
    
    transition: all 300ms ease;
}

.wrapper__unselect-button {
    display:flex;
    align-items: center;
}

.chip__dropdown {
    position: absolute;
    z-index: 1;

    box-shadow: 0px 6px 9px 0px #1D1D1D1A;
    border: 1px solid tokens.$ifxColorEngineering200;
    border-radius: tokens.$ifxBorderRadius12;
    padding: tokens.$ifxSpace100 0;

    min-width: 222px;
    
    background-color: tokens.$ifxColorBaseWhite;
}
