@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
    display: inline-block;
}

.chip {
    position: relative;
}

.chip__wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: tokens.$ifxSpace100;

    box-sizing: border-box;
    border: 1px solid tokens.$ifxColorEngineering300;
    border-radius: tokens.$ifxBorderRadiusRound;
    
    background: tokens.$ifxColorBaseWhite;
    
    cursor: pointer;  
    
    transition: border 100ms ease;

    font: tokens.$ifxBodyBody04;
    
    &.outlined { 
        outline: 2px solid transparent;

        &:hover {
            border-color: tokens.$ifxColorEngineering500;
            background-color: tokens.$ifxColorEngineering100;
        }

        &:focus-visible {
            outline: 2px solid tokens.$ifxColorOcean500;
            border: 1px solid tokens.$ifxColorEngineering300;
            outline-offset: 2px;
        }

        &:active { 
            border-color: tokens.$ifxColorEngineering500;
            background-color: tokens.$ifxColorEngineering300;
        }

        &.chip__wrapper--opened {
            border: 1px solid tokens.$ifxColorOcean500;
        
         .wrapper__open-button {
            transform: rotate(-180deg);
         }
        }

        &.chip__wrapper--selected {
        outline: 3px solid tokens.$ifxColorOcean500;
        border: none;
        background-color: white;

        &:focus-visible {
            outline-offset: 0px;
        }
         &:hover { 
            outline-color: tokens.$ifxColorOcean600;
         }
        
        .wrapper__label {
            .label__selected-options {
                font: tokens.$ifxBodyBody04;
            }
        }
      }

      &.disabled { 
        outline: none;
        color: tokens.$ifxColorEngineering300;
        border: 1px solid tokens.$ifxColorEngineering300;
        &:hover { 
            outline: none;
            border-color: tokens.$ifxColorEngineering300;
            background-color: white;
        }
      }
    }

    &.filled-dark { 
        background-color: tokens.$ifxColorEngineering600;
        border: 2px solid transparent;
        outline: 2px solid transparent;
        color: white;

        &:hover { 
        background-color: tokens.$ifxColorEngineering400;
        color: black;
        }

        &:focus-visible {
            outline: 2px solid tokens.$ifxColorOcean600;
            border: 2px solid white;
        }

        &:active { 
            background-color: tokens.$ifxColorEngineering300;
        }

        &.chip__wrapper--opened {
         .wrapper__open-button {
            transform: rotate(-180deg);
         }
        }

        &.chip__wrapper--selected {
        background-color: tokens.$ifxColorOcean500;
        color: white;
         &:hover { 
            background-color: tokens.$ifxColorOcean600;
         }
        
        .wrapper__label {
            .label__selected-options {
                font: tokens.$ifxBodyBody04;
            }
        }
      }

      &.disabled { 
        background-color: tokens.$ifxColorEngineering600;
        color: tokens.$ifxColorEngineering300;
        &:hover { 
        background-color: tokens.$ifxColorEngineering600;
        }
      }
    }

    &.filled-light { 
        background-color: tokens.$ifxColorEngineering200;
        border: 2px solid transparent;
        outline: 2px solid transparent;

        &:hover { 
        background-color: tokens.$ifxColorEngineering300;
        }

        &:focus-visible {
            outline: 2px solid tokens.$ifxColorOcean600;
            border: 2px solid white;
        }

        &:active { 
            background-color: tokens.$ifxColorEngineering400;
        }

        &.chip__wrapper--opened {
         .wrapper__open-button {
            transform: rotate(-180deg);
         }
        }

        &.chip__wrapper--selected {
        background-color: tokens.$ifxColorOcean500;
        color: white;
         &:hover { 
            background-color: tokens.$ifxColorOcean600;
         }
        
        .wrapper__label {
            .label__selected-options {
                font: tokens.$ifxBodyBody04;
            }
        }
      }

      &.disabled { 
        background-color: tokens.$ifxColorEngineering200;
        color: tokens.$ifxColorEngineering300;
        &:hover { 
        background-color: tokens.$ifxColorEngineering200;
        }
      }
    }
    
    &.chip__wrapper--small {
        padding: tokens.$ifxSpace50 tokens.$ifxSpace100;
        height: tokens.$ifxSize300;
    }

    &.chip__wrapper--medium {
        padding: tokens.$ifxSpace50 tokens.$ifxSpace150;
        height: tokens.$ifxSize350;
    }
    
    &.chip__wrapper--large {
        padding: tokens.$ifxSpace100 tokens.$ifxSpace150;
        height: tokens.$ifxSize450;
    }
}

.wrapper__label {
    display: inline-flex;
    align-items: center;
    gap: tokens.$ifxSpace50;

    font: tokens.$ifxBodyBody04;
    
    .label__selected-options {
        font: tokens.$ifxBodyBodySemibold04;
    }
}

.wrapper__open-button {
    display:flex;
    align-items: center;
}

.wrapper__unselect-button {
    display:flex;
    align-items: center;
}

.chip__dropdown {
    position: absolute;
    z-index: 1;

    box-shadow: 0px 6px 9px 0px #1D1D1D1A;
    border: 1px solid tokens.$ifxColorEngineering200;
    border-radius: tokens.$ifxBorderRadius12;
    padding: tokens.$ifxSpace100 0;

    min-width: 222px;
    
    background-color: tokens.$ifxColorBaseWhite;
}
