@use "~@infineon/design-system-tokens/dist/tokens";

.search-field {
  background-color: tokens.$ifxColorBaseWhite;
  width: 100%;

  .search-field__wrapper {
    box-sizing: border-box;
    //height: 48px;
    height: tokens.$ifxSize500;
    display: flex;
    align-items: center;
    border: 1px solid #8D8786;
    border-radius: tokens.$ifxBorderRadius12;
    padding: 12px 16px;
    gap: tokens.$ifxSpace150;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    position: relative;
    width: 100%;
    outline: none;

    &.focused {
      border: 1px solid #0A8276;
    }

    &.search-field__wrapper-s {
      height: 36px;
    }

    &.search-field__wrapper-m {
      height: tokens.$ifxSpace150;
    }

    // &:not(.search-field__wrapper-s):not(.search-field__wrapper-m) {
    //   height: 48px;
    // }

    &:hover:not(.focused, :focus) {
      border: 1px solid #3C3A39;
    }

    &:focus {
      outline: none;
      border: 1px solid #0A8276;
    }

    // ::slotted(.search-icon) {
    //   left: 12px;
    // }

    .delete-icon {
      right: 12px;
      cursor: pointer;
    }

    input[type='text'] {
      font-family: tokens.$ifxFontFamilyBody;
      font-style: normal;
      font-weight: 400;
      font-size: tokens.$ifxFontSizeM;
      color: #8D8786;
      border: none;
      width: 100%;
      outline: none;
      height: 100%;

      &:focus {
        outline: none;
      }

      &:disabled {
        background-color: #EEEDED;
      }
    }

    &:has(input[disabled]) {
      background-color: #EEEDED;
    }
  }
}