@use "~@infineon/design-system-tokens/dist/tokens";

:host {
  display: flex;
}

.search-field {
  box-sizing: border-box;
  background-color: tokens.$ifxColorBaseWhite;
  width: 100%;

  .search-field__wrapper {
    box-sizing: border-box;
    height: tokens.$ifxSize500;
    display: flex;
    align-items: center;
    border: 1px solid #8D8786;
    border-radius: tokens.$ifxBorderRadius12;
    padding: tokens.$ifxSpace100 tokens.$ifxSpace200;
    gap: tokens.$ifxSpace150;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    position: relative;
    width: 100%;
    outline: none;
    color: tokens.$ifxColorEngineering400;

    &.focused {
      border: 1px solid tokens.$ifxColorOcean500;

      & ifx-icon {
        color: tokens.$ifxColorEngineering500;
      }
    }

    &.search-field__wrapper-s {
      height: 36px;
    }


    &:hover:not(.focused, :focus) {
      border: 1px solid #3C3A39;
    }

    &:focus {
      outline: none;
      border: 1px solid #0A8276;
    }


    .delete-icon {
      right: 12px;
      cursor: pointer;
    }

    input[type='text'] {
      font-family: tokens.$ifxFontFamilyBody;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      //line-height: 24px;
      color: #8D8786;
      border: none;
      width: 100%;
      outline: none;
      //height: 100%;
      height: 16px;

      &:focus {
        outline: none;
        color: #1d1d1d;
      }

      &:disabled {
        background-color: #EEEDED;
      }
    }

    &:has(input[disabled]) {
      background-color: #EEEDED;
    }
  }
}