@use "../../../node_modules/@infineon/design-system-tokens/dist/tokens";

.ifx-link { 
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  vertical-align: middle;

  &.bold { 
    font-weight: 600;
  }

  &.black { 
    color: tokens.$color-text-black;
  }

  &.primary { 
    color: tokens.$color-default-500;
  }
  &.secondary { 
    color: tokens.$color-highlight-500;
  }
  &.warning { 
    color: tokens.$color-warning-500;
  }
  &.danger { 
    color: tokens.$color-danger-500;
  }
  &.success { 
    color: tokens.$color-success-500;
  }

  &.underline { 
    text-decoration:underline;
    color: tokens.$color-text-black;
    text-decoration-color: tokens.$color-default-500;
  }
}