@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

.link {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: tokens.$ifxFontSizeM;
  text-decoration: none;
  color: tokens.$ifxColorBaseBlack;
  gap: tokens.$ifxSpace100;

  line-height: 1.6;

  &.bold {
    font-weight: tokens.$ifxFontWeightSemibold;
  }

  &.primary {
    color: tokens.$ifxColorOcean500;
  }

  &.secondary {
    color: tokens.$ifxColorBerry500;
  }

  &.warning {
    color: tokens.$ifxColorOrange500;
  }

  &.danger {
    color: tokens.$ifxColorRed500;
  }

  &.success {
    color: tokens.$ifxColorGreen500;
  }

  &.underline {
    text-decoration: underline;
  }
}