<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    border-color: rgba(27, 31, 35, .35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<ifx-navbar application-name="Application name" fixed="false">
  <ifx-navbar-item hide-label="false" icon="calendar16" slot="left-item" target="_blank" href="https://google.com">Menu
    Item1</ifx-navbar-item>
  <ifx-navbar-item slot="left-item">Menu Item</ifx-navbar-item>
  <ifx-navbar-item slot="left-item">Menu Item</ifx-navbar-item>

  <ifx-navbar-menu slot="menu">
    <ifx-navbar-menu-item href="https://google.com" target="_blank">Item 1</ifx-navbar-menu-item>
    <ifx-navbar-menu-item href="https://google.com">Item 2</ifx-navbar-menu-item>
    <ifx-navbar-menu-item href="https://google.com">Item 3</ifx-navbar-menu-item>
  </ifx-navbar-menu>

  <ifx-search-bar size="default" slot="search-bar-right" is-open="false" show-close-button="true"></ifx-search-bar>

  <ifx-navbar-item hide-label="false" slot="right-item">Right One</ifx-navbar-item>
  <ifx-navbar-item hide-label="false" slot="right-item">Right Two</ifx-navbar-item>
  <ifx-navbar-item hide-label="false" slot="right-profile-item">Tisho</ifx-navbar-item>
</ifx-navbar>
<br />
<br />

<h1>Using Stencil web components in an Angular application</h1>
<br />
<br />

<h2>Alert</h2>
<ifx-alert color="primary" icon="c-info-24">Attention! This is an alert message — check it out!</ifx-alert>
<br />
<br />


<h2>Accordion</h2>
<ifx-accordion><ifx-accordion-item caption="Label">

    Content for Item #1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat, ligula eu aliquam
    bibendum, orci nisl cursus ipsum, nec egestas odio sapien eget neque.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat, ligula eu aliquam bibendum, orci nisl
    cursus ipsum, nec egestas odio sapien eget neque.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat, ligula eu aliquam bibendum, orci nisl
    cursus ipsum, nec egestas odio sapien eget neque.

  </ifx-accordion-item><ifx-accordion-item caption="Label">

    Content for Item #2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat, ligula eu aliquam
    bibendum, orci nisl cursus ipsum, nec egestas odio sapien eget neque.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat, ligula eu aliquam bibendum, orci nisl
    cursus ipsum, nec egestas odio sapien eget neque.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat, ligula eu aliquam bibendum, orci nisl
    cursus ipsum, nec egestas odio sapien eget neque.

  </ifx-accordion-item><ifx-accordion-item caption="Label">

    Content for Item #3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat, ligula eu aliquam
    bibendum, orci nisl cursus ipsum, nec egestas odio sapien eget neque.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat, ligula eu aliquam bibendum, orci nisl
    cursus ipsum, nec egestas odio sapien eget neque.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat, ligula eu aliquam bibendum, orci nisl
    cursus ipsum, nec egestas odio sapien eget neque.

  </ifx-accordion-item></ifx-accordion>
<br />




<h2>Breadcrumb</h2>
<ifx-breadcrumb>
  <ifx-breadcrumb-item>
    <ifx-breadcrumb-item-label slot="label" icon="">Breadcrumb 1</ifx-breadcrumb-item-label>
    <ifx-dropdown-menu>
      <ifx-dropdown-item url="http://google.com">Google</ifx-dropdown-item>
      <ifx-dropdown-item url="http://bing.com">Bing</ifx-dropdown-item>
      <ifx-dropdown-item url="http://yahoo.com">Yahoo</ifx-dropdown-item>
      <ifx-dropdown-item url="http://naver.com">Naver</ifx-dropdown-item>
    </ifx-dropdown-menu>
  </ifx-breadcrumb-item>

  <ifx-breadcrumb-item>
    <ifx-breadcrumb-item-label slot="label" icon="">Breadcrumb 2</ifx-breadcrumb-item-label>
    <ifx-dropdown-menu>
      <ifx-dropdown-item url="http://google.com">Google</ifx-dropdown-item>
      <ifx-dropdown-item url="http://bing.com">Bing</ifx-dropdown-item>
      <ifx-dropdown-item url="http://yahoo.com">Yahoo</ifx-dropdown-item>
      <ifx-dropdown-item url="http://naver.com">Naver</ifx-dropdown-item>
    </ifx-dropdown-menu>
  </ifx-breadcrumb-item>

  <ifx-breadcrumb-item>
    <ifx-breadcrumb-item-label slot="label" icon="" url="http://google.com">Breadcrumb 3</ifx-breadcrumb-item-label>
  </ifx-breadcrumb-item>
</ifx-breadcrumb>
<br />




<h2>Button</h2>
<div>
  <ifx-button variant="primary" href="" target="_blank" theme="default" size="m" [disabled]="false">
    Button
  </ifx-button>
</div>
<br />
<br />




<h2>Card</h2>
<ifx-card href="http://google.com" target="_blank" direction="vertical">
  <ifx-card-image position="right" src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Latte_and_dark_coffee.jpg"
    alt="" slot="img"></ifx-card-image>

  <ifx-card-overline>Overline</ifx-card-overline>
  <ifx-card-headline>Headline</ifx-card-headline>
  <ifx-card-text>This is a long description in order to test if the text will overflow its container or not. So I am
    typing even more text. And more and more. This is a long description in order to test if the text will overflow
    its container or not. So I am typing even more text. And more and more. This is a long description in order to
    test if the text will overflow its container or not. So I am typing even more text. And more and more. This is a
    long description in order to test if the text will overflow its container or not. So I am typing even more text.
    And more and more.This is a long description in order to test if the text will overflow its container or not. So I
    am typing even more text. And more and more. This is a long description in order to test if the text will overflow
    its container or not. So I am typing even more text. And more and more.This is a long description in order to test
    if the text will overflow its container or not. So I am typing even more text. And more and more. This is a long
    description in order to test if the text will overflow its container or not. So I am typing even more text. And
    more and more.</ifx-card-text>

  <ifx-card-links slot="buttons">
    <ifx-button theme="default">Button</ifx-button>
    <ifx-button theme="danger">Button</ifx-button>
  </ifx-card-links>
</ifx-card>
<br />
<br />

<h2>Checkbox</h2>

<form (ngSubmit)="handleSubmit()">
  <ifx-checkbox [disabled]="checkboxDisabled" [value]="checkboxChecked" [error]="checkboxError" name="name"
    (ifxChange)="toggleCheckboxValue()">label</ifx-checkbox>
  <br />
  <br />

  <ifx-button type="submit">Submit</ifx-button>
</form>

<ifx-button variant="secondary" (click)="toggleCheckboxDisabled()">Toggle Disabled</ifx-button>
<ifx-button variant="secondary" (click)="toggleCheckboxError()">Toggle Error</ifx-button>
<ifx-button variant="secondary" (click)="toggleCheckboxValue()">Toggle Value</ifx-button>

<span>Disabled: {{ checkboxDisabled }} </span>
<span>Error: {{ checkboxError }} </span>
<span>Value: {{ checkboxChecked }}</span>
<br />
<br />



<h2>Dropdown</h2>
<ifx-dropdown placement="bottom-start" no-close-on-menu-click="true">
  <ifx-dropdown-trigger-button icon="calendar16">
    dropdown
  </ifx-dropdown-trigger-button>
  <ifx-dropdown-menu size="l">
    <ifx-dropdown-header>Header Text</ifx-dropdown-header>
    <ifx-search-field show-delete-icon="false"></ifx-search-field>
    <ifx-dropdown-item target="_blank" href="https://www.google.de">First</ifx-dropdown-item>
    <ifx-dropdown-separator></ifx-dropdown-separator>
    <ifx-dropdown-item icon="calendar16">One</ifx-dropdown-item>
    <ifx-dropdown-item>Two</ifx-dropdown-item>
    <ifx-dropdown-item>Three</ifx-dropdown-item>
    <ifx-dropdown-item>Four</ifx-dropdown-item>
  </ifx-dropdown-menu>
</ifx-dropdown>
<br />
<br />

<h2>Link</h2>
<ifx-link color="primary" href="" target="_blank" underline="false">
  Link
</ifx-link>
<br />
<br />

<h2>Modal</h2>
<div>
  <ifx-modal id="modal" caption="Modal Title" variant="default" close-on-overlay-click="false">
    <div slot="content">
      <span>Hello. Welcome. What a pleasure it is to have you.</span>
    </div>
    <div slot="buttons">
      <ifx-button variant="secondary" (click)="handleModalButton1Click()">Console output</ifx-button>
      <ifx-button (click)="handleModalButton2Click()">Close</ifx-button>
    </div>
  </ifx-modal>
  <ifx-button (click)="handleModalOpen()">Open Modal</ifx-button>
</div>
<br />
<br />


<h2>Multi-Select</h2>
<ifx-multiselect
  options='[{ "value": "a", "label": "option a", "selected": true }, { "value": "b", "label": "option b", "selected": false, "children": [{ "value": "b1", "label": "option b1", "selected": false}] }, { "value": "c", "label": "option c", "selected": false }]'
  size="medium (40px)" error="false" error-message="Some error" label="" disabled="false"></ifx-multiselect>
<br />
<br />

<h2>Number Indicator</h2>
<ifx-number-indicator inverted='false'> {{ numberIndicator }}</ifx-number-indicator>
<button (click)="increaseNumber()">+</button>
<button (click)="decreaseNumber()">-</button>
<br />
<br />

<h2>Pagination</h2>
<ifx-pagination total="500" current-page="1"></ifx-pagination>
<br />
<br />


<h2>Progress bar</h2>
<ifx-progress-bar [value]="progressValue" size="m" show-label="true"></ifx-progress-bar>
<div>
  <br />
  <ifx-button variant="primary" icon="" position="left" href="" target="_blank" theme="default" size="m"
    [disabled]="false" (click)="updateProgressOnClick()">
    Update progress
  </ifx-button>
</div>
<br />
<br />


<h2>Radio Button</h2>
<form>
  <ifx-radio-button [error]="radioError" [disabled]="radioDisabled" [value]="radioChecked"
    (ifxChange)="handleRadioButtonChange($event)">
    Text
  </ifx-radio-button>
</form>
<ifx-button variant="secondary" (click)="toggleRadioBtnDisabled()">Toggle Disabled</ifx-button>
<ifx-button variant="secondary" (click)="toggleRadioBtnError()">Toggle Error</ifx-button>
<ifx-button variant="secondary" (click)="toggleRadioBtnValue()">Toggle Value</ifx-button>
<span>Disabled: {{ radioDisabled }} </span>
<span>Error: {{ radioError }} </span>
<span>Value: {{ radioChecked }}</span>
<span>Radio button value: {{ radioButtonValue }}</span>
<br />
<br />

<h2>Spinner</h2>
<ifx-spinner variant="semiconductor" size="m"></ifx-spinner>
<br />
<br />

<h2>Search Field</h2>
<ifx-search-field size="m" disabled="false" show-delete-icon="true"
  (ifxInput)="handleSearchField($event)"></ifx-search-field>
<br />
<br />

<h2>Search Bar</h2>
<ifx-search-bar size="m" disabled="false" show-close-button="true"
  (ifxInput)="handleSearchBar($event)"></ifx-search-bar>
<br />
<br />

<h2>Sidebar</h2>
<ifx-sidebar application-name="Application Name">
  <ifx-sidebar-item href="http://google.com" target="_blank" icon="image-16">Item One</ifx-sidebar-item>
  <ifx-sidebar-item href="http://google.com" target="_blank" icon="image-16">Item Two</ifx-sidebar-item>
  <ifx-sidebar-item href="http://google.com" target="_blank" icon="image-16">Item Three</ifx-sidebar-item>
  <ifx-sidebar-item href="http://google.com" target="_blank" icon="image-16">Item Four</ifx-sidebar-item>
</ifx-sidebar>
<br />
<br />



<h2>Single-Select</h2>
<ifx-select type="single" value="undefined" ifx-size="medium (40px)" placeholder="true" search-enabled="true"
  search-placeholder-value="Search..." ifx-disabled="false" ifx-error="false" ifx-error-message="Some error"
  ifx-label="" ifx-placeholder-value="Placeholder"
  ifx-options='[{ "value": "a", "label": "option a", "selected": true }, { "value": "b", "label": "option b", "selected": false }, { "value": "c", "label": "option c", "selected": false }]'></ifx-select>
<br />
<br />


<h2>Switch</h2>
<ifx-switch [disabled]="switchDisabled" [value]="switchChecked" (ifxChange)="toggleSwitchValue()"></ifx-switch>
<br />
<br />

<h2>Table</h2>
<ifx-basic-table row-height='default'
  cols='[{"headerName":"Make","field":"make","sortable":true,"sort":"desc","unSortIcon":true},{"headerName":"Model","field":"model","sortable":true,"unSortIcon":true},{"headerName":"Price","field":"price"},{"headerName":"Age","field":"age"}]'
  rows='[{"make":"Toyota","model":"Celica","price":35000,"age":10},{"make":"Ford","model":"Mondeo","price":32000,"age":12},{"make":"Porsche","model":"Boxster","price":72000}]'
  table-height='auto'>
</ifx-basic-table>
<br />
<br />

<h2>Tabs</h2>
<ifx-tabs (tabChange)="handleChange($event)" #ifxTabs orientation="horizontal">
  <ifx-tab header="tab header 1" disabled="false">tab 1 content</ifx-tab>
  <ifx-tab header="tab header 2" disabled="true">tab 2 content</ifx-tab>
  <ifx-tab header="tab header 3" disabled="false">tab 3 content</ifx-tab>
</ifx-tabs>
<br />
<br />

<h2>Tag</h2>
<ifx-tag>tag</ifx-tag>
<br />
<br />

<h2>Text Field</h2>
<form (ngSubmit)="handleSubmit()">
  <ifx-text-field (ifxInput)="handleTextInput($event)" [error]="false" [disabled]="false" [success]="false"
    placeholder="Placeholder">Text
    field</ifx-text-field>
  <br />
  <br />

  <ifx-button type="submit">Submit</ifx-button>
  <ifx-button variant="secondary" type="reset">Reset</ifx-button>

</form>
<span>Text field value: {{ textFieldValue }}</span>
<br />
<br />

<h2>Tooltip</h2>
<ifx-tooltip text="Hi, I'm a compact tooltip" variant="compact" position="right">I'm the compact tooltip reference
  element -
  Please hover me</ifx-tooltip>
<br />
<ifx-tooltip header="Dismissible tooltip header" text="Hi, I'm a dismissible tooltip" variant="dismissible"
  position="auto">I'm the dismissible tooltip reference element - Please click me</ifx-tooltip>
<br />
<br />

<h2>Footer</h2>
<ifx-footer variant="large">
  <ifx-footer-column slot="col">
    <h5 slot="title">Title</h5>
    <ifx-link bold="false" slot="link">Footer Link</ifx-link>
    <ifx-link bold="false" slot="link">Footer Link</ifx-link>
    <ifx-link bold="false" slot="link">Footer Link</ifx-link>
    <ifx-link bold="false" slot="link">Footer Link</ifx-link>
  </ifx-footer-column>
  <ifx-footer-column slot="col">
    <h5 slot="title">Title</h5>
    <ifx-link bold="false" slot="link">Footer Link</ifx-link>
    <ifx-link bold="false" slot="link">Footer Link</ifx-link>
    <ifx-link bold="false" slot="link">Footer Link</ifx-link>
    <ifx-link bold="false" slot="link">Footer Link</ifx-link>
  </ifx-footer-column>
  <ifx-footer-column slot="col">
    <h5 slot="title">Title</h5>
    <ifx-link bold="false" slot="link" href="https://google.com" underline="false">Footer Link</ifx-link>
    <ifx-link bold="false" slot="link" href="https://google.com">Footer Link</ifx-link>
    <ifx-link bold="false" slot="link" href="https://google.com">Footer Link</ifx-link>
    <ifx-link bold="false" slot="link" href="https://google.com">Footer Link</ifx-link>
  </ifx-footer-column>
  <ifx-footer-column slot="col">
    <h5 slot="title">Title</h5>
    <ifx-link bold="false" slot="link">Footer Link</ifx-link>
    <ifx-link bold="false" slot="link">Footer Link</ifx-link>
    <ifx-link bold="false" slot="link">Footer Link</ifx-link>
    <ifx-link bold="false" slot="link">Footer Link</ifx-link>
  </ifx-footer-column>
  <div slot="socials">
    <ifx-link href="http://facebook.com/infineon">
      <ifx-icon icon="c-info-16"></ifx-icon>
    </ifx-link>
    <ifx-link href="http://youtube.com/infineon">
      <ifx-icon icon="calendar-16"></ifx-icon>
    </ifx-link>
    <ifx-link href="http://instagram.com/infineon">
      <ifx-icon icon="fileexe16"></ifx-icon>
    </ifx-link>
    <ifx-link href="http://linkedin.com/infineon">
      <ifx-icon icon="filegif16"></ifx-icon>
    </ifx-link>
    <ifx-link href="http://twitter.com/infineon">
      <ifx-icon icon="filehtml16"></ifx-icon>
    </ifx-link>
    <ifx-link href="http://xing.com/infineon">
      <ifx-icon icon="filejpg16"></ifx-icon>
    </ifx-link>
  </div>
</ifx-footer>


<router-outlet></router-outlet>