@use "~@infineon/design-system-tokens/dist/tokens";

:host {
  pointer-events: none;
}

.card-overline {
  font-size: tokens.$ifxFontSizeM;
  font-weight: tokens.$ifxFontWeightRegular;
  color: tokens.$ifxColorEngineering500;
  padding-bottom: 4px;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  word-break: break-all;

}