@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

    .ai-label {
        display: flex;
        align-items: flex-start;
        gap: tokens.$ifxSpace25;
        margin: 16px 0px;

        & .title {
            color: tokens.$ifxColorEngineering500;
            font-size: tokens.$ifxFontSizeXs;
            font-style: normal;
            font-weight: 600;
            line-height: tokens.$ifxLineHeightXs;
        }

        & .subtitle {
            color: tokens.$ifxColorEngineering500;
            font-size: tokens.$ifxFontSizeXs;
            font-style: normal;
            font-weight: 400;
            line-height: tokens.$ifxLineHeightXs;
        }
    }

    .divider {
        border-top: 1px solid tokens.$ifxColorEngineering200;
        display: flex;
        width: auto;
        align-items: flex-start;
        margin-top: 16px;
    }

    .icon {
        margin-top: 16px;
    }