@use "~@infineon/design-system-tokens/dist/tokens";

.chip-item {
    display: flex;
    align-items: center;
    gap: tokens.$ifxSpace100;
    
    padding: tokens.$ifxSpace100 tokens.$ifxSpace200;
    
    user-select: none;
    
    transition: all 100ms ease;
    transition-property: background, color;
    
    &:hover {
        cursor: pointer;
        
        background-color: tokens.$ifxColorEngineering200;
    }
    
    &:active {
        background-color: tokens.$ifxColorEngineering300;
    }

    &:focus {
        outline: 2px solid tokens.$ifxColorOcean500;
    }
    
    &.chip-item--large {
        font: tokens.$ifxBodyBody03;
    }
    
    &.chip-item--small {
        font: tokens.$ifxBodyBody04;
    }

    &.chip-item--selected {
        color: tokens.$ifxColorOcean500;

        .chip-item__selected-indicator {
            display: block;
        }
    }
}

.chip-item__selected-indicator {
    display: none;
    
    margin-left: auto;
}

