@use "@infineon/design-system-tokens/dist/tokens";

:host {
    display: inline-flex;
    vertical-align: top;
}

.checkbox__container {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: tokens.$ifxSpace100;
    font-family: var(--ifx-font-family);
    vertical-align: bottom;

    & .checkbox__input {
        position: absolute;
        opacity: 0;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }

    & .checkbox__wrapper {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: tokens.$ifxSize250;
        height: tokens.$ifxSize250;
        background-color: tokens.$ifxColorBaseWhite;
        border: 1px solid tokens.$ifxColorEngineering500;
        border-radius: tokens.$ifxBorderRadius12;
        flex: none;
        order: 0;
        flex-grow: 0;
        align-self: flex-start;

        &.checkbox-m {
            height: tokens.$ifxSize300;
            width: tokens.$ifxSize300;
        }

        &.error {
            border-color: tokens.$ifxColorRed500;
        }

        &.readOnly {
            border-color: tokens.$ifxColorEngineering300;
        }

        &:not(.disabled):not(.readOnly):hover {
            background-color: tokens.$ifxColorEngineering200;
            border: 1px solid tokens.$ifxColorEngineering500;
            border-radius: tokens.$ifxBorderRadius12;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        &.disabled {
            background-color: tokens.$ifxColorEngineering300;;
            border-color: tokens.$ifxColorEngineering300;;
            border-radius: tokens.$ifxBorderRadius12;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        &.checked:not(.indeterminate) {
            background-color: tokens.$ifxColorOcean500;
            border-radius: tokens.$ifxBorderRadius12;
            border-color: tokens.$ifxColorBaseTransparent;
            flex: none;
            order: 0;
            flex-grow: 0;
            color: tokens.$ifxColorBaseWhite;

            &.error {
                background-color: tokens.$ifxColorRed500;
            }

            &.readOnly {
                background-color: tokens.$ifxColorEngineering600;
            }

            &.disabled {
                background: tokens.$ifxColorEngineering300;;
                border-radius: tokens.$ifxBorderRadius12;
                flex: none;
                order: 0;
                flex-grow: 0;
            }

            &:not(.disabled):not(.readOnly):hover {
                background-color: tokens.$ifxColorOcean600;
                border-radius: tokens.$ifxBorderRadius12;
                flex: none;
                order: 0;
                flex-grow: 0;
            }
        }

        &.indeterminate {
            color: tokens.$ifxColorBaseBlack;

            &.disabled {
                color: tokens.$ifxColorBaseBlack;
                background-color: tokens.$ifxColorBaseWhite;
                border-color: tokens.$ifxColorEngineering300;
            }

            &.readOnly {
                color: tokens.$ifxColorBaseWhite;
                background-color: tokens.$ifxColorEngineering600;
                border-color: tokens.$ifxColorEngineering600;
            }
        }

    }

    & .checkbox__input:focus-visible+.checkbox__wrapper {
        border: 1px solid tokens.$ifxColorEngineering500;
        outline: 2px solid tokens.$ifxColorOcean500;
        outline-offset: 2px;
    }

    & .checkbox__input:focus-visible+.checkbox__wrapper.checked:not(.indeterminate) {
        border: 2px solid tokens.$ifxColorBaseWhite;
        outline: 2px solid tokens.$ifxColorOcean500;
        outline-offset: 2px;
    }

    & .label {
        font-style: normal;
        font-weight: 400;
        font-size: tokens.$ifxFontSizeS;
        line-height: tokens.$ifxLineHeightS;
        color: tokens.$ifxColorBaseBlack;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        max-width: 100%;

        &.label-m {
            font-size: tokens.$ifxFontSizeM;
            line-height: tokens.$ifxLineHeightM;
        }

        &.disabled {
            color: tokens.$ifxColorEngineering300;
        }

        &.error {
            color: tokens.$ifxColorBaseBlack;
        }
    }

    & .checkbox__wrapper,
    & .label {
        &:hover {
            cursor: pointer;
        }
    }
}