@use "~@infineon/design-system-tokens/dist/tokens";

:host {
    display: inline-flex;
    vertical-align: top;
}

.checkbox__container {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    align-items: top;
    padding: 0px;
    gap: tokens.$ifxSpace100;
    font-family: tokens.$ifxFontFamilyBody;
    vertical-align: bottom;

    & .checkbox__wrapper {
        box-sizing: border-box;
        display: flex;
        position: relative; //needs to be added for the indeterminate state of the checkbox
        justify-content: center;
        align-items: center;
        width: tokens.$ifxSize250;
        height: tokens.$ifxSize250;
        background-color: tokens.$ifxColorBaseWhite;
        border: 1px solid tokens.$ifxColorEngineering500;
        border-radius: tokens.$ifxBorderRadius12;
        flex: none;
        order: 0;
        flex-grow: 0;
        align-self: flex-start;

        &.checkbox-m {
            height: tokens.$ifxSize300;
            width: tokens.$ifxSize300;
        }

        &.error {
            border-color: tokens.$ifxColorRed500;
        }

        &:focus-visible {
            border: 1px solid tokens.$ifxColorEngineering500;
            outline: 2px solid tokens.$ifxColorOcean500;
            outline-offset: 2px;
        }

        &:hover {
            background-color: tokens.$ifxColorEngineering200;
            border: 1px solid tokens.$ifxColorEngineering500;
            border-radius: tokens.$ifxBorderRadius12;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        &.read-only {
            border-color: tokens.$ifxColorEngineering300;
        }

        &.error.disabled {
            background-color: tokens.$ifxColorBaseWhite;
            border-color: tokens.$ifxColorRed500;
        }

        &.read-only.error,
        &.read-only.disabled,
        &.read-only.error.disabled {
            background-color: tokens.$ifxColorBaseWhite;
            border-color: tokens.$ifxColorEngineering300;
        }

        &.disabled {
            background-color: tokens.$ifxColorEngineering300;;
            border-color: tokens.$ifxColorEngineering300;;
            border-radius: tokens.$ifxBorderRadius12;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        &.disabled.read-only,
        &.disabled.error,
        &.disabled.read-only.error {
            background-color: tokens.$ifxColorBaseWhite;
        }

        &.checked:not(.indeterminate) {
            background-color: tokens.$ifxColorOcean500;
            border-radius: tokens.$ifxBorderRadius12;
            border-color: tokens.$ifxColorBaseTransparent;
            flex: none;
            order: 0;
            flex-grow: 0;
            color: tokens.$ifxColorBaseWhite;

            &.read-only {
                background-color: tokens.$ifxColorEngineering600;
            }

            &.error {
                background-color: tokens.$ifxColorRed500;
            }

            &:focus-visible {
                border: 1px solid transparent;
                outline: 2px solid #0A8276;
                outline-offset: 2px;
            }

            &:hover {
                background-color: tokens.$ifxColorOcean500;
                border-radius: tokens.$ifxBorderRadius12;
                flex: none;
                order: 0;
                flex-grow: 0;
            }

            &.disabled {
                background: tokens.$ifxColorEngineering300;;
                border-radius: tokens.$ifxBorderRadius12;
                flex: none;
                order: 0;
                flex-grow: 0;
            }

            &.disabled.error {
                background-color: tokens.$ifxColorRed500;
            }

            &.disabled.read-only,
            &.disabled.read-only.error {
                background-color: tokens.$ifxColorEngineering600;
            }

            &.error.disabled {
                background-color: tokens.$ifxColorRed500;
            }

            &.read-only,
            &.read-only.error,
            &.read-only.disabled,
            &.read-only.error.disabled {
                background-color: tokens.$ifxColorEngineering600;
            }
        }

        &.indeterminate {

            &.disabled:not(.read-only):not(.error) {
                background-color: tokens.$ifxColorBaseWhite;
                border-color: tokens.$ifxColorEngineering300;
            }

            &:hover {
                background-color: tokens.$ifxColorEngineering200;
            }

            &.error {
                border-color: tokens.$ifxColorRed500;
            }

            &.read-only {
                border-color: tokens.$ifxColorEngineering600;
                background-color: tokens.$ifxColorEngineering600;

                &:before {
                    background-color: tokens.$ifxColorBaseWhite;
                }
            }

            &:before {
                content: "";
                display: block;
                width: 70%; // Adjust as needed for the width of the minus sign
                height: 2px; // Adjust for thickness of the minus sign
                background-color: tokens.$ifxColorBaseBlack; // Color of the minus sign
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

    }

    & .label {
        font-style: normal;
        font-weight: 400;
        font-size: tokens.$ifxFontSizeS;
        line-height: tokens.$ifxLineHeightS;
        color: tokens.$ifxColorBaseBlack;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        max-width: 100%;

        &.label-m {
            font-size: tokens.$ifxFontSizeM;
            line-height: tokens.$ifxLineHeightM;
        }

        &.disabled:not(.read-only) {
            color: tokens.$ifxColorEngineering300;
        }
    }

    & .checkbox__wrapper,
    & .label {
        &:hover {
            cursor: pointer;
        }
    }
}