@use "../../../node_modules/@infineon/design-system-tokens/dist/tokens";

:host {
    display: inline-flex;
    vertical-align: top;
}



.checkbox__container {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    & .checkbox__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        background-color: tokens.$color-bg-white;
        border: 1px solid #575352;
        border-radius: 1px;
        flex: none;
        order: 0;
        flex-grow: 0;

        &.error {
            border-color: #CD002F;
        }

        &:focus-visible {
            border: 1px solid #575352;
            outline: 2px solid #0A8276;
            outline-offset: 2px;
        }

        &:hover {
            background-color: #EEEDED;
            border: 1px solid #575352;
            border-radius: 1px;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        &.disabled {
            background-color: #BFBBBB;
            border-color: #BFBBBB;
            border-radius: 1px;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        &.checked {
            background-color: #0A8276;
            border-radius: 1px;
            border-color: transparent;
            flex: none;
            order: 0;
            flex-grow: 0;
            color: tokens.$color-white;

            &:focus-visible {
                border: 1px solid transparent;
                outline: 2px solid #0A8276;
                outline-offset: 2px;
            }

            &:hover {
                background-color: #08665C;
                border-radius: 1px;
                flex: none;
                order: 0;
                flex-grow: 0;
            }

            &.disabled {
                background: #BFBBBB;
                border-radius: 1px;
                flex: none;
                order: 0;
                flex-grow: 0;
            }
        }
    }

    & .label {
        width: 25px;
        height: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: tokens.$color-text-black;
        flex: none;
        order: 1;
        flex-grow: 0;

        &.disabled {
            color: #BFBBBB;
        }

        &.error {
            color: #CD002F;
        }
    }

    & .checkbox__wrapper,
    & .label {
        &:hover {
            cursor: pointer;
        }
    }

}