@use "~@infineon/design-system-tokens/dist/tokens";

:host {
    display: inline-flex;
    vertical-align: top;
}


.checkbox__container {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: tokens.$ifxSpace100;
    font-family: var(--ifx-font-family);

    & .checkbox__wrapper {
        display: flex;
        position: relative; //needs to be added for the indeterminate state of the checkbox
        justify-content: center;
        align-items: center;
        width: tokens.$ifxSize250;
        height: tokens.$ifxSize250;
        background-color: tokens.$ifxColorBaseWhite;
        border: 1px solid #575352;
        border-radius: tokens.$ifxBorderRadius12;
        flex: none;
        order: 0;
        flex-grow: 0;

        &.checkbox-m {
            height: tokens.$ifxSize300;
            width: tokens.$ifxSize300;
        }


        &.error {
            border-color: #CD002F;
        }

        &:focus-visible {
            border: 1px solid #575352;
            outline: 2px solid #0A8276;
            outline-offset: 2px;
        }

        &:hover {
            background-color: #EEEDED;
            border: 1px solid #575352;
            border-radius: tokens.$ifxBorderRadius12;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        &.disabled {
            background-color: #BFBBBB;
            border-color: #BFBBBB;
            border-radius: tokens.$ifxBorderRadius12;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        &.checked {
            background-color: #0A8276;
            border-radius: tokens.$ifxBorderRadius12;
            border-color: tokens.$ifxColorBaseTransparent;
            flex: none;
            order: 0;
            flex-grow: 0;
            color: tokens.$ifxColorBaseWhite;

            &.error {
                background-color: #CD002F;
            }

            &:focus-visible {
                border: 1px solid transparent;
                outline: 2px solid #0A8276;
                outline-offset: 2px;
            }

            &:hover {
                background-color: #08665C;
                border-radius: tokens.$ifxBorderRadius12;
                flex: none;
                order: 0;
                flex-grow: 0;
            }

            &.disabled {
                background: #BFBBBB;
                border-radius: tokens.$ifxBorderRadius12;
                flex: none;
                order: 0;
                flex-grow: 0;
            }
        }

        &.indeterminate {
            &:before {
                content: "";
                display: block;
                width: 70%; // Adjust as needed for the width of the minus sign
                height: 2px; // Adjust for thickness of the minus sign
                background-color: #08665C; // Color of the minus sign
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

    }

    & .label {
        height: tokens.$ifxSize250;
        font-style: normal;
        font-weight: 400;
        font-size: tokens.$ifxFontSizeS;
        line-height: tokens.$ifxLineHeightS;
        color: tokens.$ifxColorBaseBlack;
        flex: none;
        order: 1;
        flex-grow: 0;

        &.label-m {
            height: tokens.$ifxSize300;
            font-size: tokens.$ifxFontSizeM;
            line-height: tokens.$ifxLineHeightM;
        }

        &.disabled {
            color: #BFBBBB;
        }
    }

    & .checkbox__wrapper,
    & .label {
        &:hover {
            cursor: pointer;
        }
    }

}