.select__container { 
  & select { 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 235px;
    height: 40px;

    background: #FFFFFF;

    border: 1px solid #8D8786;
    border-radius: 1px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}