@use "~@infineon/design-system-tokens/dist/tokens";

:host {
  display: inline-flex;
}

.tooltip__container {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  font-family: var(--ifx-font-family); // tokens.$ifxFontFamilyBody;
}

%tooltip-common {
  background-color: tokens.$ifxColorBaseBlack;
  border: 1px solid black;
  z-index: 1080;
  display: none;
  transition: opacity 0.3s;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: tokens.$ifxColorBaseWhite;
  width: max-content;
  box-sizing: border-box;

  white-space: pre-wrap;   /* wraps text at spaces and within words */
  word-wrap: break-word;   /* breaks text within a word if necessary */
  overflow-wrap: anywhere; /* breaks text at arbitrary points when needed */

  &.visible {
    display: flex !important;
    align-items: start;
    //min-width: 100px;
    //width: auto;
  }
}



.tooltip-dismissible {
  @extend %tooltip-common;

    .close-button {
      all: unset;
      //position: absolute;
      //top: tokens.$ifxSpace150;
      //right: tokens.$ifxSpace150;
      cursor: pointer;
      position: relative;
      order: 2;
      margin-top: 12px;
      margin-right: 12px;
      line-height: 0px;
    }

  .tooltip-dismissible-content {
    display: flex;
    flex-direction: column;
    gap: tokens.$ifxSpace150;
    padding: tokens.$ifxSpace150;
    flex-grow: 1;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;

  }

  .tooltip-dismissible-header,
  .tooltip-dismissible-body {
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
  }

  .tooltip-dismissible-header {
    font-weight: tokens.$ifxFontWeightSemibold;
  }

  .tooltip-dismissible-body {
    font-weight: tokens.$ifxFontWeightRegular;
  }
}

.tooltip-compact {
  @extend %tooltip-common;
  padding: 4px 8px;
  text-align: center;
  flex-grow: 1;
}


.tooltip-extended {
  @extend %tooltip-common;
  //padding-left: 36px; // Added this line, adjust as per your icon width
  //padding-left: tokens.$ifxSpace150; // Added this line, adjust as per your icon width
  align-items: center;
  padding: tokens.$ifxSpace150;
  gap: 10px;

  .extended_icon {
    display: flex;
    align-self: flex-start;
    align-items: center;
    //padding-top: tokens.$ifxSpace150;
    cursor: pointer;
  }



  .tooltip-extended-content {
    display: flex;
    flex-direction: column;
    gap: tokens.$ifxSpace150;
    //padding: tokens.$ifxSpace150;
    flex-grow: 1;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;
  }

  .tooltip-extended-header,
  .tooltip-extended-body {
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
  }

  .tooltip-extended-header {
    font-weight: tokens.$ifxFontWeightSemibold;
  }

  .tooltip-extended-body {
    font-weight: tokens.$ifxFontWeightRegular;
  }
}


.tooltip__container .tooltip-arrow-svg {
  position: absolute;
  width: 8px;
  height: 8px;
}


%tooltip-arrow-positions {

  // For 'top' placement
  &[data-placement="top"]>.tooltip-arrow-svg {
    bottom: -7px;
    left: 50%;
    transform: rotate(180deg) translateX(-50%);
  }

  // For 'top-start' placement
  &[data-placement="top-start"]>.tooltip-arrow-svg {
    bottom: -7px;
    left: 10px; // Adjust as needed
    transform: rotate(180deg)
  }

  // For 'top-end' placement
  &[data-placement="top-end"]>.tooltip-arrow-svg {
    bottom: -7px;
    right: 10px; // Adjust as needed
    transform: rotate(180deg);
  }

  // For 'bottom' placement
  &[data-placement="bottom"]>.tooltip-arrow-svg {
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
  }

  // For 'bottom-start' placement
  &[data-placement="bottom-start"]>.tooltip-arrow-svg {
    top: -7px;
    left: 10px; // Adjust as needed
  }

  // For 'bottom-end' placement
  &[data-placement="bottom-end"]>.tooltip-arrow-svg {
    top: -7px;
    right: 10px; // Adjust as needed
  }

  // For 'left' placement
  &[data-placement="left"]>.tooltip-arrow-svg {
    right: -3px;
    top: 50%;
    transform: rotate(90deg) translateY(-50%) translateX(-50%);
  }

  // For 'right' placement
  &[data-placement="right"]>.tooltip-arrow-svg {
    left: -3px;
    top: 50%;
    transform: rotate(270deg) translateY(-50%) translateX(50%);
  }
}


.tooltip-compact {
  @extend %tooltip-arrow-positions;
  min-width: 28px !important;
  max-width: 145px !important;
}

.tooltip-dismissible {
  @extend %tooltip-arrow-positions;
  min-width: 145px !important;
  max-width: 310px !important;
}

.tooltip-extended {
  @extend %tooltip-arrow-positions;
  min-width: 145px !important;
  max-width: 310px !important;
}
