@use "@infineon/design-system-tokens/dist/tokens";

:host {
  width: 100%;
  display: block;
}


.navbar__wrapper {
  font-family: var(--ifx-font-family); // tokens.$ifxFontFamilyBody;


  height: tokens.$ifxSpace800;
  position: sticky;
  //overflow: hidden;
  z-index: 1030;
  border-bottom: tokens.$ifxBorderWidth12 solid tokens.$ifxColorEngineering200;

  &.fixed {
    border-bottom: none;
  }

   & .navbar__sidebar {
      top: tokens.$ifxSpace800;
    }

    & .navbar__sidebar-bottom-row {
      margin-bottom: 0;
    }

  // border-bottom: tokens.$ifxBorderWidth12 solid tokens.$ifxColorEngineering200; //when fixed is false
}

.navbar__main-container {
  position: absolute;
  top: 0;
  width: 100%;
  //overflow: hidden;
  transition: all 1s;
  z-index: 1020;

  &.fixed {
    position: fixed;

    & .navbar__container {
      border-bottom: tokens.$ifxBorderWidth12 solid tokens.$ifxColorEngineering200;
    }
  }

  &.show {
    height: 100vh;
    bottom: 0;
    background-color: tokens.$ifxColorOverlayDark;
    transition: 1s;
    z-index: 1;
  }
}

.navbar__sidebar {
  box-sizing: border-box;
  position: fixed;
  right: -100%;
  top: tokens.$ifxSpace800;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // padding: tokens.$ifxSpace400;
  width: tokens.$ifxBreakpointXs;
  height: calc(100vh - tokens.$ifxSpace800);
  background-color: tokens.$ifxColorBaseWhite;
  transition: right 1s;
  z-index: 1030;

  overflow: hidden; //new line

  &.show {
    right: 0;
    transition: right 1s;
  }

  & .navbar__sidebar-top-row { 
    display: flex;
    padding: var(--borderRadius-none, tokens.$ifxBorderRadiusNone) var(--space-300, tokens.$ifxSpace300) 30px var(--space-300, tokens.$ifxSpace300);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-200, tokens.$ifxSpace200);
    flex: 1 0 0;
    align-self: stretch;

    overflow-y: auto;

    & .navbar__sidebar-top-row-wrapper { 
      display: flex;
      padding-top: var(--space-200, tokens.$ifxSpace200);
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      gap: tokens.$ifxSize200;

      &.expand { 
        align-items: initial;
      }

      & .navbar__sidebar-top-row-item { 
        display: flex;
        padding: var(--space-200, tokens.$ifxSize0) var(--space-50, tokens.$ifxSpace50) var(--space-200, tokens.$ifxSize0) tokens.$ifxSize0;
        align-items: center;
        gap: var(--space-100, tokens.$ifxSpace100);
        align-self: stretch;
        justify-content: space-between;

        & .navbar__sidebar-top-row-item-icon-wrapper { 
          & ifx-icon { 
            vertical-align: middle;
          }
        }
  
  
        &:hover { 
          cursor: pointer;
        }
  
        & .navbar__sidebar-top-row-item-label { 
          color: var(--color-base-black, tokens.$ifxColorBaseBlack);
          font-family: var(--ifx-font-family);
          font-size: tokens.$ifxSize200;
          font-style: normal;
          font-weight: tokens.$ifxFontWeightRegular;
          line-height: tokens.$ifxSize300;
        }
  
      }
    }

  }

  & .navbar__sidebar-bottom-row { 
    //display: flex;
    display: none;
    padding: var(--space-150, tokens.$ifxSpace150) var(--space-300, tokens.$ifxSpace300) var(--space-150, tokens.$ifxSpace150) var(--space-200, tokens.$ifxSpace200);
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background: tokens.$ifxColorEngineering100;
    border-top: tokens.$ifxBorderWidth12 solid tokens.$ifxColorEngineering200;
    gap: tokens.$ifxSize150;

    max-height: tokens.$ifxSize2000;
    overflow-y: auto;

    &.show { 
      display: flex;
    }
   

    & .navbar__sidebar-bottom-row-item { 
      display: flex;
      height: tokens.$ifxSize500;
      padding-right: var(--space-50, tokens.$ifxSpace50);
      align-items: center;
      gap: var(--space-100, tokens.$ifxSpace100);
      flex: 1 0 0;
 
      & .navbar__sidebar-bottom-row-item-label {
        color: var(--color-base-black, tokens.$ifxColorBaseBlack);
        font-family: var(--ifx-font-family);
        font-size: tokens.$ifxSize200;
        font-style: normal;
        font-weight: tokens.$ifxFontWeightRegular;
        line-height: tokens.$ifxSize300; 
      }

      & .navbar__sidebar-bottom-row-item-icon-wrapper { 
       display: flex;
       align-items: center;
      }
    }

  }


  & .navbar__sidebar-content-products,
  & .navbar__sidebar-content-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:tokens.$ifxSize0;
    gap: tokens.$ifxSize300;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    & .navbar__sidebar-content-products-header,
    & .navbar__sidebar-content-about-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: tokens.$ifxSize0;
      gap: tokens.$ifxSize200;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
      color: tokens.$ifxColorEngineering300;

      & span {
        color: tokens.$ifxColorBaseBlack;
        font-weight: tokens.$ifxFontWeightSemibold;
        font-size: tokens.$ifxSize225;
        line-height: tokens.$ifxSize350;
        display: flex;
        align-items: center;
      }
    }

    & .navbar__sidebar-content-products-menu,
    & .navbar__sidebar-content-main-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: tokens.$ifxSize0;
      gap: tokens.$ifxSize200;
      flex: none;
      order: 1;
      flex-grow: 0;
      width: 100%;

      & .navbar__sidebar-content-products-menu-item,
      & .navbar__sidebar-content-main-menu-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: tokens.$ifxSize0;
        flex: none;
        order: 0;
        flex-grow: 0;

        & a {
          text-decoration: none;
          font-style: normal;
          font-weight: tokens.$ifxFontWeightRegular;
          font-size: tokens.$ifxSize200;
          line-height: tokens.$ifxSize300;
          display: flex;
          align-items: center;
          color: tokens.$ifxColorBaseBlack;
        }
      }

      & .navbar__sidebar-content-main-menu-item {
        color: tokens.$ifxColorEngineering300;

        & a {
          font-style: normal;
          font-weight: tokens.$ifxFontWeightSemibold;
          font-size: tokens.$ifxSize225;
          line-height: tokens.$ifxSize350;
          display: flex;
          align-items: center;
          color: tokens.$ifxColorBaseBlack;
          flex: none;
          order: 0;
          flex-grow: 1;
        }
      }
    }

    & .navbar__sidebar-content-main-menu {
      align-items: normal;
    }
  }
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: tokens.$ifxSpace100 tokens.$ifxSpace500;
  gap: tokens.$ifxSpace200;
  background-color: tokens.$ifxColorBaseWhite;
  font-family: var(--ifx-font-family); // tokens.$ifxFontFamilyBody;



  &.expanded { 
    justify-content: initial;
  }

  // &.fixed { 
  //   border-bottom: tokens.$ifxBorderWidth12 solid tokens.$ifxColorEngineering200; //when fixed is true
  // }

  & .navbar__container-search-field-wrapper { 
    display: none;

    &.show { 
      display: flex;
    }
  }

  & .navbar__container-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: tokens.$ifxSpace200;
    flex: none;
    order: 0;
    flex-grow: 0;

    &.hide {
      display: none;
    }

    &.expand { 
      justify-content: initial;
      flex: 1;
        & .navbar__container-left-content { 
          align-items: initial;
          flex: 1;
          & .navbar__container-left-content-navigation-group { 
            justify-content: initial;
            flex: 1;
            & .navbar__container-left-content-navigation-item-search-bar { 
              flex: 1;
            }
          }
        }
      
    }

    & .navbar__container-left-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: tokens.$ifxSize0;
      gap: tokens.$ifxSpace200;
      flex: none;
      order: 0;
      flex-grow: 0;

      &.hide { 
        display: none;
      }

      & h6 {
        position: relative;
        margin: 0;
        padding: 0;
        font-style: normal;
        font-weight: tokens.$ifxFontWeightSemibold;
        font-size: tokens.$ifxFontSizeM;
        //line-height: tokens.$ifxLineHeightM;
        display: flex;
        align-items: center;
        color: tokens.$ifxColorBaseBlack;
        flex: none;
        order: 1;
        flex-grow: 0;
      }

      & .navbar__container-left-logo-default {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: tokens.$ifxSpace150 tokens.$ifxSize0;
        flex: none;
        order: 0;
        flex-grow: 0;

        & svg {
          width: 91px;
          height: tokens.$ifxSize500;
          flex: none;
          order: 0;
          flex-grow: 0;
          vertical-align: bottom;
        }
      }

      & .navbar__container-left-logo-divider {
        width: tokens.$ifxBorderWidth12;
        height: tokens.$ifxSize400;
        background: tokens.$ifxColorEngineering200;
        flex: none;
        order: 2;
        flex-grow: 0;
      }
    }

    & .navbar__container-left-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      padding: tokens.$ifxSize0;
      flex: none;
      order: 1;
      flex-grow: 0;

      & .navbar__container-left-content-navigation-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: tokens.$ifxSize0;
        gap: tokens.$ifxSpace50;
        flex: none;
        order: 0;
        flex-grow: 0;

        & .navbar__container-left-content-navigation-item-search-bar {
          display: flex; //none
          flex-direction: row;
          align-items: center;
          padding: tokens.$ifxSize0 tokens.$ifxSpace100;
          flex: none;
          order: 5;
          flex-grow: 0;
          width: tokens.$ifxSize3000;
          //width: tokens.$ifxSize3200;
          //height: tokens.$ifxSize500;
        }

        & .navbar__container-left-content-navigation-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: tokens.$ifxSize0 tokens.$ifxSpace100;
          gap: tokens.$ifxSpace100;
          flex: none;
          order: 0;
          flex-grow: 0;

          & a {
            display: flex;
            align-items: center;
            font-weight: tokens.$ifxFontWeightRegular;
            font-size: tokens.$ifxFontSizeM;
            line-height: tokens.$ifxLineHeightM;
            color: tokens.$ifxColorBaseBlack;
            text-decoration: none;
            flex: none;
            order: 0;
            flex-grow: 0;
          }
        }
      }
    }
  }

  & .navbar__container-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    gap: tokens.$ifxSpace100;
    flex: none;
    order: 1;
    flex-grow: 0;

    &.hide { 
      display: none;
    }

    &.expand { 
      justify-content: initial;
      flex: 1;
        & .navbar__container-right-content { 
          align-items: initial;
          flex: 1;
          & .navbar__container-right-content-navigation-group { 
            justify-content: initial;
            flex: 1;
            & .navbar__container-right-content-navigation-item-search-bar { 
              flex: 1;
              & .navbar__container-right-content-navigation-item-search-bar-icon-wrapper { 
                flex: 1;
              }
            }
          }
        }
      
    }

    & .navbar__burger-icon-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: tokens.$ifxSpace50 tokens.$ifxSize0 tokens.$ifxSpace50 tokens.$ifxSpace200;
      border-left: tokens.$ifxBorderWidth12 solid tokens.$ifxColorEngineering300;
      gap: tokens.$ifxSpace200;
      flex: none;
      order: 1;
      flex-grow: 0;
      width: 41px;
      height: tokens.$ifxSize500;

      &.hide { 
        display: none;
      }

      & .navbar__burger-icon {
        display: flex;
        align-items: center;

        &:hover { 
          cursor: pointer;
        }

        &.close {
          display: none;
        }
      }

      & .navbar__cross-icon {
        display: none;
        align-items: center;

        &.show {
          display: flex;

          &:hover { 
            cursor: pointer;
          }
        }
      }
    }

    & .navbar__container-right-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: tokens.$ifxSize0;
      flex: none;
      order: 0;
      flex-grow: 0;

      & .navbar__container-right-content-navigation-group {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: tokens.$ifxSize0;
        flex: none;
        order: 0;
        flex-grow: 0;

        & .navbar__container-right-content-navigation-item,
        & .navbar__container-right-content-navigation-item-profile,
        & .navbar__container-right-content-navigation-item-search-bar {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: tokens.$ifxSize0 tokens.$ifxSpace100;
          gap: tokens.$ifxSpace50;
          flex: none;
          order: 0;
          flex-grow: 0;

          & .navbar__container-right-content-navigation-item-search-bar-icon-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: tokens.$ifxSize0;
            gap: tokens.$ifxSpace100;
            flex: none;
            order: 0;
            flex-grow: 0;
            //width: tokens.$ifxSize300;
            //height: tokens.$ifxSize300;
            //max-width: tokens.$ifxSize2500;

            &.isOpen { 
              position: absolute;
              top: tokens.$ifxSize125;
            }
          }

          & .navbar__container-right-content-navigation-item-navigation-profile {
            position: relative;
            width: tokens.$ifxSize300;
            height: tokens.$ifxSize300;
            background: tokens.$ifxColorOcean500;
            border-radius: tokens.$ifxBorderRadiusRound;
            flex: none;
            order: 0;
            flex-grow: 0;

            & a {
              position: absolute;
              width: tokens.$ifxSize275;
              height: tokens.$ifxSize250;
              left: calc(50% - tokens.$ifxSize275/2);
              top: calc(50% - tokens.$ifxSize250/2);
              font-style: normal;
              font-weight: tokens.$ifxFontWeightSemibold;
              font-size: tokens.$ifxFontSizeS;
              line-height: tokens.$ifxLineHeightS;
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              color: tokens.$ifxColorBaseWhite;
            }
          }

          & .navbar__container-right-content-navigation-item-icon-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: tokens.$ifxSize0;
            gap: tokens.$ifxSpace100;
            flex: none;
            order: 0;
            flex-grow: 0;
          }

          & a {
            font-style: normal;
            font-weight: tokens.$ifxFontWeightRegular;
            font-size: tokens.$ifxFontSizeS;
            line-height: tokens.$ifxLineHeightS;
            color: tokens.$ifxColorBaseBlack;
            text-decoration: none;
            display: flex;
            align-items: center;
            flex: none;
            order: 1;
            flex-grow: 0;
          }
        }
      }
    }
  }
}

// adjusts logo size for smaller screens
@media screen and (max-width: tokens.$ifxBreakpointL) {
  .navbar__container {
    & .navbar__container-left {
      & .navbar__container-left-logo {
        & .navbar__container-left-logo-default svg {
          width: tokens.$ifxSize900;
          height: tokens.$ifxSize400;
        }
      }
    }
  }
}

//burger icon exist, and left container is gone
@media screen and (max-width: 800px) {
  .navbar__container {
    padding: tokens.$ifxSize0 tokens.$ifxSpace200;
    height: tokens.$ifxSize800;
    gap: initial;

    &.expanded { 
      & .navbar__container-right {
        & .navbar__burger-icon-wrapper {
          display: none;
        }
      }
    }

    & .navbar__container-left {
      & .navbar__container-left-content {
        display: none;
      }

      & .navbar__container-left-logo {
        & .navbar__container-left-logo-divider {
          display: none;
        }
      }
    }

    & .navbar__container-right {
      flex: 1;
    }
  }

  .navbar__sidebar {
    width: 0;
    transition: 1s;

    // &.show {
    //   width: 100%;
    // }

  }
}

@media screen and (max-width: 500px) {
  .navbar__sidebar {
    &.show {
      width: 100%;  // 100% of viewport width
    }
  }

  .navbar__container {
    & .navbar__container-left {
      & .navbar__container-left-logo h6 {
          display: none;
      }
    }
  }
  
}

@media screen and (min-width: 500px) {
  .navbar__sidebar {
    &.show {
      width: 50%;  // 100% of viewport width
    }
  }
}

//burger icon disappears
@media screen and (min-width: 800px) {
  .navbar__wrapper {
    height: tokens.$ifxSize800;
  }

  .navbar__container {
    padding: tokens.$ifxSize0 tokens.$ifxSpace300;
    height: tokens.$ifxSize800;
    gap: initial;

    & .navbar__container-right {
      & .navbar__burger-icon-wrapper {
        display: none;
      }
    }
  }

  .navbar__main-container {
    &.show {
      height: auto;
      background-color: inherit;
      transition: none;
    }
  }

  .navbar__sidebar {
    width: 0;
    transition: 1s;
    &.show { 
      right: -100%;
    }
  }

}

//left container appears
@media screen and (min-width: 1024px) {
  .navbar__wrapper {
    height: tokens.$ifxSize900;
  }

  .navbar__container {
    padding: tokens.$ifxSize0 tokens.$ifxSpace400;
    height: tokens.$ifxSize900;

    & .navbar__container-left {
      gap: tokens.$ifxSpace150;
      display: flex;

      & .navbar__container-left-content {
        display: flex;
      }

      & .navbar__container-left-logo-default {
        & svg {
          width: 72.8px;
          height: tokens.$ifxSize400;
        }
      }
    }
  }

  .navbar__main-container {
    &.show {
      height: auto;
      background-color: inherit;
      transition: none;
    }
  }
}

@media screen and (min-width: tokens.$ifxBreakpointXl) {
  .navbar__wrapper {
    height: tokens.$ifxSize1000
  }

  .navbar__container {
    padding: tokens.$ifxSize0 tokens.$ifxSpace700;
    height: tokens.$ifxSize1000;

    & .navbar__container-left {
      & .navbar__container-left-content {
        justify-content: inherit;
      }
    }

    & .navbar__container-right {
      & .navbar__container-right-content {
        justify-content: inherit;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .navbar__wrapper {
    height: tokens.$ifxSize1000;
  }

  .navbar__container {
    padding: tokens.$ifxSize0 tokens.$ifxSpace700;
    height: tokens.$ifxSize1000;

    & .navbar__container-left {
      & .navbar__container-left-content {
        justify-content: center;
      }
    }

    & .navbar__container-right {
      & .navbar__container-right-content {
        justify-content: inherit;
      }
    }
  }
}