@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../../global/font.scss";

:host {
  width: 100%;
  display: block;
}


.navbar__wrapper {
  font-family: var(--ifx-font-family);
  height: 63px;
  position: sticky;
  //overflow: hidden;
  z-index: 1030;
  border-bottom: 1px solid #EEEDED;

  &.fixed {
    border-bottom: none;
  }

  // border-bottom: 1px solid #EEEDED; //when fixed is false
}

.navbar__main-container {
  position: absolute;
  top: 0;
  width: 100%;
  //overflow: hidden;
  transition: all 1s;
  z-index: 1020;

  &.fixed {
    position: fixed;

    & .navbar__container {
      border-bottom: 1px solid #EEEDED;
    }
  }

  &.show {
    height: 100vh;
    bottom: 0;
    background-color: tokens.$ifxColorOverlayDark;
    transition: 1s;
    z-index: 1;
  }
}

.navbar__sidebar {
  box-sizing: border-box;
  position: fixed;
  right: -100%;
  top: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // padding: 32px;
  width: 375px;
  height: calc(100vh - 64px);
  background-color: tokens.$ifxColorBaseWhite;
  transition: right 1s;
  z-index: 1030;

  &.show {
    right: 0;
    transition: right 1s;
  }

  & .navbar__sidebar-top-row { 
    display: flex;
    padding: var(--borderRadius-none, 0px) var(--space-300, 24px) 30px var(--space-300, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-200, 16px);
    flex: 1 0 0;
    align-self: stretch;

    overflow-y: auto;

    & .navbar__sidebar-top-row-wrapper { 
      display: flex;
      padding-top: var(--space-200, 16px);
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      gap: 16px;

      &.expand { 
        align-items: initial;
      }

      & .navbar__sidebar-top-row-item { 
        display: flex;
        padding: var(--space-200, 0px) var(--space-50, 4px) var(--space-200, 0px) 0px;
        align-items: center;
        gap: var(--space-100, 8px);
        align-self: stretch;
        justify-content: space-between;

        & .navbar__sidebar-top-row-item-icon-wrapper { 
          & ifx-icon { 
            vertical-align: middle;
          }
        }
  
  
        &:hover { 
          cursor: pointer;
        }
  
        & .navbar__sidebar-top-row-item-label { 
          color: var(--color-base-black, #1D1D1D);
          font-family: "Source Sans 3";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; 
        }
  
      }
    }

  }

  & .navbar__sidebar-bottom-row { 
    //display: flex;
    display: none;
    padding: var(--space-150, 12px) var(--space-300, 24px) var(--space-150, 12px) var(--space-200, 16px);
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background: var(--color-engineering-100, #F7F7F7);
    border-top: 1px solid var(--color-engineering-200, #EEEDED);
    gap: 10px;

    max-height: 160px;
    overflow-y: auto;

    &.show { 
      display: flex;
    }
   

    & .navbar__sidebar-bottom-row-item { 
      display: flex;
      height: 40px;
      padding-right: var(--space-50, 4px);
      align-items: center;
      gap: var(--space-100, 8px);
      flex: 1 0 0;
 
      & .navbar__sidebar-bottom-row-item-label {
        color: var(--color-base-black, #1D1D1D);
        font-family: "Source Sans 3";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
      }

      & .navbar__sidebar-bottom-row-item-icon-wrapper { 
       display: flex;
       align-items: center;
      }
    }

  }


  & .navbar__sidebar-content-products,
  & .navbar__sidebar-content-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    & .navbar__sidebar-content-products-header,
    & .navbar__sidebar-content-about-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 16px;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
      color: #BFBBBB;

      & span {
        color: tokens.$ifxColorBaseBlack;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        display: flex;
        align-items: center;
      }
    }

    & .navbar__sidebar-content-products-menu,
    & .navbar__sidebar-content-main-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 16px;
      flex: none;
      order: 1;
      flex-grow: 0;
      width: 100%;

      & .navbar__sidebar-content-products-menu-item,
      & .navbar__sidebar-content-main-menu-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        flex: none;
        order: 0;
        flex-grow: 0;

        & a {
          text-decoration: none;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          display: flex;
          align-items: center;
          color: tokens.$ifxColorBaseBlack;
        }
      }

      & .navbar__sidebar-content-main-menu-item {
        color: tokens.$ifxColorEngineering300;

        & a {
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 28px;
          display: flex;
          align-items: center;
          color: tokens.$ifxColorBaseBlack;
          flex: none;
          order: 0;
          flex-grow: 1;
        }
      }
    }

    & .navbar__sidebar-content-main-menu {
      align-items: normal;
    }
  }
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  gap: 16px;
  background-color: tokens.$ifxColorBaseWhite;
  font-family: var(--ifx-font-family);

  &.expanded { 
    justify-content: initial;
  }

  // &.fixed { 
  //   border-bottom: 1px solid #EEEDED; //when fixed is true
  // }

  & .navbar__container-search-field-wrapper { 
    display: none;

    &.show { 
      display: flex;
    }
  }

  & .navbar__container-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;

    &.hide {
      display: none;
    }

    &.expand { 
      justify-content: initial;
      flex: 1;
        & .navbar__container-left-content { 
          align-items: initial;
          flex: 1;
          & .navbar__container-left-content-navigation-group { 
            justify-content: initial;
            flex: 1;
            & .navbar__container-left-content-navigation-item-search-bar { 
              flex: 1;
            }
          }
        }
      
    }

    & .navbar__container-left-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 16px;
      flex: none;
      order: 0;
      flex-grow: 0;

      &.hide { 
        display: none;
      }

      & h6 {
        position: relative;
        margin: 0;
        padding: 0;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        //line-height: 24px;
        display: flex;
        align-items: center;
        color: tokens.$ifxColorBaseBlack;
        flex: none;
        order: 1;
        flex-grow: 0;
      }

      & .navbar__container-left-logo-default {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 0px;
        flex: none;
        order: 0;
        flex-grow: 0;

        & svg {
          width: 91px;
          height: 40px;
          flex: none;
          order: 0;
          flex-grow: 0;
          vertical-align: bottom;
        }
      }

      & .navbar__container-left-logo-divider {
        width: 1px;
        height: 32px;
        background: tokens.$ifxColorEngineering200;
        flex: none;
        order: 2;
        flex-grow: 0;
      }
    }

    & .navbar__container-left-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      padding: 0px;
      flex: none;
      order: 1;
      flex-grow: 0;

      & .navbar__container-left-content-navigation-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 4px;
        flex: none;
        order: 0;
        flex-grow: 0;

        & .navbar__container-left-content-navigation-item-search-bar {
          display: flex; //none
          flex-direction: row;
          align-items: center;
          padding: 0px 8px;
          flex: none;
          order: 5;
          flex-grow: 0;
          //width: 256px;
          //height: 40px;
        }

        & .navbar__container-left-content-navigation-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px 8px;
          gap: 8px;
          flex: none;
          order: 0;
          flex-grow: 0;

          & a {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: tokens.$ifxColorBaseBlack;
            text-decoration: none;
            flex: none;
            order: 0;
            flex-grow: 0;
          }
        }
      }
    }
  }

  & .navbar__container-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    gap: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;

    &.hide { 
      display: none;
    }

    &.expand { 
      justify-content: initial;
      flex: 1;
        & .navbar__container-right-content { 
          align-items: initial;
          flex: 1;
          & .navbar__container-right-content-navigation-group { 
            justify-content: initial;
            flex: 1;
            & .navbar__container-right-content-navigation-item-search-bar { 
              flex: 1;
              & .navbar__container-right-content-navigation-item-search-bar-icon-wrapper { 
                flex: 1;
              }
            }
          }
        }
      
    }

    & .navbar__burger-icon-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 4px 0px 4px 16px;
      border-left: 1px solid tokens.$ifxColorEngineering300;
      gap: 16px;
      flex: none;
      order: 1;
      flex-grow: 0;
      width: 41px;
      height: 40px;

      &.hide { 
        display: none;
      }

      & .navbar__burger-icon {
        display: flex;
        align-items: center;

        &:hover { 
          cursor: pointer;
        }

        &.close {
          display: none;
        }
      }

      & .navbar__cross-icon {
        display: none;
        align-items: center;

        &.show {
          display: flex;

          &:hover { 
            cursor: pointer;
          }
        }
      }
    }

    & .navbar__container-right-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      flex: none;
      order: 0;
      flex-grow: 0;

      & .navbar__container-right-content-navigation-group {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0px;
        flex: none;
        order: 0;
        flex-grow: 0;

        & .navbar__container-right-content-navigation-item,
        & .navbar__container-right-content-navigation-item-profile,
        & .navbar__container-right-content-navigation-item-search-bar {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px 8px;
          gap: 4px;
          flex: none;
          order: 0;
          flex-grow: 0;

          & .navbar__container-right-content-navigation-item-search-bar-icon-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 8px;
            flex: none;
            order: 0;
            flex-grow: 0;
            //width: 24px;
            //height: 24px;
            //max-width: 200px;

            &.isOpen { 
              position: absolute;
              top: 10px;
            }
          }

          & .navbar__container-right-content-navigation-item-navigation-profile {
            position: relative;
            width: 24px;
            height: 24px;
            background: tokens.$ifxColorOcean500;
            border-radius: 100px;
            flex: none;
            order: 0;
            flex-grow: 0;

            & a {
              position: absolute;
              width: 22px;
              height: 20px;
              left: calc(50% - 22px/2);
              top: calc(50% - 20px/2);
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 20px;
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              color: tokens.$ifxColorBaseWhite;
            }
          }

          & .navbar__container-right-content-navigation-item-icon-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 8px;
            flex: none;
            order: 0;
            flex-grow: 0;
          }

          & a {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: tokens.$ifxColorBaseBlack;
            text-decoration: none;
            display: flex;
            align-items: center;
            flex: none;
            order: 1;
            flex-grow: 0;
          }
        }
      }
    }
  }
}

//burger icon exist, and left container is gone
@media screen and (max-width: 800px) {
  .navbar__container {
    padding: 0px 16px;
    height: 64px;
    gap: initial;

    &.expanded { 
      & .navbar__container-right {
        & .navbar__burger-icon-wrapper {
          display: none;
        }
      }
    }

    & .navbar__container-left {
      & .navbar__container-left-content {
        display: none;
      }

      & .navbar__container-left-logo {
        & .navbar__container-left-logo-divider {
          display: none;
        }
      }
    }

    & .navbar__container-right {
      flex: 1;
    }
  }

  .navbar__sidebar {
    width: 0;
    transition: 1s;

    // &.show {
    //   width: 100%;
    // }

  }
}

@media screen and (max-width: 500px) {
  .navbar__sidebar {
    &.show {
      width: 100%;  // 100% of viewport width
    }
  }
}

@media screen and (min-width: 500px) {
  .navbar__sidebar {
    &.show {
      width: 50%;  // 100% of viewport width
    }
  }
}

//burger icon disappears
@media screen and (min-width: 800px) {
  .navbar__wrapper {
    height: 63px;
  }

  .navbar__container {
    padding: 0px 16px;
    height: 63px;
    gap: initial;

    & .navbar__container-right {
      & .navbar__burger-icon-wrapper {
        display: none;
      }
    }
  }

  .navbar__main-container {
    &.show {
      height: auto;
      background-color: inherit;
      transition: none;
    }
  }

  .navbar__sidebar {
    width: 0;
    transition: 1s;
    &.show { 
      right: -100%;
    }
  }

}

//left container appears
@media screen and (min-width: 1024px) {
  .navbar__wrapper {
    height: 72px;
  }

  .navbar__container {
    padding: 0px 24px;
    height: 72px;

    & .navbar__container-left {
      gap: 12px;
      display: flex;

      & .navbar__container-left-content {
        display: flex;
      }

      & .navbar__container-left-logo-default {
        & svg {
          width: 72.8px;
          height: 32px;
        }
      }
    }
  }

  .navbar__main-container {
    &.show {
      height: auto;
      background-color: inherit;
      transition: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  .navbar__wrapper {
    height: 80px
  }

  .navbar__container {
    padding: 0px 32px;
    height: 80px;

    & .navbar__container-left {
      & .navbar__container-left-content {
        justify-content: inherit;
      }
    }

    & .navbar__container-right {
      & .navbar__container-right-content {
        justify-content: inherit;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .navbar__wrapper {
    height: 80px;
  }

  .navbar__container {
    padding: 0px 40px;
    height: 80px;

    & .navbar__container-left {
      & .navbar__container-left-content {
        justify-content: center;
      }
    }

    & .navbar__container-right {
      & .navbar__container-right-content {
        justify-content: inherit;
      }
    }
  }
}