@use "~@infineon/design-system-tokens/dist/tokens";

@import "~ag-grid-community/styles/ag-grid.css";
// @import "~ag-grid-community/styles/ag-theme-alpine.css";

// :host {
//   --table-height: '200px';
//   /* Default value */
// } ag-ltr .ag-header-cell-resize

.zebra {
  & .ag-row-odd {
    background-color: tokens.$ifxColorEngineering100!important;
  }

  & .ag-row {
    border-bottom: none!important;
  }
}

.ag-header-viewport {
  background-color: tokens.$ifxColorEngineering200!important;
}

.table-wrapper {
  overflow-x: auto;
  width: 100%;
}

.table-wrapper .ag-root-wrapper-body {
  height: auto !important;
  min-height: 100px !important;
  min-width: 100px;
}

.ifx-ag-grid {
  display: grid;
  height: 100%;
  width: 100%;
  min-width: 100px;
  padding-bottom: tokens.$ifxSpace100;
  overflow-x: auto;
}


.ifx-ag-grid .ag-header-cell::after {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.ifx-ag-grid .ag-header-cell:focus {
  outline: none !important;
}

.ifx-ag-grid *:not(.ag-header-cell):focus {
  outline: none;
}

.ifx-ag-grid .ag-header-cell:not(:last-child)::before {
  content: '';
  position: absolute;
  right: 0;
  top: calc(50% - 12px);
  height: 24px;
  width: 1px;
  background-color: tokens.$ifxColorEngineering300;
}

.ag-overlay-loading-center {
  border: none;
  background: none;
  border-radius: none;
  box-shadow: none;
}


.ag-root-wrapper {
  border: 1px solid tokens.$ifxColorEngineering200;
}

.ag-header {
  background-color: tokens.$ifxColorEngineering100;
  border-bottom: none;

  &.ag-header-active {
    outline: none !important;
    border-color: #0A8276 !important;
  }
}

.ag-header-cell {
  padding-left: 16px;
  padding-right: 16px;
  gap: 4px;
}


.ag-header-cell-focus {
  border: none !important;
  outline: none !important;
}

.ag-header-cell-text {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: tokens.$ifxColorBaseBlack;
  font-family: var(--ifx-font-family); // tokens.$ifxFontFamilyBody;



}

.ag-row-focus {
  background-color: inherit !important;
  /* Reset the hover color to the row's original color */
}

.ag-row-hover {
  background-color: tokens.$ifxColorBaseWhite !important; //inherit !important;
  /* Reset the hover color to the row's original color */
}


.ag-cell-focus {
  border: none !important;
  outline: none !important;
  background-color: inherit !important;
}



.ag-row {
  background-color: tokens.$ifxColorBaseWhite;
  border-bottom: 1px solid tokens.$ifxColorEngineering200;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  z-index: 1; //ensure the stacking order when used inside js frameworks
}

.ag-row-odd {
  background-color: tokens.$ifxColorBaseWhite;
}

.ag-cell {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  white-space: pre-line;
  min-height: 40px; 
  height: auto;
}

.ag-ltr .ag-sort-indicator-icon {
  padding-left: 0px;
  vertical-align: bottom;
  line-height: 12px;
}

.unsort-icon-custom-color {
  color: tokens.$ifxColorEngineering400;
}

// Mobile optimization for horizontal scrolling
@media (max-width: tokens.$ifxBreakpointM) {
  .table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .ifx-ag-grid {
    min-width: 400px;
  }

  .ag-root-wrapper {
    min-width: 100%;
  }

  .ag-header-cell,
  .ag-cell {
    min-width: 100px;
    white-space: nowrap;
  }

  .table-wrapper {
    margin-bottom: tokens.$ifxSpace200;
  }
}
