@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

@import "~ag-grid-community/styles/ag-grid.css";
@import "~ag-grid-community/styles/ag-theme-alpine.css";


.ifx-ag-grid .ag-header-cell:focus {
  outline: none !important;
}

.ifx-ag-grid *:not(.ag-header-cell):focus {
  outline: none;
}


.auto-height .ag-theme-alpine .ag-root-wrapper-body {
  height: auto !important;
}


.ag-root-wrapper {
  border: none;
}


.ag-header {
  background-color: tokens.$ifxColorEngineering100;
  border-bottom: none;

  &.ag-header-active {
    outline: none !important;
    border-color: #0A8276 !important;
  }
}


.ag-header-cell {
  padding-left: 16px;
  padding-right: 16px;
  gap: 4px;

  // &.ag-header-active {
  //   outline: none;
  //   border-color: #0A8276 !important;
  // }
}

.ag-header-cell-text {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: tokens.$ifxColorBaseBlack;
}


.ag-theme-alpine .ag-row-focus {
  background-color: inherit !important;
  /* Reset the hover color to the row's original color */
}

.ag-theme-alpine .ag-row-hover {
  background-color: tokens.$ifxColorBaseWhite; //inherit !important;
  /* Reset the hover color to the row's original color */
}

.ag-theme-alpine .ag-cell-focus {
  border: none !important;
  outline: none !important;

}

.ag-theme-alpine .ag-cell-focus {
  border: none !important;
  background-color: inherit !important;
}



.ag-row {
  background-color: tokens.$ifxColorBaseWhite;
  border-bottom: 1px solid tokens.$ifxColorEngineering200;
  font-size: 13;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

}

.ag-row-odd {
  background-color: tokens.$ifxColorBaseWhite;
}

.ag-cell {
  padding-left: 16px;
  padding-right: 16px;
}

.ag-ltr .ag-sort-indicator-icon {
  padding-left: 0px;
  vertical-align: bottom;
  line-height: 12px;

}


.unsort-icon-custom-color {
  color: tokens.$ifxColorEngineering400;
}