.inf__filter-input {
  width: 160px;
  min-height: calc(1.75em + 18px);
  font-size: 0.8125rem;
  margin: 16px;
  display: block;
  // width: 100%;
  padding: 8px 16px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  line-height: 1.75;
  color: tokens.$ifxColorBaseBlack;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5bbbd;
  appearance: none;
  border-radius: tokens.$ifxBorderRadius12;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}