@use "~@infineon/design-system-tokens/dist/tokens";

:host { 
  display: inline-flex;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: tokens.$ifxSize500;
  padding: 8px;
  gap: tokens.$ifxSpace100;
  color: tokens.$ifxColorBaseWhite;
  flex-direction: row;
  font-weight: tokens.$ifxFontWeightSemibold;
  border-radius: tokens.$ifxBorderRadius12;
  line-height: tokens.$ifxLineHeightM;
  outline: none;
  font-family: tokens.$ifxFontFamilyBody;
  text-decoration: none;
  user-select: none;
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: tokens.$ifxFontSizeM;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:not(.disabled) {
  cursor: pointer;
}

.btn-primary {
  color: tokens.$ifxColorBaseWhite;
  background-color: tokens.$ifxColorOcean500;

  &:disabled,
  &.disabled {
    background-color: tokens.$ifxColorEngineering300;
    color: tokens.$ifxColorBaseWhite;
    pointer-events: none;

  }
}


.btn-secondary {
  color: tokens.$ifxColorOcean500;
  background-color: tokens.$ifxColorBaseWhite;
  border-color: tokens.$ifxColorOcean500;

  &:disabled,
  &.disabled {
    background-color: tokens.$ifxColorBaseWhite;
    border: 1px solid tokens.$ifxColorEngineering300;
    color: tokens.$ifxColorEngineering300;
    pointer-events: none;

  }
}

.btn-tertiary {
  background-color: transparent;
  color: tokens.$ifxColorBaseBlack;

  &:disabled,
  &.disabled {
    color: tokens.$ifxColorEngineering300;
    pointer-events: none;
  }
}


.btn {

  &.icon-button {
    min-width: initial;
    min-height: initial;
    width: tokens.$ifxSize500;
    height: tokens.$ifxSize500;
    padding: 0;
    justify-content: center;

    &.btn-round {
      border-radius: 100px;
    }

    &.btn-square {
      border-radius: tokens.$ifxBorderRadius12;
    }

    &.btn-s {
      width: tokens.$ifxSize400;
      height: tokens.$ifxSize400;
      padding: 8px;
    }


    &.btn-l {
      width: tokens.$ifxSize600;
      height: tokens.$ifxSize600;
      padding: 8px;
    }
  }

  &.btn-primary:not(:disabled, .disabled) {
    &:focus:not(:active, .active) {
      outline: none;
      box-shadow: 0 0 0 2px tokens.$ifxColorBaseWhite, 0 0 0 4px tokens.$ifxColorOcean500;
    }

    &:hover {
      background-color: tokens.$ifxColorOcean600;
      border-color: tokens.$ifxColorOcean600;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorOcean700;
      border-color: tokens.$ifxColorOcean700;
    }
  }


  &.btn-secondary:not(:disabled, .disabled) {
    &:focus:not(:active, .active) {
      outline: none;
      box-shadow: 0 0 0 2px tokens.$ifxColorBaseWhite, 0 0 0 4px tokens.$ifxColorOcean500;
    }

    &:hover {
      background-color: tokens.$ifxColorOcean600;
      border-color: tokens.$ifxColorOcean600;
      color: tokens.$ifxColorBaseWhite;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorOcean700;
      border-color: tokens.$ifxColorOcean700;
    }
  }

  &.btn-tertiary:not(:disabled, .disabled) {
    &:focus:not(:active, .active) {
      outline: none;
      color: tokens.$ifxColorBaseBlack;
      box-shadow: 0 0 0 0px tokens.$ifxColorBaseWhite, 0 0 0 2px tokens.$ifxColorOcean500;
    }

    &:hover {
      color: tokens.$ifxColorOcean500;
    }

    &:active,
    &.active {
      color: tokens.$ifxColorOcean600;
    }
  }
}