@use "~@infineon/design-system-tokens/dist/tokens";

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  min-height: tokens.$ifxSize500;
  padding: 0px 16px;
  gap: tokens.$ifxSpace100;
  color: tokens.$ifxColorBaseWhite;
  flex-direction: row;
  font-weight: tokens.$ifxFontWeightSemibold;
  border-radius: tokens.$ifxBorderRadius12;
  line-height: tokens.$ifxLineHeightM;
  outline: none;
  font-family: tokens.$ifxFontFamilyBody;
  text-decoration: none;
  user-select: none;
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: tokens.$ifxFontSizeM;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:not(.disabled) {
  cursor: pointer;
}

.btn-primary {
  color: tokens.$ifxColorBaseWhite;
  background-color: tokens.$ifxColorOcean500;
  border-color: tokens.$ifxColorOcean500;
}

.btn-secondary-primary {
  background-color: tokens.$ifxColorBaseWhite;
  color: tokens.$ifxColorOcean500;
  border-color: tokens.$ifxColorOcean500;
}

.btn-secondary {
  color: tokens.$ifxColorBaseWhite;
  background-color: tokens.$ifxColorBerry500;
  border-color: tokens.$ifxColorBerry500;
}

.btn-secondary-secondary {
  background-color: tokens.$ifxColorBaseWhite;
  color: tokens.$ifxColorBerry500;
  border-color: tokens.$ifxColorBerry500;
}

.btn-success {
  color: tokens.$ifxColorBaseBlack;
  background-color: tokens.$ifxColorGreen500;
  border-color: tokens.$ifxColorGreen500;
}

.btn-secondary-success {
  background-color: tokens.$ifxColorBaseWhite;
  border-color: tokens.$ifxColorGreen500;
}

.btn-danger {
  color: tokens.$ifxColorBaseWhite;
  background-color: tokens.$ifxColorRed500;
  border-color: tokens.$ifxColorRed500;
}

.btn-secondary-danger {
  background-color: tokens.$ifxColorBaseWhite;
  color: tokens.$ifxColorRed500;
  border-color: tokens.$ifxColorRed500;
}

.btn-warning {
  color: tokens.$ifxColorBaseBlack;
  background-color: tokens.$ifxColorOrange500;
  border-color: tokens.$ifxColorOrange500;
}

.btn-secondary-warning {
  background-color: tokens.$ifxColorBaseWhite;
  border-color: tokens.$ifxColorOrange500;
}



.btn {

  &.btn-s {
    font-size: tokens.$ifxFontSizeS;
    min-width: 71px;
    min-height: tokens.$ifxSize400;
    line-height: tokens.$ifxLineHeightXs;
  }

  &.icon-button {
    min-width: initial;
    min-height: initial;
    width: tokens.$ifxSize500;
    height: tokens.$ifxSize500;
    padding: 0;
    justify-content: center;

    &.btn-round {
      border-radius: 100px;
    }

    &.btn-square {
      border-radius: tokens.$ifxBorderRadius12;
    }

    &.btn-s {
      width: tokens.$ifxSize400;
      height: tokens.$ifxSize400;
    }

  }

  &.btn-primary,
  &.btn-secondary-primary,
  &.btn-secondary,
  &.btn-secondary-secondary,
  &.btn-success,
  &.btn-secondary-success,
  &.btn-danger,
  &.btn-secondary-danger,
  &.btn-warning,
  &.btn-secondary-warning,
  &.btn-tertiary {
    &:focus {
      box-shadow: none;

    }
  }

  &.btn-primary,
  &.btn-secondary-primary,
  &.btn-secondary,
  &.btn-secondary-secondary,
  &.btn-success,
  &.btn-secondary-success,
  &.btn-danger,
  &.btn-secondary-danger,
  &.btn-warning,
  &.btn-secondary-warning,
  &.btn-tertiary {
    &:focus-visible {
      box-shadow: 0 0 0 3px #B4DDD8;
    }
  }

  &:disabled,
  &.disabled {
    opacity: tokens.$ifxOpacity100;
    background-color: tokens.$ifxColorEngineering300;
    border-color: tokens.$ifxColorEngineering300;
    color: tokens.$ifxColorBaseWhite;
  }


  &.btn-primary:not(:disabled, .disabled) {
    &:focus {
      background-color: tokens.$ifxColorOcean500;
      border-color: tokens.$ifxColorOcean500;
    }

    &:hover {
      background-color: tokens.$ifxColorOcean600;
      border-color: tokens.$ifxColorOcean600;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorOcean700;
      border-color: tokens.$ifxColorOcean700;
    }
  }

  &.btn-secondary-primary:not(:disabled, .disabled) {

    &:focus {
      background-color: tokens.$ifxColorBaseTransparent;
    }

    &:hover {
      color: tokens.$ifxColorBaseWhite;
      background-color: tokens.$ifxColorOcean600;
      border-color: tokens.$ifxColorOcean600;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorOcean700;
      border-color: tokens.$ifxColorOcean700;
    }
  }

  &.btn-secondary:not(:disabled, .disabled) {
    &:focus {
      background-color: tokens.$ifxColorBerry500;
      border-color: tokens.$ifxColorBerry500;
    }

    &:hover {
      background-color: tokens.$ifxColorBerry500;
      border-color: tokens.$ifxColorBerry500;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorBerry500;
      border-color: tokens.$ifxColorBerry500;
    }
  }

  &.btn-secondary-secondary:not(:disabled, .disabled) {

    &:focus {
      background-color: tokens.$ifxColorBaseTransparent;
    }

    &:hover {
      color: tokens.$ifxColorBaseWhite;
      background-color: tokens.$ifxColorBerry500;
      border-color: tokens.$ifxColorBerry500;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorBerry500;
      border-color: tokens.$ifxColorBerry500;
    }
  }

  &.btn-success:not(:disabled, .disabled) {

    &:focus {
      background-color: tokens.$ifxColorGreen500;
      border-color: tokens.$ifxColorGreen500;
    }

    &:hover {
      background-color: tokens.$ifxColorGreen500;
      border-color: tokens.$ifxColorGreen500;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorGreen500;
      border-color: tokens.$ifxColorGreen500;
    }
  }

  &.btn-secondary-success:not(:disabled, .disabled) {
    color: tokens.$ifxColorBaseBlack;

    &:focus {
      background-color: tokens.$ifxColorBaseTransparent;
    }

    &:hover {
      background-color: tokens.$ifxColorGreen500;
      border-color: tokens.$ifxColorGreen500;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorGreen500;
      border-color: tokens.$ifxColorGreen500;
    }
  }

  &.btn-danger:not(:disabled, .disabled) {
    &:focus {
      background-color: tokens.$ifxColorRed500;
      border-color: tokens.$ifxColorRed500;
    }

    &:hover {
      background-color: tokens.$ifxColorRed600;
      border-color: tokens.$ifxColorRed600;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorRed700;
      border-color: tokens.$ifxColorRed700;
    }
  }

  &.btn-secondary-danger:not(:disabled, .disabled) {

    &:focus {
      background-color: tokens.$ifxColorBaseTransparent;
    }

    &:hover {
      color: tokens.$ifxColorBaseWhite;
      background-color: tokens.$ifxColorRed600;
      border-color: tokens.$ifxColorRed600;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorRed700;
      border-color: tokens.$ifxColorRed700;
    }
  }

  &.btn-warning:not(:disabled, .disabled) {

    &:focus {
      background-color: tokens.$ifxColorOrange500;
      border-color: tokens.$ifxColorOrange500;
    }

    &:hover {
      background-color: tokens.$ifxColorOrange500;
      border-color: tokens.$ifxColorOrange500;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorOrange500;
      border-color: tokens.$ifxColorOrange500;
    }
  }

  &.btn-secondary-warning:not(:disabled, .disabled) {
    color: tokens.$ifxColorBaseBlack;

    &:focus {
      background-color: tokens.$ifxColorBaseTransparent;
    }

    &:hover {
      background-color: tokens.$ifxColorOrange500;
      border-color: tokens.$ifxColorOrange500;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorOrange500;
      border-color: tokens.$ifxColorOrange500;
    }
  }

  &.btn-primary-tertiary {
    background-color: tokens.$ifxColorBaseTransparent;
    color: tokens.$ifxColorOcean500;

    &:hover {
      color: tokens.$ifxColorOcean600;
    }

    &:active,
    &.active {
      color: tokens.$ifxColorOcean700;
    }

    &:disabled,
    &.disabled {
      opacity: tokens.$ifxOpacity100;
      background-color: tokens.$ifxColorBaseTransparent;
      border-color: tokens.$ifxColorBaseTransparent;
      color: tokens.$ifxColorEngineering300;
    }
  }

  &.btn-secondary-tertiary {
    background-color: tokens.$ifxColorBaseTransparent;
    color: tokens.$ifxColorBerry500;

    &:hover {
      color: tokens.$ifxColorBerry500;
    }

    &:active,
    &.active {
      color: tokens.$ifxColorBerry500;
    }

    &:disabled,
    &.disabled {
      opacity: tokens.$ifxOpacity100;
      background-color: tokens.$ifxColorBaseTransparent;
      border-color: tokens.$ifxColorBaseTransparent;
      color: tokens.$ifxColorEngineering300;
    }
  }

  &.btn-success-tertiary {
    background-color: tokens.$ifxColorBaseTransparent;
    color: tokens.$ifxColorGreen500;

    &:hover {
      color: tokens.$ifxColorGreen500;
    }

    &:active,
    &.active {
      color: tokens.$ifxColorGreen500;
    }

    &:disabled,
    &.disabled {
      opacity: tokens.$ifxOpacity100;
      background-color: tokens.$ifxColorBaseTransparent;
      border-color: tokens.$ifxColorBaseTransparent;
      color: tokens.$ifxColorEngineering300;
    }
  }

  &.btn-danger-tertiary {
    background-color: tokens.$ifxColorBaseTransparent;
    color: tokens.$ifxColorRed500;

    &:hover {
      color: tokens.$ifxColorRed600;
    }

    &:active,
    &.active {
      color: tokens.$ifxColorRed700;
    }

    &:disabled,
    &.disabled {
      opacity: tokens.$ifxOpacity100;
      background-color: tokens.$ifxColorBaseTransparent;
      border-color: tokens.$ifxColorBaseTransparent;
      color: tokens.$ifxColorEngineering300;
    }

  }

  &.btn-warning-tertiary {
    background-color: tokens.$ifxColorBaseTransparent;
    color: tokens.$ifxColorOrange500;

    &:hover {
      color: tokens.$ifxColorOrange500;
    }

    &:active,
    &.active {
      color: tokens.$ifxColorOrange500;
    }

    &:disabled,
    &.disabled {
      opacity: tokens.$ifxOpacity100;
      background-color: tokens.$ifxColorBaseTransparent;
      border-color: tokens.$ifxColorBaseTransparent;
      color: tokens.$ifxColorEngineering300;
    }
  }
}