@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

.card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #ebe9e9;
  border-radius: 1px;
  width: 22rem;
  height: auto;
  text-decoration: none;
  color: #1D1D1D; //use tokens instead!

  &:hover { 
    cursor: pointer;
    border-color: #0A8276;
  }

  &.hasBtn { 
    &:hover { 
      cursor: default;
    }
  }

  & .card-img {
    & ::slotted([slot=img]) {
      width: 100%;
      vertical-align: bottom;
    }
  }

  & .card-body {
    padding: 24px;
  }

  &.horizontal {
    flex-direction: row;
    width: 538px;

    &.onlyBody { 
      width: 269px;
    }

    &.hasAll {
      height: auto;
    }

    &.largeSize {
      height: 218px;
    }

    &.smallSize {
      height: 138px;
    }

    & .card-body {
      flex: 1;
      width: 0;
      padding: 17px 24px 25px 25px;
    }

    & .card-img {
      flex: 1;
      order: 2;

      &.noImage { 
        display: none;
      }
    }

    &.left {
      & .card-img {
        order: 1;
      }

      & .card-body {
        order: 2;
      }
    }
  }
}

.card__text-wrapper {
  padding-bottom: 0px;

  &.hasBtn {
    padding-bottom: 16px;
  }
}

.card-text {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  white-space: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}