@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
  display: inline-flex;
}

.card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: tokens.$ifxColorBaseWhite;
  background-clip: border-box;
  border: 1px solid tokens.$ifxColorEngineering200;
  border-radius: 1px;
  //width: 22rem;
  width: 350px;
  height: auto;
  font-family: var(--ifx-font-family);


  &.linkHovered {
    border-color: tokens.$ifxColorEngineering200;
  }

  &.cardHovered {
    border-color: tokens.$ifxColorOcean500;
  }

  &.noBtns {
    & .vertical {
      & .lower__body-wrapper {
        padding-bottom: 24px;
      }
    }

    & .horizontal {
      & .lower__body-wrapper {
        padding-bottom: 24px;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  & .horizontal {
    display: flex;
    flex-direction: row;
    min-height: 218px;

    & .card-img {
      flex: 1;
      text-decoration: none;

      &.noImage {
        display: none;
      }

      & ::slotted([slot=img]) {
        width: 100%;
        vertical-align: bottom;
      }
    }

    & .lower__body-wrapper {
      flex: 1;
      display: grid;
      grid-template-rows: 1fr auto;

      & .upper-body {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: tokens.$ifxColorBaseBlack;
        padding: 24px 24px 0px 24px;
      }
    }
  }

  & .vertical {
    & .upper__body-wrapper {
      text-decoration: none;
      color: tokens.$ifxColorBaseBlack;

      & .card-img {
        height: 190px;

        &.noImage {
          display: none;
        }
      }

      & .upper-body {
        padding: 24px 24px 0px 24px;
      }
    }

    & .lower__body-wrapper {
      &:hover {
        border-color: tokens.$ifxColorEngineering200;
      }
    }
  }

  &.horizontal {
    flex-direction: row;
    width: 538px;

    & .card-img {
      flex: 1;
      order: 2;

      & ::slotted([slot=img]) {
        width: 100%;
        height: 100%;
        vertical-align: bottom;
        object-fit: cover;
      }
    }

    &.left {
      & .horizontal {
        & .card-img {
          order: 1;
        }

        & .lower__body-wrapper {
          order: 2;
        }
      }
    }
  }
}

.card:focus,
.card:focus-visible,
.focus {
  outline: none;
  border-color: tokens.$ifxColorOcean500 !important;
}