@use "~@infineon/design-system-tokens/dist/tokens";

:host {
  display: inline-block;

}

.spinner {
  position: relative;
  width: tokens.$ifxSize500;
  height: tokens.$ifxSize500;
}

.spinner.s {
  width: tokens.$ifxSize300;
  height: tokens.$ifxSize300;
}

.border {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
  border-top-color: tokens.$ifxColorOcean500;
  border-left-color: tokens.$ifxColorOcean500;
  border-right-color: tokens.$ifxColorOcean500;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-radius: 50%;
  animation: spin 2s linear infinite;

  &.inverted { 
    border-top-color: tokens.$ifxColorBaseWhite;
    border-left-color: tokens.$ifxColorBaseWhite;
    border-right-color: tokens.$ifxColorBaseWhite;
  }
}

.semiconductor {
  width: 100%;
  height: 100%;
  animation: spin 2s linear infinite;
  
  & svg { 
    fill: tokens.$ifxColorOcean500;
  }

  &.inverted { 
    & svg { 
      fill: tokens.$ifxColorBaseWhite;
    }
  }

  &.s {
    & svg {
      width: tokens.$ifxSize300;
      height: tokens.$ifxSize300;
    }
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}