@use "~@infineon/design-system-tokens/dist/tokens";

@import '~ag-grid-community/styles/ag-grid.css';

.zebra {
  & .ag-row-odd {
    background-color: tokens.$ifxColorEngineering100 !important;
  }

  & .ag-row {
    border-bottom: none !important;
  }
}

.ag-header-viewport {
  background-color: tokens.$ifxColorEngineering200 !important;
}

.table-container {
  display: block;
}

.sidebar-btn {
  margin-bottom: 24px;
}

.sidebar-container {
  margin-right: 24px;
}

.sidebar-layout {
  display: flex;
  flex-direction: row;
}

.topbar-layout {
  display: flex;
  flex-direction: column;
}

.table-pagination-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;

  & .pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

#table-wrapper {
  flex: 1;
  padding-bottom: tokens.$ifxSpace100;
  overflow-x: auto;
  width: 100%;
}

.table-wrapper {
  overflow-x: auto;
  width: 100%;
}

.ag-horizontal-left-spacer {
  display: none;
}

.table-wrapper .ag-root-wrapper-body {
  height: auto !important;
  min-height: 100px !important;
  min-width: 100px;
}

.filter-chips {
  display: flex;
  flex-wrap: wrap;
  gap: tokens.$ifxSpace100;
  margin-bottom: 12px;
}

.filter-chips > ifx-button {
  margin-left: -8px;
}

.set-filter-wrapper-sidebar {
  display: flex;
  flex-direction: column;
  margin-bottom: tokens.$ifxSpace100;
}

.set-filter-wrapper-topbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: tokens.$ifxSpace100;
  background: tokens.$ifxColorEngineering100;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 24px;
}

.headline-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

.inner-buttons-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.ifx-ag-grid {
  //display: grid;
  display: block;
  height: 100%;
  width: 100%;
  min-width: 100px;
  overflow-x: auto;
}

.ifx-ag-grid .ag-header-cell::after {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.ifx-ag-grid .ag-header-cell:focus {
  outline: none !important;
}

.ifx-ag-grid *:not(.ag-header-cell):focus {
  outline: none;
}

.ifx-ag-grid .ag-header-cell:not(:last-child)::before {
  content: '';
  position: absolute;
  right: 0;
  top: calc(50% - 12px);
  height: 24px;
  width: 1px;
  background-color: tokens.$ifxColorEngineering300;
}

.ag-pinned-left-header {
  background-color: tokens.$ifxColorEngineering200;
  min-width: 50px !important;
  max-width: 50px !important;
  width: 50px !important;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 12px);
    height: 24px;
    width: 1px;
    background-color: tokens.$ifxColorEngineering300;
  }
}

.ag-header-row {
  width: 50px !important;
}

.ag-pinned-left-cols-container {
  width: 50px !important;
  max-width: 50px !important;
  min-width: 50px !important;
}

.ag-overlay-loading-center {
  border: none;
  background: none;
  border-radius: none;
  box-shadow: none;
}

.ag-root-wrapper {
  border: 1px solid tokens.$ifxColorEngineering200;
}

.ag-header {
  background-color: tokens.$ifxColorEngineering100;
  border-bottom: none;

  &.ag-header-active {
    outline: none !important;
    border-color: #0a8276 !important;
  }
}

.ag-header-cell {
  padding-left: 16px;
  padding-right: 16px;
  gap: 4px;
}

.ag-header-cell-focus {
  border: none !important;
  outline: none !important;
}

.ag-header-cell-text {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: tokens.$ifxColorBaseBlack;
  font-family: var(--ifx-font-family);
}

.ag-row-focus {
  background-color: inherit !important;
}

.ag-row-hover {
  background-color: tokens.$ifxColorBaseWhite !important;
}

.ag-cell-focus {
  border: none !important;
  outline: none !important;
  background-color: inherit !important;
}

.ag-row {
  background-color: tokens.$ifxColorBaseWhite;
  border-bottom: 1px solid tokens.$ifxColorEngineering200;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  z-index: 1;
}

.ag-row-odd {
  background-color: tokens.$ifxColorBaseWhite;
}

.ag-cell {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  white-space: pre-line;
  min-height: 40px;
  height: auto;
}

.ag-ltr .ag-sort-indicator-icon {
  padding-left: 0px;
  vertical-align: bottom;
  line-height: 12px;
}

.ag-sort-indicator-container .ag-sort-order {
  display: none;
}

.unsort-icon-custom-color {
  color: tokens.$ifxColorEngineering400;
}

.filters-title {
  font-size: 24px;
  font-weight: 600;
}

.matching-results-container {
  flex: 1;
  font-family: 'Source Sans 3';
  display: flex;
  gap: 4px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -1px;
  padding-right: 56px;
}

.matching-results-count {
  font-weight: 600;
}

.matching-results-text {
  font-weight: 400;
}

@media (max-width: tokens.$ifxBreakpointM) {
  .table-wrapper,
  #table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .ag-root-wrapper {
    min-width: 100%;
  }

  .ag-body-horizontal-scroll {
    display: block;
  }

  .ag-header-cell,
  .ag-cell {
    min-width: 100px;
    white-space: nowrap;
  }

  .sidebar-layout {
    flex-direction: column;
  }

  .sidebar-container {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .set-filter-wrapper-topbar {
    padding-left: 16px;
    padding-right: 16px;
  }

  .table-pagination-wrapper {
    gap: tokens.$ifxSpace200;
  }
}
