@use "~@infineon/design-system-tokens/dist/tokens";

.segment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: tokens.$ifxSize100;
    position: relative;

    border: tokens.$ifxBorderRadius12 solid tokens.$ifxColorEngineering300;
    border-radius: tokens.$ifxBorderRadius12;
    padding: 0 tokens.$ifxSize100 0 tokens.$ifxSize100;
    
    height: 34px;

    background-color: tokens.$ifxColorBaseWhite;

    transition: all 100ms ease;
    transition-property: color, background;
    
    font: tokens.$ifxBodyBodySemibold04;

    &:focus-visible {
        color: tokens.$ifxColorBaseWhite;
        background-color: tokens.$ifxColorOcean500;
    }

    &:hover {         
        color: tokens.$ifxColorBaseWhite;
        background-color: tokens.$ifxColorOcean600;
        
        cursor: pointer;
    }
    
    &:active {
        background-color: tokens.$ifxColorOcean700;
    }
    
    &.segment--selected {
        color: tokens.$ifxColorBaseWhite;
        
        background-color: tokens.$ifxColorOcean500;
    }

    &.segment--small {
        height: 30px;
    }
}

.segment::after {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    outline: tokens.$ifxBorderRadius12 solid tokens.$ifxColorEngineering300;
    border-radius: tokens.$ifxBorderRadius12;

    content: '';
}