@use "~@infineon/design-system-tokens/dist/tokens";



.sidebar-filter-search-wrapper {
  display: flex;
  padding: tokens.$ifxSpace150 tokens.$ifxSpace200 tokens.$ifxSpace200 tokens.$ifxSpace200;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: tokens.$ifxSpace50;
  font-family: var(--ifx-font-family); // tokens.$ifxFontFamilyBody;


  background: tokens.$ifxColorEngineering200;
}

.topbar-filter-search-wrapper {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: tokens.$ifxSpace50;
  font-family: var(--ifx-font-family); // tokens.$ifxFontFamilyBody;


}

.topbar-filter-search-wrapper ifx-search-field {
  width: 100%; /* Ensure ifx-search-field takes up full width */
}

.filter-name {
  font-size: tokens.$ifxFontSizeM;
  line-height: tokens.$ifxLineHeightM;
  font-weight: 600;
}