.dropdown__divider-container {
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  
  width: 235px;
  height: 9px;

  & .dropdown__divider-wrapper { 
    width: 203px;
    height: 1px;

    background: #EEEDED;
  }
}