@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

:host {
  display: block;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1060;
  overflow-y: auto;
  font-family: var(--ifx-font-family);

}

.modal-container.open {
  display: block;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: tokens.$ifxColorBaseBlack;
  opacity: 0.5;
  z-index: 0;
}

.modal-content-container {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  min-height: 218px;
  background-color: #fff;
  border-radius: tokens.$ifxBorderRadiusNone;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-sizing: border-box;
  align-items: stretch;

}

/* Add desktop size here */
@media screen and (min-width: 768px) {
  .modal-content-container {
    width: 540px;
    min-height: 132px;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 90vh;
}

.modal-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  background-color: tokens.$ifxColorOcean500;
  align-self: stretch;

  &.danger {
    background-color: tokens.$ifxColorRed500;
  }

  & ifx-icon {
    color: tokens.$ifxColorBaseWhite;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  min-height: 76px;
  max-height: 105px;
  box-sizing: border-box;
  border-radius: 1px 1px 0px 0px;
  border-bottom: 1px solid tokens.$ifxColorEngineering200;
}

.modal-caption {
  max-height: 56px;
  display: -webkit-box;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}

.modal-header h2 {
  margin: 0;
  font-weight: tokens.$ifxFontWeightSemibold;
  font-size: tokens.$ifxFontSizeXl;
  line-height: 28px;
}

.modal-header button {
  background: none;
  border: none;
  font-size: 1.5em;
  padding: 0;
  cursor: pointer;
}

.modal-close-button {
  align-self: flex-start;
  margin-right: -8px;
}

.modal-body {
  padding: 16px 24px;
  min-height: 56px;
  box-sizing: border-box;
  flex: 1;
  overflow-y: auto;

  // & slot[name=content] {
  //   display: -webkit-box;
  //   -webkit-line-clamp: 1;
  //   -webkit-box-orient: vertical;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  // }
}

// .modal-footer{
//   display: flex;
//   justify-content: flex-end;
//   gap: 1em;
//   box-sizing: border-box;
//   margin-left: auto;
//   gap: 24px;
//   padding-top: 16px;
//   padding-bottom: 32px;
//   padding-right: 24px;
// }

.modal-footer.buttons-present ::slotted(*){
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding: 16px 24px 32px 16px
}

.modal-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.5em;
  flex-grow: 1;

  &.primary {
    background-color: tokens.$ifxColorOcean500;
  }

  &.secondary {
    background-color: tokens.$ifxColorEngineering500;
  }

  &.danger {
    background-color: tokens.$ifxColorRed500;
  }

  &.success {
    background-color: tokens.$ifxColorGreen500;
  }

  &.warning {
    background-color: tokens.$ifxColorOrange500;
  }

  &.orange {
    background-color: tokens.$ifxColorOrange500;
  }

  &.ocean {
    background-color: tokens.$ifxColorOcean500;
  }

  &.grey {
    background-color: tokens.$ifxColorEngineering500;
  }

  &.grey-200 {
    background-color: tokens.$ifxColorEngineering200;
  }

  &.red {
    background-color: tokens.$ifxColorRed500;
  }

  &.green {
    background-color: tokens.$ifxColorGreen500;
  }

  &.berry {
    background-color: tokens.$ifxColorBerry500;
  }
}