@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";

@import "~ag-grid-community/styles/ag-grid.css";
@import "~ag-grid-community/styles/ag-theme-alpine.css";


.ag-root-wrapper {
  border: none;
}


.ag-header {
  background-color: tokens.$ifxColorEngineering100;
  border-bottom: none;
}

.ag-header-cell {
  padding-left: 16px;
  padding-right: 16px;
  gap: 4px;
}



.ag-header-cell-text {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: tokens.$ifxColorBaseBlack;
}


.ag-row {
  background-color: tokens.$ifxColorBaseWhite;
  border-bottom: 1px solid tokens.$ifxColorEngineering200;
  font-size: 13;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

}

.ag-row-odd {
  background-color: tokens.$ifxColorBaseWhite;
}

.ag-cell {
  padding-left: 16px;
  padding-right: 16px;
}

.ag-ltr .ag-sort-indicator-icon {
  padding-left: 0px;
}

.unsort-icon-custom-color {
  color: tokens.$ifxColorEngineering400;
}