@use "../../../node_modules/@infineon/design-system-tokens/dist/tokens";


.search-bar {
  box-sizing: border-box;
  height: 40px;
  background-color: tokens.$color-bg-white;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  //padding: 12px 16px;

  //border: 2px solid blue;

  &.closed { 
    display: inline-flex;
    width: auto;
  }

  & .search-bar-wrapper { 
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    //border: 1px solid; //remove
    //padding: 0 16px;

    & ifx-search-input { 
      width: 100%;
    }
    // & input { 
    //   width: 100%;
    // }
  
    & ifx-link:hover { 
      cursor: pointer;
    }
  }

  // & .search-input__wrapper {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  //   padding: 12px 16px;
  //   gap: 12px;
  //   //width: 274px;
  //   height: 40px;
  //   border-radius: 1px;
  //   flex: none;
  //   order: 0;
  //   flex-grow: 1;
  // }

  .search-bar__icon-wrapper {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & a { 
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: tokens.$color-text-black;
      text-decoration: none;
      display: flex;
      align-items: center;
      flex: none;
      order: 1;
      flex-grow: 0;
      padding-left: 11px;
    }

    & ifx-icon:hover { 
      cursor: pointer;
    }

  }

}


// @media screen and (max-width: 720px) { 
//   .search-bar { 
//     padding: 0px 16px;
//     width: 360px;
//     height: 64px;
//   }
// }

// @media screen and (min-width: 720px) { 
//   .search-bar { 
//     padding: 0px 16px;
//     width: 360px;
//     height: 64px;
//   }
// }