@use "~@infineon/design-system-tokens/dist/tokens";

:host {
  z-index: 9999;
}

.dropdown-menu {
  display: none;
  visibility: hidden;
  flex-direction: column;
  width: 224px;
  max-height: 289px;
  min-width: 224px;
  overflow-y: auto;
  background: tokens.$color-bg-white;
  box-shadow: 0px 6px 9px 0px rgba(29, 29, 29, 0.10);
  border: 1px solid #EEEDED;
  padding: 8px 0px;

  &.small { 
    max-height: 266px;
    max-width: 186px;
    overflow-y: auto;
  }

  &.hideTopPadding { 
    padding-top: 0px;
  }
}

.dropdown-menu.show {
  display: flex;
  visibility: visible;
}