@use "~@infineon/design-system-tokens/dist/tokens";

:host {
  position: relative;
  z-index: 1000;
}

.dropdown-menu {
  display: none;
  visibility: hidden;
  flex-direction: column;
  width: 224px;
  max-height: 289px;
  min-width: 224px;
  overflow-y: auto;
  background: tokens.$ifxColorBaseWhite;
  box-shadow: 0px 6px 9px 0px #1d1d1d1a;
  border: 1px solid tokens.$ifxColorEngineering200;
  padding: 8px 0px;

  &.small { 
    max-height: 266px;
    max-width: 186px;
    overflow-y: auto;
  }

  &.hideTopPadding { 
    padding-top: 0px;
  }
}

.dropdown-menu.show {
  display: flex;
  visibility: visible;
}