@use "~@infineon/design-system-tokens/dist/tokens";

:host {
  display: inline-flex;
}

.indicator__container { 
  & .dot__wrapper { 
  display: flex;
  width: 8px;
  height: 8px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: tokens.$ifxColorOcean500;
  }

  & .number__container {
  height: 16px;
  display: inline-flex;
  padding: 0; 
  min-width: 16px; 
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: tokens.$ifxColorOcean500;

    & .number__wrapper {
      padding: 0 4px;
      color: tokens.$ifxColorBaseWhite;
      text-align: center;
      font-size: tokens.$ifxFontSizeS;
      font-style: normal;
      font-weight: tokens.$ifxFontWeightSemibold;
      line-height: 16px;
    }

    &.inverted {
      background-color: tokens.$ifxColorBaseWhite;

      & .number__wrapper {
        color: tokens.$ifxColorOcean500;
      }
    }
  }
}


