@use "~@infineon/design-system-tokens/dist/tokens";
@use "~@infineon/design-system-tokens/dist/fonts";
@use "../../global/font.scss";

:host {
  vertical-align: bottom;
}

.btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: tokens.$ifxSize500;
  padding: 0px tokens.$ifxSpace200;
  gap: tokens.$ifxSpace100;
  color: tokens.$ifxColorBaseWhite;
  font-weight: tokens.$ifxFontWeightSemibold;
  border-radius: tokens.$ifxBorderRadius12;
  line-height: tokens.$ifxLineHeightM;
  font-family: tokens.$ifxFontFamilyBody;
  font-style: normal;
  text-decoration: none;
  user-select: none;
  font-size: tokens.$ifxFontSizeM;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:not(.disabled) {
  cursor: pointer;
}

.btn.disabled {
  pointer-events: none;
}

.btn-default {
  //default variant=primary; default color=default
  color: tokens.$ifxColorBaseWhite;
  background-color: tokens.$ifxColorOcean500;

  &:disabled,
  &.disabled {
    background-color: tokens.$ifxColorEngineering300;
    color: tokens.$ifxColorBaseWhite;
    pointer-events: none;

  }
}

.btn-secondary-default {
  background-color: tokens.$ifxColorBaseWhite;
  color: tokens.$ifxColorOcean500;
  border: 1px solid tokens.$ifxColorOcean500;

  &:disabled,
  &.disabled {
    background-color: tokens.$ifxColorBaseWhite;
    border: 1px solid tokens.$ifxColorEngineering300;
    color: tokens.$ifxColorEngineering300;
    pointer-events: none;

  }
}

.btn-tertiary-default {
  background-color: tokens.$ifxColorBaseTransparent;
  color: tokens.$ifxColorOcean500;

  &:disabled,
  &.disabled {
    color: tokens.$ifxColorEngineering300;
    pointer-events: none;

  }
}


.btn-danger {
  color: tokens.$ifxColorBaseWhite;
  background-color: tokens.$ifxColorRed500;
  border-color: tokens.$ifxColorRed500;

  &:disabled,
  &.disabled {
    background-color: tokens.$ifxColorEngineering300;
    color: tokens.$ifxColorBaseWhite;
    pointer-events: none;

  }
}

.btn-secondary-danger {
  background-color: tokens.$ifxColorBaseWhite;
  color: tokens.$ifxColorRed500;
  border: 1px solid tokens.$ifxColorRed500;

  &:disabled,
  &.disabled {
    background-color: tokens.$ifxColorBaseWhite;
    border: 1px solid tokens.$ifxColorEngineering300;
    color: tokens.$ifxColorEngineering300;
    pointer-events: none;

  }
}

.btn-tertiary-danger {
  //combination tertiary + danger not in design
  background-color: tokens.$ifxColorBaseTransparent;
  color: tokens.$ifxColorRed500;

  &:disabled,
  &.disabled {
    background-color: tokens.$ifxColorBaseWhite;
    color: tokens.$ifxColorEngineering300;
    pointer-events: none;

  }
}

.btn-inverse {
  color: tokens.$ifxColorOcean500;
  background-color: tokens.$ifxColorBaseWhite;

  &:disabled,
  &.disabled {
    opacity: tokens.$ifxOpacity100;
    background-color: tokens.$ifxColorBaseWhite;
    color: tokens.$ifxColorOcean500;
    pointer-events: none;
  }
}

.btn-secondary-inverse {
  color: tokens.$ifxColorBaseWhite;
  border: 1px solid tokens.$ifxColorBaseWhite;

  &:disabled,
  &.disabled {
    border: 1px solid tokens.$ifxColorBaseWhite;
    color: tokens.$ifxColorBaseWhite;
    pointer-events: none;

  }
}


.btn-tertiary-inverse {
  color: tokens.$ifxColorBaseWhite;

  &:disabled,
  &.disabled {
    color: tokens.$ifxColorBaseWhite;
    opacity: tokens.$ifxOpacity100;
    pointer-events: none;

  }
}

.btn {
  & ifx-icon:empty {
    display: none;
  }

  &.btn-xs {
    font-size: tokens.$ifxFontSizeS;
    height: tokens.$ifxSize400;
    line-height: tokens.$ifxLineHeightXs;
  }

  &.btn-s {
    font-size: tokens.$ifxFontSizeS;
    height: tokens.$ifxSize450;
    line-height: tokens.$ifxLineHeightS;
  }

  // &.btn-m { //default
  //   font-size: tokens.$ifxFontSizeM;
  //   height: tokens.$ifxSize400;
  //   line-height: tokens.$ifxLineHeightM;
  // }


  &.btn-l {
    font-size: tokens.$ifxFontSizeXl;
    height: tokens.$ifxSize600;
    line-height: tokens.$ifxLineHeightXl;
  }



  &.btn-default:not(:disabled, .disabled) {
    &:focus:not(:active, .active) {
      outline: none;
      box-shadow: 0 0 0 2px tokens.$ifxColorBaseWhite, 0 0 0 4px tokens.$ifxColorOcean500;
    }

    &:hover {
      background-color: tokens.$ifxColorOcean600;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorOcean700;
    }
  }

  &.btn-secondary-default:not(:disabled, .disabled) {
    &:focus:not(:active, .active) {
      outline: none;
      box-shadow: 0 0 0 2px tokens.$ifxColorBaseWhite, 0 0 0 4px tokens.$ifxColorOcean500;
    }

    &:hover {
      color: tokens.$ifxColorBaseWhite;
      background-color: tokens.$ifxColorOcean600;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorOcean700;
    }
  }

  &.btn-secondary:not(:disabled, .disabled) {

    &:hover {
      background-color: tokens.$ifxColorBerry500;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorBerry500;
    }
  }



  &.btn-danger:not(:disabled, .disabled) {
    &:focus:not(:active, .active) {
      outline: none;
      box-shadow: 0 0 0 2px tokens.$ifxColorBaseWhite, 0 0 0 4px tokens.$ifxColorOcean500;
    }

    &:hover {
      background-color: tokens.$ifxColorRed600;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorRed700;
    }
  }

  &.btn-secondary-danger:not(:disabled, .disabled) {

    &:focus:not(:active, .active) {
      outline: none;
      box-shadow: 0 0 0 2px tokens.$ifxColorBaseWhite, 0 0 0 4px tokens.$ifxColorOcean500;
    }

    &:hover {
      color: tokens.$ifxColorBaseWhite;
      background-color: tokens.$ifxColorRed600;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorRed700;
    }
  }


  &.btn-inverse:not(:disabled, .disabled) {
    &:focus:not(:active, .active) {
      outline: none;
      box-shadow: 0 0 0 2px tokens.$ifxColorOcean500, 0 0 0 4px tokens.$ifxColorBaseWhite;
    }

    &:hover {
      background-color: tokens.$ifxColorEngineering200;
    }

    &:active,
    &.active {
      background-color: tokens.$ifxColorEngineering300;
    }
  }

  &.btn-secondary-inverse:not(:disabled, .disabled) {
    &:focus:not(:active, .active) {
      outline: none;
      box-shadow: 0 0 0 2px tokens.$ifxColorOcean500, 0 0 0 4px tokens.$ifxColorBaseWhite;
    }

    &:hover {
      color: tokens.$ifxColorOcean500;
      background-color: tokens.$ifxColorEngineering200;
    }

    &:active,
    &.active {
      color: tokens.$ifxColorOcean500;
      background-color: tokens.$ifxColorEngineering300;
    }
  }



  &.btn-tertiary-default:not(:disabled, .disabled) {
    &:focus:not(:active, .active) {
      outline: none;
      box-shadow: 0 0 0 2px tokens.$ifxColorBaseWhite, 0 0 0 4px tokens.$ifxColorOcean600;
    }

    &:hover {
      color: tokens.$ifxColorOcean600;
    }

    &:active,
    &.active {
      color: tokens.$ifxColorOcean700;
    }


  }





  &.btn-tertiary-danger:not(:disabled, .disabled) {
    &:focus:not(:active, .active) {
      outline: none;
      box-shadow: 0 0 0 2px tokens.$ifxColorBaseWhite, 0 0 0 4px tokens.$ifxColorRed600;
    }

    &:hover {
      color: tokens.$ifxColorRed600;
    }

    &:active,
    &.active {
      color: tokens.$ifxColorRed700;
    }

  }


  &.btn-tertiary-inverse:not(:disabled, .disabled) {
    &:focus:not(:active, .active) {
      outline: none;
      box-shadow: 0 0 0 2px tokens.$ifxColorOcean500, 0 0 0 4px tokens.$ifxColorBaseWhite;
    }

    &:hover {
      color: tokens.$ifxColorEngineering200;

    }

    &:active,
    &.active {
      color: tokens.$ifxColorEngineering300;
    }
  }
}