@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../global/font.scss";


// ifx-slider.scss
:host {
  display: inline-block;
}

.left-icon,
.right-icon,
.left-text,
.right-text,
.percentage-display {
  font-size: tokens.$ifxFontSizeS;
  color: tokens.$ifxColorEngineering500;
  margin-left: tokens.$ifxSpace100;

  &.disabled {
    // Add the disabled state for the percentage display
    color: tokens.$ifxColorEngineering300;
  }
}

.left-icon,
.left-text {
  margin-right: tokens.$ifxSpace100;
}

.right-icon,
.right-text,
.percentage-display {
  margin-left: tokens.$ifxSpace100;
}


.ifx-slider {
  display: flex;
  align-items: center;
  padding: tokens.$ifxSpace25 tokens.$ifxSpace200;
  border-radius: tokens.$ifxBorderRadiusRound;

  input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, tokens.$ifxColorOcean500 0%, tokens.$ifxColorOcean500 var(--value-percent, 0%), tokens.$ifxColorEngineering200 var(--value-percent, 0%), tokens.$ifxColorEngineering200 100%);
    outline: none;
    cursor: pointer;
    transition: 0.2s;

    &::-moz-range-thumb {
      width: tokens.$ifxSize250;
      height: tokens.$ifxSize250;
      border-radius: 50%;
      background: tokens.$ifxColorOcean500;
      cursor: pointer;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    }
    

    &:not(:disabled)::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 16px;
      height: 16px;
      background: tokens.$ifxColorOcean500;
      border-radius: 50%;
      cursor: pointer;
      transition: box-shadow 0.2s;

      &:hover {
        background: tokens.$ifxColorOcean600;
      }

      &:active {
        background: tokens.$ifxColorOcean700;
      }
    }
  }

  input[type='range']:disabled {
    background: tokens.$ifxColorEngineering300;
    cursor: default;
  }

  input[type='range']:disabled::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: tokens.$ifxColorEngineering300;
    border-radius: 50%;
    cursor: default;
  }

  & .range-slider__wrapper {
    position: relative;
    width: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 2px;

    background: linear-gradient(to right, tokens.$ifxColorEngineering200 0%, tokens.$ifxColorEngineering200 var(--min-value-percent, 100%), tokens.$ifxColorOcean500 var(--min-value-percent, 100%), tokens.$ifxColorOcean500 var(--max-value-percent, 100%), tokens.$ifxColorEngineering200 var(--max-value-percent, 100%), tokens.$ifxColorEngineering200 100%);

    height: 4px;
    
    @mixin thumb() {
      -webkit-appearance: none;
      border: none; 
      pointer-events: auto;
      cursor: pointer;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    }
    
    @mixin track() {
      -webkit-appearance: none;
      border: none;
      background: none; 
      width: 100%;
    }

    input[type='range'] {
      position: absolute;
      pointer-events: none; 
      background: none;

      &::-webkit-slider-thumb { @include thumb; }
      &::-moz-range-thumb { @include thumb; }

      &::-webkit-slider-runnable-track { @include track; }
      &::-moz-range-track { @include track; }
    }
  }
  
}
