@use "~@infineon/design-system-tokens/dist/tokens";
@use "../../../global/font.scss";

.step-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: tokens.$ifxSize100;

    &.first-step{
        .step-connector-l{
            height: 0px;
        }
    }

    &.last-step{
        .step-connector-r{
            height: 0px;
        }
    }

    &.completed{
        .step-connector-l, .step-connector-r, .step-icon{
            background: tokens.$ifxColorOcean500;
        }
    }
}

.active-indic{
    width: tokens.$ifxSize200;
    height: tokens.$ifxSize200;
    border-radius: tokens.$ifxBorderRadiusRound;
    background: white;
}

.step-icon-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.step-icon{
    width: tokens.$ifxSize300;
    height: tokens.$ifxSize300;
    background-color: tokens.$ifxColorEngineering400;
    border-radius: tokens.$ifxBorderRadiusRound;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: tokens.$ifxBodyBody03;
    color: white;
    font-weight: 400;
    font-size: tokens.$ifxSize200;
}

.step-connector-r, .step-connector-l{
    height: 2px;
    width: tokens.$ifxSize800 + tokens.$ifxSize50;
    background-color: tokens.$ifxColorEngineering400;
}
