@use "~@infineon/design-system-tokens/dist/tokens";

.step-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: tokens.$ifxSize100;
    font: tokens.$ifxBodyBody03;


    &.vertical {
        flex-direction: row;
        gap: tokens.$ifxSize150;
        width: unset;
        height: 100%;
        
        .step-icon-wrapper {
            flex-direction: column;
            width: unset;
            height: 100%;
        }
    }
    
    &.compact {
        gap: 0;
        max-width: 100%;
        .step-label{
            max-width: 100%;
            cursor: auto;
            align-self: flex-start;
            color: tokens.$ifxColorEngineering500;
        }
        
        &.indicator-left {
            align-items: flex-end;
            text-align: right;
        }
        
        &.indicator-right {
            align-items: flex-start;
        }
    }

    .step-label {
        max-width: 90%;
        color: tokens.$ifxColorEngineering300; 
        word-wrap: break-word;
        &.curr-label{
            font: tokens.$ifxHeadingHeadingCompact04; 
        }
        &:focus {
        outline: 2px solid tokens.$ifxColorOcean500; 
        outline-offset: 2px;
    }
        &.next-label{
            font: tokens.$ifxBodyBody05;
        }
        :hover{
            color: tokens.$ifxColorEngineering300;
        }
    }

    
    &.first-step {
        .step-connector-l{
            height: 0px;
        }
    }
    
    &.last-step{
        .step-connector-r{
            height: 0px;
        }
    }

    &.vertical {
        &.first-step .step-connector-l,
        &.last-step .step-connector-r {
            width: 0px;
        }
    }

    &.complete{
        .step-connector-l, .step-connector-r, .step-icon {
            background: tokens.$ifxColorOcean500;
            &.active, &.error {
                background: tokens.$ifxColorEngineering300;
            }
        }
        &:not(.disabled) {
            .step-label{
                cursor: pointer;
                color: tokens.$ifxColorBaseBlack;
                :hover {
                    color: tokens.$ifxColorOcean600;
                }
            }
        }
    } 
    
    &.disabled{
        .step-connector-l, 
        .step-connector-r, 
        .step-icon {
            background-color: tokens.$ifxColorEngineering300;
        }
        .step-label, 
        .step-label :hover{
            color: tokens.$ifxColorEngineering300;
        }
    }
    
    &.active{
        .step-connector-l, 
        .step-connector-r, 
        .step-icon {
            background: tokens.$ifxColorOcean500;
           &.active, 
           &.error {
               background: tokens.$ifxColorEngineering300;
           }
        }
        .step-label, 
        .step-label :hover{
            color: tokens.$ifxColorBaseBlack;
        }
        &.complete .step-label { 
            cursor: auto;
        }
        
    } 

    &.clickable:not(.active) .step-label{
        cursor: pointer;
    }

    &.error:not(.active){
        margin: auto;
        color: tokens.$ifxColorRed500;
        .step-label{
            color: tokens.$ifxColorRed500;
            :hover{
                color: tokens.$ifxColorOcean500;
            }
        }
    }

    &.disabled{
        .step-label{
            cursor: auto;
        }
    }

    &:hover{
        &.complete:not(.disabled):not(.active){
            .step-connector-l, 
            .step-connector-r, 
            .step-icon {
                background: tokens.$ifxColorOcean600;
                &.active, 
                &.error {
                    background: tokens.$ifxColorEngineering300;
                }
            } 
            .step-label {
                color: tokens.$ifxColorOcean600;
            }
        }
    }
    
}

.active-indic {
    width: tokens.$ifxSize200;
    height: tokens.$ifxSize200;
    border-radius: tokens.$ifxBorderRadiusRound;
    background: white;
}

.step-icon-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.step-icon {
    width: tokens.$ifxSize300;
    height: tokens.$ifxSize300;
    background-color: tokens.$ifxColorEngineering300;
    border-radius: tokens.$ifxBorderRadiusRound;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.error-icon {
    width: tokens.$ifxSize300;
    height: tokens.$ifxSize300;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-connector-r, 
.step-connector-l {
    height: 2px;
    min-width: tokens.$ifxSize500;
    flex-grow: 1;
    background-color: tokens.$ifxColorEngineering300;
}

.vertical {
    .step-connector-r, 
    .step-connector-l {
        height: unset;
        min-width: unset;
        width: 2px;
        min-height: tokens.$ifxSize500;
    }
}